Repository smartcontractkit/documentation, pull requests merged in 2022-11, with the labels that each got.

#1037 Remove Ethereum merge docs
  _data/navigation.js
  docs/ethereum.md
  docs/resources/ethereum-proof-of-stake-merge.md
  firebase.json
Labels: evm

#1041 Add HECO Chain deprecation info
  _includes/deprecated-feed.liquid
  _includes/feed.liquid
Labels: data feeds, evm

#1046 Update automation pricing example values
  docs/chainlink-automation/automation-economics.md
Labels: evm, keepers

#832 v1.10.0 - Document new audit log environment variables, use cases, and example values for the new AUDIT_LOGS_* variables and feature (optional audit log forwarding via HTTP)
  docs/chainlink-nodes/configuration-variables.md
Labels: node operators

#1038 Add Blockchain Integration Framework documentation
  docs/blockchain-integrations-framework/index.md
Labels: ready to merge, evm

#1051 Add data provider redirects
  firebase.json
Labels: evm

#1050 CL Node v1.10.0 release
  docs/chainlink-nodes/configuration-variables.md
  docs/chainlink-nodes/node-versions.md
Labels: node operators

#1059 Fix Deprecating Feeds list
  src/features/feeds/components/FeedList.tsx
Labels: data feeds

#1060 Swap moonriver and moonbeam JSON URLs
  src/features/feeds/data/chains.ts
Labels: data feeds

#1062 VRF v2: Callout directfunding remix gas limit setup
  src/pages/vrf/v2/direct-funding/examples/get-a-random-number.md
Labels: ready to merge, evm, vrf

#1063 fix chainlink-automation-config worflow
  .github/workflows/chainlink-automation-config.yml
Labels: ready to merge

#1061 Add HECO shutdown notice
  src/features/feeds/components/FeedList.tsx
Labels: ready to merge, data feeds

#1066 Enable Goerli PoR feeds
  src/features/feeds/data/chains.ts
Labels: data feeds

#1078 HECO deprecation - November 23rd
  .eslintignore
  scripts/reference/chains.json
  src/features/feeds/components/FeedList.tsx
  src/features/feeds/data/chains.ts
  src/pages/resources/link-token-contracts.md
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: data feeds
