Repository smartcontractkit/documentation, pull requests merged in 2022-12, with the labels that each got.

#1084 Replace header images with callouts for contacting an expert
  public/files/2306b8b-Decentralized_Oracles_V3.png
  public/files/8c35025-Request__Receive_Data.png
  public/files/a4c6c80-85d09b6-19facd8-banner.png
  public/images/contract-devs/generic-banner.png
  src/features/feeds/components/FeedPage.astro
  src/pages/any-api/introduction.md
  src/pages/architecture-overview/architecture-overview.md
  src/pages/chainlink-automation/automation-release-notes.md
  src/pages/chainlink-automation/introduction.md
  src/pages/data-feeds/index.mdx
  src/pages/rc.mdx
  src/pages/resources/link-token-contracts.md
  src/pages/vrf/v1/introduction.md
  src/pages/vrf/v2/introduction.md
Labels: data feeds, api call, vrf, chainlink automation

#1090 Launch NFT Floor Price Feeds for Mainnet
  src/features/feeds/components/Tables.module.css
  src/features/feeds/data/chains.ts
  src/pages/data-feeds/nft-floor-price/index.md
Labels: data feeds

#1092 Update the list of data provider nodes
  src/pages/any-api/data-providers/introduction.md
Labels: api call

#1093 Fix tabs in node ops docs
  src/pages/chainlink-nodes/run-an-ethereum-client.md
  src/pages/chainlink-nodes/running-a-chainlink-node.md
Labels: node operators

#1094 Add PoR address verification info
  src/features/feeds/callouts/FeedsCommonCallout.astro
  src/features/feeds/callouts/por-verification.md
  src/features/feeds/components/FeedPage.astro
Labels: data feeds

#1097 Aelmanaa/node ops reorg
  public/files/ab5762f-end-to-end-diagram.png
  public/images/chainlink-nodes/node-operators/currentPrice.jpg
  public/images/chainlink-nodes/node-operators/deploy-operator.jpg
  public/images/chainlink-nodes/node-operators/job-created.jpg
  public/images/chainlink-nodes/node-operators/job-created.png
  public/images/chainlink-nodes/node-operators/job-id.jpg
  public/images/chainlink-nodes/node-operators/key-management.jpg
  public/images/chainlink-nodes/node-operators/operator-authorizedsenders.jpg
  public/images/chainlink-nodes/node-operators/operator-deployed.jpg
  public/images/chainlink-nodes/node-operators/operator-isauthorizedsender.jpg
  public/images/chainlink-nodes/node-operators/operator-withdraw-link.jpg
  public/images/chainlink-nodes/node-operators/requestEthereumPrice.jpg
  public/images/chainlink-nodes/node-operators/taskList.jpg
  public/samples/APIRequests/ATestnetConsumer.sol
  public/samples/ChainlinkNodes/Operator.sol
  public/samples/ChainlinkNodes/jobs/get-uint256.toml
  src/config/sidebar.ts
  src/features/redirects/redirects.json
  src/pages/any-api/find-oracle.md
  src/pages/architecture-overview/architecture-request-model.md
  src/pages/chainlink-nodes.mdx
  src/pages/chainlink-nodes/external-adapters/node-operators.md
  src/pages/chainlink-nodes/external-initiators/external-initiators-in-nodes.md
  src/pages/chainlink-nodes/external-initiators/external-initiators-introduction.md
  src/pages/chainlink-nodes/fulfilling-requests.md
  src/pages/chainlink-nodes/node-versions.md
  src/pages/chainlink-nodes/resources/best-practices-aws.md
  src/pages/chainlink-nodes/resources/best-security-practices.md
  src/pages/chainlink-nodes/resources/connecting-to-a-remote-database.md
  src/pages/chainlink-nodes/resources/enabling-https-connections.md
  src/pages/chainlink-nodes/resources/evm-performance-configuration.md
  src/pages/chainlink-nodes/resources/index.md
  src/pages/chainlink-nodes/resources/miscellaneous.md
  src/pages/chainlink-nodes/resources/performing-system-maintenance.md
  src/pages/chainlink-nodes/resources/requirements.md
  src/pages/chainlink-nodes/resources/run-an-ethereum-client.md
  src/pages/chainlink-nodes/running-a-chainlink-node.md
  src/pages/chainlink-nodes/v1/configuration.md
  src/pages/chainlink-nodes/v1/fulfilling-requests.md
  src/pages/chainlink-nodes/v1/index.md
  src/pages/chainlink-nodes/v1/running-a-chainlink-node.md
Labels: node operators
