Repository smartcontractkit/documentation, pull requests merged in 2022-09, with the labels that each got.

#984 Add additional Ethereum Merge guidance
  _includes/feed.liquid
  docs/resources/ethereum-proof-of-stake-merge.md
Labels: evm

#976 Add documentation for VRF v2 UI features
  _data/navigation.js
  _includes/sections/vrf-v2-ui-callout.md
  _src/images/vrf/v2-ui-consumers.png
  _src/images/vrf/v2-ui-history-events.png
  _src/images/vrf/v2-ui-history-failed.png
  _src/images/vrf/v2-ui-overview.png
  _src/images/vrf/v2-ui-pending.png
  _src/images/vrf/v2-ui-recent-fulfill.png
  docs/vrf/v2/examples/get-a-random-number.md
  docs/vrf/v2/examples/programmatic-subscription.md
  docs/vrf/v2/introduction.md
  docs/vrf/v2/migration-from-v1.md
  docs/vrf/v2/ui.md
Labels: enhancement, evm, vrf

#982 Remove Kovan from the documentation
  _data/variables.js
  _includes/feed.liquid
  _includes/samples/DataProviders/DnsOwnership.sol
  _includes/samples/DataProviders/Finage.sol
  _includes/samples/DataProviders/Kraken.sol
  _src/reference/chains.json
  _src/reference/linkNameSymbol.json
  _tools/networks.ts
  docs/any-api/data-providers/dns-ownership.md
  docs/any-api/data-providers/finage-global-market-data.md
  docs/any-api/data-providers/google-weather.md
  docs/any-api/data-providers/introduction.md
  docs/any-api/data-providers/kraken-rates.md
  docs/any-api/testnet-oracles.md
  docs/chainlink-keepers/keepers-release-notes.md
  docs/chainlink-keepers/supported-networks.html
  docs/chainlink-nodes/configuration-variables.md
  docs/chainlink-nodes/enabling-https-connections.md
  docs/chainlink-nodes/fulfilling-requests.md
  docs/chainlink-nodes/miscellaneous.md
  docs/chainlink-nodes/performing-system-maintenance.md
  docs/chainlink-nodes/run-an-ethereum-client.md
  docs/chainlink-nodes/running-a-chainlink-node.md
  docs/data-feeds/feed-registry.html
  docs/getting-started/advanced-tutorial.md
  docs/resources/link-token-contracts.md
  docs/vrf/v1/examples/get-a-random-number.md
  docs/vrf/v1/supported-networks.md
Labels: ready to merge, data feeds, evm, node operators, keepers, vrf

#987 Update the Ethereum client guide
  _data/navigation.js
  docs/chainlink-nodes/run-an-ethereum-client.md
  docs/chainlink-nodes/running-a-chainlink-node.md
Labels: ready to merge, evm, node operators

#990 Remove Rinkeby from the docs
  CONTRIBUTING.md
  _data/variables.js
  _includes/feed.liquid
  _src/reference/chains.json
  _src/reference/linkNameSymbol.json
  _tools/networks.ts
  docs/any-api/testnet-oracles.md
  docs/chainlink-keepers/supported-networks.html
  docs/chainlink-nodes/configuration-variables.md
  docs/chainlink-nodes/enabling-https-connections.md
  docs/chainlink-nodes/fulfilling-requests.md
  docs/chainlink-nodes/miscellaneous.md
  docs/chainlink-nodes/performing-system-maintenance.md
  docs/chainlink-nodes/run-an-ethereum-client.md
  docs/chainlink-nodes/running-a-chainlink-node.md
  docs/data-feeds/ens.html
  docs/resources/link-token-contracts.md
  docs/vrf/v1/supported-networks.md
  docs/vrf/v2/introduction.md
  docs/vrf/v2/supported-networks.md
Labels: data feeds, evm, node operators, keepers, vrf

#996 Fix fetch task in sample Get > Uint256 job to allow external access
  _includes/samples/NodeOperators/jobs/get-bytes32.toml
  _includes/samples/NodeOperators/jobs/get-string.toml
  _includes/samples/NodeOperators/jobs/get-uint256.toml
  docs/chainlink-nodes/job-specs/direct-request-get-bool.md
  docs/chainlink-nodes/job-specs/direct-request-get-bytes.md
  docs/chainlink-nodes/job-specs/direct-request-get-int256.md
  docs/chainlink-nodes/job-specs/direct-request-get-uint256.md
Labels: api call

#998 Fix redirects
  firebase.json
Labels: data feeds, evm

#997 Update node operator config variable guidance for Keepers
  docs/chainlink-nodes/configuration-variables.md
Labels: node operators, keepers

#999 Update Data Feed processing
  _includes/feed.liquid
  _tools/networks.ts
  _tools/process-data.ts
  docs/solana/data-feeds/data-feeds-solana.md
Labels: ready to merge, data feeds, evm, solana

#1002 Update feed processing
  _tools/process-data.ts
Labels: data feeds

#960 Add PoR data feeds docs
  _data/navigation.js
  _includes/feed.liquid
  _includes/por-feed.liquid
  _includes/samples/PriceFeeds/ReserveConsumerV3.sol
  _tools/process-data.ts
  docs/architecture-overview/architecture-decentralized-model.md
  docs/data-feeds/index.md
  docs/data-feeds/proof-of-reserve/addresses.md
  docs/data-feeds/proof-of-reserve/index.md
  docs/data-feeds/selecting-data-feeds.md
  docs/home.html
  docs/solana/data-feeds/data-feeds-solana.md
Labels: data feeds, evm

#1008 Update old links from feeds.chain.link to data.chain.link
  docs/chainlink-nodes/oracle-jobs/v1/initiators.md
  docs/getting-started/conceptual-overview.md
  docs/getting-started/consuming-data-feeds.md
Labels: bug, data feeds, evm

#1009 Replace Arbitrum Rinkeby with Goerli
  _src/reference/chains.json
  _src/reference/linkNameSymbol.json
  _tools/networks.ts
  docs/resources/link-token-contracts.md
Labels: data feeds, evm
