Repository smartcontractkit/documentation, pull requests merged in 2022-06, with the labels that each got.

#780 Additional writing style edits
  docs/Developer Reference/contributing-to-chainlink.md
  docs/home.html
Labels: ready to merge

#782 Update the LINK Token Contracts page
  docs/Developer Reference/link-token-contracts.md
Labels: ready to merge

#729 Add data feeds for Solana Mainnet
  _data/navigation.js
  _includes/feed.liquid
  _includes/samples/Solana/PriceFeeds/off-chain-read.js
  _includes/samples/Solana/PriceFeeds/off-chain-read.ts
  _includes/samples/Solana/PriceFeeds/on-chain-read-anchor.rs
  _includes/samples/Solana/PriceFeeds/on-chain-read.rs
  _tools/networks.ts
  docs/Solana/DataFeeds/data-feeds-solana.md
  docs/Solana/DataFeeds/using-data-feeds-off-chain.md
  docs/Solana/DataFeeds/using-data-feeds-solana.md
  docs/Solana/overview.md
  tsconfig.json
Labels: ready to merge, data feeds, solana

#788 Oracle contract link is broken
  docs/Introduction/architecture-overview/architecture-request-model.md
Labels: node operators

#781 Add Keepers Avalanche config
  docs/chainlink-keepers/supported-networks.html
  docs/home.html
Labels: ready to merge, evm, keepers

#794 Clarify how to get ERC-677 on Fantom mainnet
  docs/Developer Reference/link-token-contracts.md
Labels: evm

#795 Update VRFv2SubscriptionManager.sol
  _includes/samples/VRF/VRFv2SubscriptionManager.sol
Labels: evm, vrf

#796 Restore Fantom mainnet for VRF v2
  docs/Using Randomness/chainlink-vrf.md
  docs/Using Randomness/vrf-contracts.md
Labels: evm, vrf

#790 URL fixes for market.link
  _includes/samples/DataProviders/Finage.sol
  _includes/sections/any-api-common.md
  docs/Data Provider Nodes/data-provider-nodes.md
  docs/Data Provider Nodes/dns-ownership-oracle.md
  docs/Data Provider Nodes/finage-global-market-data-oracle.md
  docs/Developer Reference/hackathon-resources.md
  docs/External Adapters/developers.md
  docs/Introduction/getting-started/other-tutorials.md
  docs/Introduction/tutorials/advanced-tutorial.md
  docs/Using Any API/contract-addresses.md
  docs/Using Any API/listing-services.md
  docs/Using Price Feeds/using-chainlink-reference-contracts.md
Labels: data provider nodes

#801 Inform the users that they can check naas.link or devrel nodes to fin…
  _includes/sections/any-api-common.md
  docs/Introduction/tutorials/advanced-tutorial.md
  docs/Using Any API/listing-services.md
Labels: enhancement, ready to merge, api call

#797 Add token bridge guidance to the Link Token Contracts page.
  docs/Developer Reference/link-token-contracts.md
Labels: ready to merge, evm

#808 Add PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#791 Add the new L2 Arbitrum sequencer health check
  _data/navigation.js
  _includes/feed.liquid
  _includes/samples/PriceFeeds/ArbitrumPriceConsumer.sol
  _src/images/data-feed/l2-diagram.png
  docs/Contract Creators/l2-sequencer-flag.md
Labels: ready to merge, data feeds, evm

#368 Add to wallet button in docs (Issue #355)
  .gitignore
  CONTRIBUTING.md
  _includes/main.liquid
  _src/index.ts
  _src/link-to-wallet.ts
  _src/reference/chains.json
  _src/reference/linkNameSymbol.json
  docs/Developer Reference/link-token-contracts.md
  docs/Using Any API/contract-addresses.md
  docs/Using Randomness/vrf-contracts.md
  package.json
  tsconfig.json
  yarn.lock
Labels: ready to merge

#817 Add to wallet for fantom mainnet in VRF contract page
  docs/Using Randomness/vrf-contracts.md
Labels: bug, vrf

#803 Add Fantom to Keepers Supported Networks
  docs/chainlink-keepers/supported-networks.html
  docs/home.html
Labels: keepers

#789 1.5.0 documentation
  docs/Node Operators/configuration-variables.md
  docs/Node Operators/node-versions.md
Labels: node operators

#622 Add Transfer funds from node wallet
  docs/Node Operators/miscellaneous.md
Labels: node operators

#815 ANY API: Kovan to Rinkeby
  _data/navigation.js
  _includes/samples/APIRequests/APIConsumer.sol
  _includes/samples/APIRequests/FetchFromArray.sol
  _includes/samples/APIRequests/GenericBigWord.sol
  _includes/samples/APIRequests/GetGasPrice.sol
  _includes/samples/APIRequests/MultiWordConsumer.sol
  docs/Introduction/tutorials/advanced-tutorial.md
  docs/Using Any API/array-response.md
  docs/Using Any API/contract-addresses.md
  docs/Using Any API/existing-job-request.md
  docs/Using Any API/large-responses.md
  docs/Using Any API/listing-services.md
  docs/Using Any API/make-a-http-get-request.md
  docs/Using Any API/multi-variable-responses.md
  docs/Using Any API/request-and-receive-data.md
  docs/Using Any API/single-word-response.md
  firebase.json
Labels: enhancement, evm, api call
