Repository smartcontractkit/documentation, pull requests merged in 2022-10, with the labels that each got.

#1012 Update L2 sequencer feed for the Arbitrum testnet
  docs/data-feeds/l2-sequencer-feeds.md
Labels: data feeds, evm

#1020 Add network TOC and improve URL anchor handling
  _includes/feed.liquid
  _includes/por-feed.liquid
Labels: enhancement, ready to merge, data feeds

#989 add docs for length and less than task
  _data/navigation.js
  docs/chainlink-nodes/oracle-jobs/task-types/task_eth_call.md
  docs/chainlink-nodes/oracle-jobs/task-types/task_length.md
  docs/chainlink-nodes/oracle-jobs/task-types/task_lessthan.md
Labels: blocked, node operators

#1023 Fixe wrong link in index.md
  docs/data-feeds/index.md
Labels: data feeds

#1024 Remove no deprecation notice
  docs/data-feeds/deprecating-feeds.md
Labels: data feeds

#1026 add vrf v2 redirect for /docs/vrf/v2/examples/get-a-random-number/
  firebase.json
Labels: vrf

#1021 CL Node release v1.9.0
  _data/navigation.js
  docs/chainlink-nodes/node-versions.md
  docs/chainlink-nodes/oracle-jobs/task-types/task_eth_call.md
  docs/chainlink-nodes/oracle-jobs/task-types/task_length.md
  docs/chainlink-nodes/oracle-jobs/task-types/task_lessthan.md
Labels: node operators

#1027 Update the copyright in the footer
  _includes/main.liquid
Labels: ready to merge

#1029 Update Automation Economics
  docs/chainlink-automation/automation-economics.md
Labels: evm, keepers

#1034 Document the new 150 gwei limit on Goerli for VRF
  docs/vrf/v2/subscription/supported-networks.md
Labels: evm, vrf
