Repository smartcontractkit/documentation, pull requests merged in 2022-05, with the labels that each got.

#732 Update keeper.md
  docs/Oracle Jobs/Job Types/keeper.md
Labels: ready to merge, node operators

#704 Adds minor doc for `evmChainID` on OCR jobs
  docs/Oracle Jobs/Job Types/offchain_reporting.md
Labels: node operators

#739 Add note for unit suffixes on LOG_FILE_MAX_SIZE
  docs/Node Operators/configuration-variables.md
Labels: ready to merge, node operators

#738 Node release 1.4.0
  docs/Node Operators/configuration-variables.md
  docs/Node Operators/node-versions.md
  docs/Oracle Jobs/Job Types/cron.md
  docs/Oracle Jobs/Job Types/direct_request.md
  docs/Oracle Jobs/Job Types/keeper.md
  docs/Oracle Jobs/Job Types/offchain_reporting.md
  docs/Oracle Jobs/Task Types/task_jsonparse.md
Labels: ready to merge, node operators

#744 Correct the supported networks for each product
  _tools/networks.ts
  docs/chainlink-keepers/supported-networks.html
  docs/home.html
Labels: ready to merge, evm, keepers

#606 Update the Solana documentation
  _data/navigation.js
  _tools/process-data.ts
  docs/Solana/DataFeeds/using-data-feeds-off-chain.md
  docs/Solana/DataFeeds/using-data-feeds-solana.md
  docs/Solana/overview.md
Labels: ready to merge, data feeds, solana

#746 add handy shortcut redirects
  firebase.json
Labels: ready to merge

#741 Add Moonbeam data feeds
  _data/navigation.js
  _tools/networks.ts
  docs/Using Price Feeds/data-feeds-moonbeam.md
Labels: ready to merge, data feeds, evm

#748 Update docs for 1.4.1
  docs/Node Operators/node-versions.md
Labels: ready to merge, node operators

#751 Add VRF v2 fantom and avalanche info
  docs/Using Randomness/vrf-contracts.md
Labels: evm, vrf

#762 Direct Request and HTTP task new parameters
  docs/Oracle Jobs/Job Types/direct_request.md
  docs/Oracle Jobs/Task Types/task_http.md
Labels: node operators

#755 Explain roundId in historical price data feeds
  _src/images/data-feed/getRoundData-sequence.png
  docs/Using Price Feeds/historical-price-data.html
Labels: ready to merge, data feeds, evm

#768 Add an API reference and conceptual information for aggregators
  docs/Developer Reference/selecting-data-feeds.md
  docs/Using Price Feeds/price-feeds-api-reference.md
  docs/Using Price Feeds/price-feeds-migration-august-2020.md
  docs/Using Price Feeds/using-chainlink-reference-contracts.md
Labels: data feeds

#761 Add a Go example to Using Data Feeds
  docs/Using Price Feeds/get-the-latest-price.html
Labels: ready to merge, data feeds, evm

#771 Remove the Terra documentation
  _data/navigation.js
  _includes/feed.liquid
  _includes/main.liquid
  _src/images/logos/terra.svg
  _src/images/terra/terra-wallet.png
  _tools/networks.ts
  docs/Chains/terra.md
  docs/Introduction/getting-started/conceptual-overview.md
  docs/Node Operators/configuration-variables.md
  docs/Terra/DataFeeds/data-feeds-terra.md
  docs/Terra/DataFeeds/using-data-feeds-terra.md
  docs/Terra/overview.md
  docs/Using Price Feeds/reference-contracts.md
  docs/home.html
Labels: data feeds

#775 Update the chains on our home page for each product
  _src/images/logos/moonbeam.svg
  _src/images/logos/moonriver.png
  _src/images/logos/moonriver.svg
  docs/home.html
Labels: ready to merge
