Repository smartcontractkit/documentation, pull requests merged in 2022-08, with the labels that each got.

#799 Update Feed Registry Page
  _data/navigation.js
  docs/Using Price Feeds/feed-registry-functions.md
  docs/Using Price Feeds/feed-registry.html
Labels: ready to merge, data feeds, evm

#881 Explain units of Juels in the LINK Token Contract page
  docs/Developer Reference/link-token-contracts.md
Labels: enhancement

#888 Full Keepers v1.2 docs
  _data/navigation.js
  _includes/samples/Keepers/UpkeepIDConsumerExample.sol
  docs/chainlink-keepers/compatible-contracts.md
  docs/chainlink-keepers/faqs.md
  docs/chainlink-keepers/flexible-upkeeps.md
  docs/chainlink-keepers/introduction.md
  docs/chainlink-keepers/job-scheduler.md
  docs/chainlink-keepers/keeper-economics.md
  docs/chainlink-keepers/keepers-release-notes.md
  docs/chainlink-keepers/manage-upkeeps.md
  docs/chainlink-keepers/overview.md
  docs/chainlink-keepers/register-upkeep.md
  docs/chainlink-keepers/util-overview.md
  docs/home.html
  hardhat.config.ts
Labels: evm, keepers

#894 Add ethereum merge documentation
  _data/navigation.js
  _includes/feed.liquid
  docs/Chains/ethereum.md
  docs/Developer Reference/ethereum-proof-of-stake-merge.md
Labels: evm

#896 Clarify recommendations for forex and equity trading hours
  _includes/feed.liquid
Labels: data feeds

#902 Update to Keepers release notes
  docs/chainlink-keepers/keepers-release-notes.md
Labels: evm, keepers

#833 Add new section in documentation for explanation, examples, and permissions set of optional multiuser and RBAC functionality
  docs/Node Operators/miscellaneous.md
Labels: node operators

#908 1.7.0 Release documentation
  _data/navigation.js
  docs/Node Operators/configuration-variables.md
  docs/Node Operators/miscellaneous.md
  docs/Node Operators/node-versions.md
  docs/Oracle Jobs/Task Types/task_base64decode.md
  docs/Oracle Jobs/Task Types/task_hexdecode.md
  docs/Oracle Jobs/Task Types/task_lowercase.md
  docs/Oracle Jobs/Task Types/task_uppercase.md
Labels: node operators

#907 Clarify the Ganache support statement
  docs/Node Operators/running-a-chainlink-node.md
Labels: ready to merge, node operators

#913 Include Data provider nodes as part of ANY API
  _data/navigation.js
  docs/Data Provider Nodes/data-provider-nodes.md
  docs/Using Any API/Data Provider Nodes/data-provider-nodes.md
  docs/Using Any API/Data Provider Nodes/dns-ownership-oracle.md
  docs/Using Any API/Data Provider Nodes/finage-global-market-data-oracle.md
  docs/Using Any API/Data Provider Nodes/google-weather.md
  docs/Using Any API/Data Provider Nodes/kraken-rates-oracle-node.md
  docs/Using Any API/array-response.md
  docs/Using Any API/existing-job-request.md
  docs/Using Any API/large-responses.md
  docs/Using Any API/listing-services.md
  docs/Using Any API/make-a-http-get-request.md
  docs/Using Any API/request-and-receive-data.md
  docs/Using Any API/single-word-response.md
Labels: enhancement, evm, api call

#911 ANY API: Add testnets supported devrel operators
  docs/Using Any API/array-response.md
  docs/Using Any API/contract-addresses.md
  docs/Using Any API/large-responses.md
  docs/Using Any API/single-word-response.md
Labels: enhancement, evm, api call

#919 Editing to fix minor grammatical issues.
  docs/Additional Information/glossary.md
Labels: enhancement

#916 Redesign ANY API devrel oracles page
  docs/Using Any API/contract-addresses.md
Labels: enhancement, api call

#920 Update L2 callouts recommending L2 sequencer feeds
  _includes/feed.liquid
  docs/Using Price Feeds/data-feeds-metis.md
Labels: data feeds

#892 Migrate examples to Goerli
  _data/variables.js
  _includes/feed.liquid
  _includes/samples/APIRequests/APIConsumer.sol
  _includes/samples/APIRequests/ATestnetConsumer.sol
  _includes/samples/APIRequests/FetchFromArray.sol
  _includes/samples/APIRequests/GenericBigWord.sol
  _includes/samples/APIRequests/GetGasPrice.sol
  _includes/samples/APIRequests/MultiWordConsumer.sol
  _includes/samples/PriceFeeds/HistoricalPriceConsumer.js
  _includes/samples/PriceFeeds/HistoricalPriceConsumer.py
  _includes/samples/PriceFeeds/HistoricalPriceConsumer.sol
  _includes/samples/PriceFeeds/PriceConsumerV3.js
  _includes/samples/PriceFeeds/PriceConsumerV3.py
  _includes/samples/PriceFeeds/PriceConsumerV3.sol
  _includes/samples/PriceFeeds/PriceConsumerV3Ethers.js
  _includes/samples/PriceFeeds/PriceConverter.sol
  _includes/samples/VRF/RandomNumberConsumer.sol
  _includes/samples/VRF/VRFD20.sol
  _includes/samples/VRF/VRFv2Consumer.sol
  _includes/samples/VRF/VRFv2SubscriptionManager.sol
  _src/get-latest-price.js
  _src/images/getting-started/metamaskImportTokens.png
  _src/images/getting-started/metamaskImportTokens.webp
  _src/images/getting-started/selectGoerli.webp
  _src/images/getting-started/selectRinkeby.png
  _tools/networks.ts
  docs/Developer Reference/acquire-link.md
  docs/Developer Reference/fund-your-contract.md
  docs/Developer Reference/link-token-contracts.md
  docs/Introduction/getting-started/consuming-data-feeds.md
  docs/Introduction/getting-started/deploy-your-first-contract.md
  docs/Introduction/tutorials/advanced-tutorial.md
  docs/Introduction/tutorials/intermediates-tutorial.md
  docs/Node Operators/enabling-https-connections.md
  docs/Node Operators/fulfilling-requests.md
  docs/Node Operators/miscellaneous.md
  docs/Node Operators/performing-system-maintenance.md
  docs/Node Operators/run-an-ethereum-client.md
  docs/Node Operators/running-a-chainlink-node.md
  docs/Using Any API/array-response.md
  docs/Using Any API/existing-job-request.md
  docs/Using Any API/large-responses.md
  docs/Using Any API/multi-variable-responses.md
  docs/Using Any API/single-word-response.md
  docs/Using Price Feeds/get-the-latest-price.html
  docs/Using Price Feeds/historical-price-data.html
  docs/Using Price Feeds/price-feeds-api-reference.md
  docs/Using Randomness/chainlink-vrf.md
  docs/Using Randomness/example-contracts.md
  docs/Using Randomness/get-a-random-number.md
  docs/Using Randomness/v1/vrf-contracts.md
  docs/Using Randomness/vrf-contracts.md
  docs/chainlink-keepers/compatible-contracts.md
  docs/chainlink-keepers/register-upkeep.md
  docs/chainlink-keepers/supported-networks.html
Labels: ready to merge, data feeds, evm, node operators, keepers, api call, vrf

#929 add callbackgaslimit upper limit
  _src/images/vrf/v2-subscription-e2e.webp
  docs/Using Randomness/chainlink-vrf.md
  docs/Using Randomness/get-a-random-number.md
  docs/Using Randomness/vrf-contracts.md
Labels: enhancement, ready to merge, evm, vrf

#931 Update data feed guidance
  _includes/feed.liquid
  docs/Developer Reference/selecting-data-feeds.md
Labels: ready to merge, data feeds

#936 Update the SmartCon banner
  _includes/main.liquid
Labels: ready to merge

#937 Add Klaytn Baobab testnet data feeds
  _data/navigation.js
  _src/images/logos/klaytn.svg
  _src/reference/chains.json
  _src/reference/linkNameSymbol.json
  _tools/networks.ts
  docs/Developer Reference/link-token-contracts.md
  docs/Using Price Feeds/data-feeds-klaytn.md
  docs/Using Randomness/vrf-contracts.md
  docs/any-api/testnet-oracles.md
  docs/home.html
Labels: blocked, data feeds, vrf

#860 add links for IaC solutions
  docs/chainlink-nodes/best-security-practices.md
  docs/resources/example-projects.md
Labels: enhancement, node operators

#950 Release notes for 1.7.1 nodes
  docs/chainlink-nodes/node-versions.md
Labels: node operators

#948 Update Klaytn VRF v2 keyhash
  docs/vrf/v2/supported-networks.md
Labels: vrf

#946 Add L2 sequencer feed testnets and edit Link Token Contracts
  docs/any-api/data-providers/dns-ownership.md
  docs/data-feeds/l2-sequencer-feeds.md
  docs/getting-started/consuming-data-feeds.md
  docs/getting-started/deploy-your-first-contract.md
  docs/resources/link-token-contracts.md
  docs/vrf/v2/examples/get-a-random-number.md
Labels: enhancement, ready to merge, data feeds

#959 Update @openzeppelin/contracts
  package.json
  yarn.lock
Labels: enhancement, ready to merge

#956 Document chainlinkClient operator functions
  docs/any-api/api-reference.md
Labels: enhancement, evm, api call

#844 Add new section for explanation and examples of using chainlinkVRF to Handle Different function logic request
  _includes/samples/VRF/VRFv2MultiplePaths.sol
  docs/vrf/v2/best-practices.md
Labels: evm, vrf

#953 Automate v1 Keepers configs list
  _src/keepers-configuration.ts
  docs/chainlink-keepers/overview.md
  docs/chainlink-keepers/supported-networks.html
Labels: enhancement, ready to merge, keepers

#954 Add status tracker URLs for several networks
  _includes/feed.liquid
  docs/data-feeds/addresses/arbitrum.md
  docs/data-feeds/addresses/avalanche.md
  docs/data-feeds/addresses/bnb-chain.md
  docs/data-feeds/addresses/data-feeds-klaytn.md
  docs/data-feeds/addresses/ethereum.md
  docs/data-feeds/addresses/fantom.md
  docs/data-feeds/addresses/gnosis-chain.md
  docs/data-feeds/addresses/harmony.md
  docs/data-feeds/addresses/heco-chain.md
  docs/data-feeds/addresses/metis.md
  docs/data-feeds/addresses/moonbeam.md
  docs/data-feeds/addresses/moonriver.md
  docs/data-feeds/addresses/optimism.md
  docs/data-feeds/addresses/polygon.md
  docs/data-feeds/reference-contracts.md
  docs/resources/link-token-contracts.md
  docs/solana/data-feeds/data-feeds-solana.md
Labels: enhancement, ready to merge

#961 VRF v2 rework confusing steps in programmatic examples
  _includes/sections/vrf-v2-common.md
  docs/vrf/v2/best-practices.md
  docs/vrf/v2/examples/get-a-random-number.md
  docs/vrf/v2/examples/programmatic-subscription.md
  docs/vrf/v2/introduction.md
  docs/vrf/v2/migration-from-v1.md
  docs/vrf/v2/security.md
  docs/vrf/v2/supported-networks.md
Labels: enhancement, ready to merge, evm, vrf

#973 Update miscellaneous.md
  docs/chainlink-nodes/miscellaneous.md
Labels: evm, node operators

#949 Add Optimism Goerli testnet data feeds
  _src/reference/chains.json
  _src/reference/linkNameSymbol.json
  _tools/networks.ts
  docs/resources/link-token-contracts.md
Labels: enhancement, data feeds, evm
