Repository smartcontractkit/documentation, pull requests merged in 2022-04, with the labels that each got.

#635 Add liveness checking vars
  docs/Node Operators/configuration-variables.md
Labels: node operators

#685 Add asset names to the data feeds, improve CSS style, remove conditional coding
  _includes/feed.liquid
  _tools/networks.ts
  _tools/process-data.ts
  docs/Terra/DataFeeds/data-feeds-terra.md
Labels: ready to merge, data feeds

#652 Update dns-ownership documentation.
  _includes/samples/DataProviders/DnsOwnership.sol
  docs/Data Provider Nodes/dns-ownership-oracle.md
Labels: api call, data provider nodes

#690 Fix tabbed style on Running a Chainlink node page
  docs/Node Operators/running-a-chainlink-node.md
Labels: ready to merge, node operators

#689 Update Getting Started VRF tutorial from v1 to v2
  _includes/samples/VRF/VRFD20.sol
  _src/files/intermediates-tutorial-01.png
  _src/files/intermediates-tutorial-02.png
  _src/files/intermediates-tutorial-03.png
  _src/files/intermediates-tutorial-04.png
  docs/Introduction/tutorials/intermediates-tutorial.md
Labels: ready to merge, evm, vrf

#679 Added missing [mode] parameter.
  docs/Oracle Jobs/Task Types/task_cborparse.md
Labels: ready to merge, node operators

#698 Remove Avasummit 2022 page
  _includes/samples/events/avasummit/VRFv2SubscriptionManager.sol
  docs/events/avasummit/overview.md
Labels: ready to merge, evm

#699 VRF - correct documentation: numwords is uint32
  docs/Introduction/tutorials/intermediates-tutorial.md
  docs/Using Randomness/get-a-random-number.md
Labels: ready to merge, evm, vrf

#695 Typo fix
  docs/Using Any API/multi-variable-responses.md
Labels: ready to merge

#701 Revert "Remove Avasummit 2022 page"
  _includes/samples/events/avasummit/VRFv2SubscriptionManager.sol
  docs/events/avasummit/overview.md
Labels: ready to merge

#696 Update packages, remove unnecessary files, upgrade to Eleventy 1.0.0
  CONTRIBUTING.md
  _includes/events.liquid
  _includes/main.liquid
  _includes/nodes.liquid
  _src/prism.css
  _src/prism.js
  docs/Contract Creators/l2-sequencer-flag.md
  docs/Data Provider Nodes/data-provider-nodes.md
  docs/Data Provider Nodes/dns-ownership-oracle.md
  docs/Data Provider Nodes/google-weather.md
  docs/Introduction/getting-started/conceptual-overview.md
  docs/Introduction/getting-started/consuming-data-feeds.md
  docs/Introduction/getting-started/deploy-your-first-contract.md
  docs/Introduction/tutorials/advanced-tutorial.md
  docs/Node Operators/fulfilling-requests.md
  docs/Solana/DataFeeds/using-data-feeds-solana.md
  docs/Terra/DataFeeds/using-data-feeds-terra.md
  docs/Using Any API/existing-job-request.md
  docs/Using Any API/large-responses.md
  docs/Using Any API/make-a-http-get-request.md
  docs/Using Any API/multi-variable-responses.md
  docs/Using Price Feeds/feed-registry.html
  docs/Using Price Feeds/get-the-latest-price.html
  docs/Using Price Feeds/historical-price-data.html
  docs/Using Price Feeds/reference-contracts.md
  docs/Using Price Feeds/reference-contracts/ens.html
  docs/Using Randomness/example-contracts.md
  docs/Using Randomness/get-a-random-number.md
  docs/Using Randomness/v1/get-a-random-number.md
  docs/chainlink-keepers/compatible-contracts.md
  docs/events/avasummit/overview.md
  docs/home.html
  netlify.toml
  package-lock.json
  package.json
  testing
  yarn.lock
Labels: ready to merge

#650 Keepers Docs Updates
  _data/navigation.js
  _includes/samples/Keepers/EthBalanceMonitor.sol
  docs/chainlink-keepers/compatible-contracts.md
  docs/chainlink-keepers/faqs.md
  docs/chainlink-keepers/introduction.md
  docs/chainlink-keepers/keeper-economics.md
  docs/chainlink-keepers/manage-upkeeps.md
  docs/chainlink-keepers/overview.html
  docs/chainlink-keepers/overview.md
  docs/chainlink-keepers/register-upkeep.md
  docs/chainlink-keepers/supported-networks.html
  docs/chainlink-keepers/util-overview.md
  docs/chainlink-keepers/utility-contracts.md
  docs/home.html
  package.json
  yarn.lock
Labels: evm, keepers

#684 Node 1.3.0 release documentation
  docs/Node Operators/best-security-practices.md
  docs/Node Operators/configuration-variables.md
  docs/Node Operators/node-versions.md
Labels: ready to merge, node operators

#673 Updated example for LargeResponses with V2 JobSpec
  docs/Example Job Specs/large-response-job.md
Labels: ready to merge, evm, node operators, api call

#722 Fix subscription limit formula
  docs/Using Randomness/chainlink-vrf.md
Labels: ready to merge, evm, vrf

#723 direct request: document requesters and minContractPaymentLinkJuels
  docs/Oracle Jobs/Job Types/direct_request.md
Labels: ready to merge, node operators
