Repository smartcontractkit/documentation, pull requests merged in 2023-05, with the labels that each got.

#1275 api-custom-response fix typo
  src/pages/chainlink-functions/tutorials/api-custom-response.mdx
Labels: Chainlink Functions

#1280 Fix return character escapes in Eth client examples
  src/pages/chainlink-nodes/resources/run-an-ethereum-client.mdx
Labels: ready to merge, node operators

#1277 support ava fuji cl-functions
  src/pages/chainlink-functions/supported-networks.mdx
Labels: Chainlink Functions

#1281 Update logos chainlink functions
  src/features/landing/data/index.ts
Labels: Chainlink Functions

#1286 URL fixes
  src/pages/chainlink-automation/util-overview.mdx
Labels: ready to merge

#1283 Update packages
  package-lock.json
  package.json
  src/config/web3Providers.ts
  src/features/feeds/components/FeedList.module.css
  src/features/feeds/components/FeedList.tsx
Labels: enhancement

#1294 Update solidity versions in contracts
  public/samples/Automation/UpkeepIDConsumerExample.sol
  public/samples/Automation/UpkeepIDConsumerExamplev1.sol
Labels: ready to merge, keepers

#1290 CL functions: Use tutorials branch
  src/pages/chainlink-functions/tutorials/api-custom-response.mdx
  src/pages/chainlink-functions/tutorials/api-multiple-calls.mdx
  src/pages/chainlink-functions/tutorials/api-post-data.mdx
  src/pages/chainlink-functions/tutorials/api-query-parameters.mdx
  src/pages/chainlink-functions/tutorials/api-use-secrets-offchain.mdx
  src/pages/chainlink-functions/tutorials/api-use-secrets.mdx
  src/pages/chainlink-functions/tutorials/automate-functions.mdx
  src/pages/chainlink-functions/tutorials/simple-computation.mdx
Labels: Chainlink Functions

#1296 fix add functions to a project
  public/samples/Functions/adding-functions-to-projects/deploy.js
  public/samples/Functions/adding-functions-to-projects/functions-sub.js
  public/samples/Functions/adding-functions-to-projects/hardhat.config.js
  src/pages/chainlink-functions/resources/add-functions-to-projects.mdx
  src/pages/chainlink-functions/resources/architecture.mdx
  src/pages/chainlink-functions/resources/billing.mdx
Labels: Chainlink Functions

#1295 Break out compatible contract best practices page
  src/config/sidebar.ts
  src/pages/chainlink-automation/compatible-contract-best-practice.mdx
  src/pages/chainlink-automation/compatible-contracts.mdx
  src/pages/chainlink-automation/faqs.mdx
  src/pages/chainlink-automation/register-upkeep.mdx
Labels: Chainlink Automation

#1304 Fix broken links
  src/features/chainlink-functions/common/FunctionsConsumer.mdx
Labels: Chainlink Functions

#1305 Chainlink node 2.1.0 release notes
  src/pages/chainlink-nodes/node-versions.mdx
Labels: node operators

#1309 Add provisional feeds category
  src/features/feeds/callouts/feed-quality.mdx
  src/features/feeds/components/Tables.tsx
  src/features/feeds/data/chains.ts
  src/pages/data-feeds/selecting-data-feeds.mdx
Labels: data feeds

#1311 Add docs for VRF Arbitrum
  src/pages/vrf/v2/estimating-costs.mdx
  src/pages/vrf/v2/introduction.mdx
  src/pages/vrf/v2/subscription/supported-networks.mdx
Labels: vrf

#1317 Callout fixes
  src/features/resources/callouts/ResourcesCallout.astro
  src/features/resources/callouts/read-bridge-risks.mdx
  src/pages/chainlink-nodes/oracle-jobs/all-jobs.mdx
  src/pages/data-feeds/api-reference.mdx
Labels: ready to merge

#1318 remove unused functions doc
  src/features/functions/in-progress-examples/in-progress-consumer-docs.md
Labels: Chainlink Functions

#1321 Update link token contracts page
  src/pages/resources/link-token-contracts.mdx
  src/pages/vrf/v2/direct-funding/supported-networks.mdx
  src/pages/vrf/v2/subscription/supported-networks.mdx
Labels: ready to merge

#1316 Update L2 Sequencer Feed and Data Feed guidance
  public/samples/DataFeeds/DataConsumerV3.sol
  public/samples/DataFeeds/DataConsumerWithSequencerCheck.sol
  public/samples/DataFeeds/ENSConsumer.js
  public/samples/DataFeeds/ENSConsumer.sol
  public/samples/DataFeeds/HistoricalDataConsumer.sol
  public/samples/DataFeeds/HistoricalPriceConsumer.js
  public/samples/DataFeeds/HistoricalPriceConsumer.py
  public/samples/DataFeeds/NFTFloorPriceConsumerV3.sol
  public/samples/DataFeeds/PriceConsumerV3.js
  public/samples/DataFeeds/PriceConsumerV3.py
  public/samples/DataFeeds/PriceConsumerV3Ethers.js
  public/samples/DataFeeds/PriceConverter.sol
  public/samples/DataFeeds/ReserveConsumerV3.sol
  public/samples/PriceFeeds/PriceConsumerV3.sol
  src/config/sidebar.ts
  src/features/feeds/components/FeedList.tsx
  src/features/feeds/shared/using-price-feeds.mdx
  src/pages/data-feeds/ens.mdx
  src/pages/data-feeds/examples.mdx
  src/pages/data-feeds/historical-data.mdx
  src/pages/data-feeds/l2-sequencer-feeds.mdx
  src/pages/data-feeds/nft-floor-price/index.mdx
  src/pages/data-feeds/proof-of-reserve/index.mdx
Labels: data feeds

#1323 Update Arbitrum cost explanation, remove outdated example
  src/pages/vrf/v2/estimating-costs.mdx
Labels: vrf
