Repository smartcontractkit/documentation, pull requests merged in 2023-11, with the labels that each got.

#1621 fix VRFCoordinatorV2Mock links
  src/content/vrf/v2/direct-funding/examples/test-locally.mdx
  src/content/vrf/v2/subscription/examples/test-locally.mdx
Labels: Chainlink VRF

#1620 Functions/review getting started
  .prettierrc
  .vscode/settings.json
  public/images/chainlink-functions/getting-started/character.jpg
  public/images/chainlink-functions/getting-started/deploy.jpg
  public/images/chainlink-functions/getting-started/deployed-contracts.jpg
  public/images/chainlink-functions/getting-started/injected-provider.jpg
  public/images/chainlink-functions/getting-started/request-fulfilled.jpg
  public/images/chainlink-functions/getting-started/send-request.jpg
  public/images/chainlink-functions/getting-started/simulation.jpg
  public/samples/ChainlinkFunctions/GettingStartedFunctionsConsumer.sol
  public/samples/ChainlinkFunctions/starwars-api.js
  src/content/chainlink-functions/getting-started.mdx
  src/content/chainlink-functions/resources/architecture.mdx
  src/content/chainlink-functions/resources/release-notes.mdx
  src/content/chainlink-functions/resources/subscriptions.mdx
  src/content/chainlink-functions/tutorials/api-custom-response.mdx
  src/content/chainlink-functions/tutorials/api-multiple-calls.mdx
  src/content/chainlink-functions/tutorials/api-post-data.mdx
  src/content/chainlink-functions/tutorials/api-query-parameters.mdx
  src/content/chainlink-functions/tutorials/api-use-secrets-gist.mdx
  src/content/chainlink-functions/tutorials/api-use-secrets-offchain.mdx
  src/content/chainlink-functions/tutorials/api-use-secrets.mdx
  src/content/chainlink-functions/tutorials/automate-functions-custom-logic.mdx
  src/content/chainlink-functions/tutorials/automate-functions.mdx
  src/content/chainlink-functions/tutorials/encode-request-offchain.mdx
  src/content/chainlink-functions/tutorials/simple-computation.mdx
  src/features/chainlink-functions/common/ChainlinkFunctions.astro
  src/features/chainlink-functions/common/GuidesPrerequisites.mdx
Labels: Chainlink Functions

#1623 fix functions getting-started
  src/content/chainlink-functions/getting-started.mdx
Labels: Chainlink Functions

#1626 Scroll Mainnet Data Feeds
  scripts/reference/chains.json
  scripts/reference/linkNameSymbol.json
  src/config/data/chain-to-technology.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/content/resources/link-token-contracts.mdx
  src/features/data/chains.ts
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: Chainlink Data Feeds

#1625 Log triggers, Getting Started, Data Streams Automation Updates
  public/images/automation/log-trig-addresses.png
  public/images/automation/log-trig-config.png
  public/images/automation/log-trig-count-0.png
  public/images/automation/log-trig-ebi.png
  public/images/automation/log-trig-emitcountlog.png
  public/images/automation/log-trig-event.png
  public/samples/Automation/CountEmitLog.sol
  public/samples/Automation/CountWithLog.sol
  src/config/sidebar.ts
  src/content/chainlink-automation/guides/log-trigger.mdx
  src/content/chainlink-automation/guides/register-upkeep.mdx
  src/content/chainlink-automation/guides/streams-lookup.mdx
  src/content/chainlink-automation/overview/getting-started.mdx
  src/content/data-streams/getting-started.mdx
Labels: Chainlink Automation, Chainlink Data Streams

#1634 CCIP: new config
  .eslintignore
  .vscode/settings.json
  src/components/Quickstart/Accordion/Accordion.astro
  src/components/Quickstart/Accordion/util.ts
  src/config/data/ccip/data.ts
  src/config/data/ccip/index.ts
  src/config/data/ccip/mainnet/chains.json
  src/config/data/ccip/mainnet/lanes.json
  src/config/data/ccip/mainnet/tokens.json
  src/config/data/ccip/testnet/chains.json
  src/config/data/ccip/testnet/lanes.json
  src/config/data/ccip/testnet/tokens.json
  src/config/data/ccip/types.ts
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/config/sidebar.ts
  src/config/types.ts
  src/config/web3Providers.ts
  src/content/ccip/architecture.mdx
  src/content/ccip/release-notes.mdx
  src/content/ccip/supported-networks.mdx
  src/content/ccip/supported-networks/index.mdx
  src/content/ccip/supported-networks/mainnet.mdx
  src/content/ccip/supported-networks/testnet.mdx
  src/content/ccip/test-tokens.mdx
  src/content/ccip/tutorials/cross-chain-tokens-from-eoa.mdx
  src/content/ccip/tutorials/cross-chain-tokens.mdx
  src/content/ccip/tutorials/programmable-token-transfers-defensive.mdx
  src/content/ccip/tutorials/programmable-token-transfers.mdx
  src/features/ccip/components/MintTokenButton.tsx
  src/features/ccip/components/NetworkDropdown.tsx
  src/features/ccip/components/supported-networks/ChainConfig.astro
  src/features/ccip/components/supported-networks/LaneConfig.astro
  src/features/ccip/components/supported-networks/Main.astro
  src/features/utils/index.ts
  src/scripts/link-to-wallet.ts
Labels: ready to merge, Chainlink CCIP

#1639 Chainlink Nodes 2.7.0 Release
  src/content/chainlink-nodes/node-versions.mdx
  src/content/chainlink-nodes/v1/node-config.mdx
Labels: Chainlink Nodes

#1640 Update notation for filenames
  src/content/chainlink-nodes/v1/configuration.mdx
  src/content/chainlink-nodes/v1/node-config.mdx
Labels: ready to merge

#1638 Chainlink Node Config Fixes
  src/content/chainlink-nodes/v1/node-config.mdx
Labels: Chainlink Nodes

#1642 fix chains script
  .eslintignore
  .github/workflows/chains-metadata.yml
  .vscode/settings.json
  package.json
  scripts/reference/chains.json
  scripts/reference/linkNameSymbol.json
  src/scripts/chains-metadata.ts
Labels: enhancement

#1645 fix arbitrum goerli router address
  src/config/data/ccip/testnet/chains.json
Labels: Chainlink CCIP

#1648 CCIP: fix eth <-> pol rate limit
  src/config/data/ccip/mainnet/lanes.json
Labels: Chainlink CCIP

#1643 redesign config page CCIP
  .vscode/settings.json
  package-lock.json
  package.json
  src/features/ccip/components/supported-networks/ChainConfig.astro
  src/features/ccip/components/supported-networks/LaneConfig.astro
  src/features/chainlink-functions/DonIdTooltip/DonId.tsx
  src/features/common/Tooltip/Tooltip.tsx
Labels: Chainlink CCIP

#1652 Use preview URLs for Harmony
  src/features/data/chains.ts
Labels: Chainlink Data Feeds

#1649 Migrate Arb Goerli to Arb Sepolia
  public/samples/DataStreams/StreamsUpkeep.sol
  src/config/data/ccip/data.ts
  src/config/data/ccip/testnet/chains.json
  src/config/data/ccip/testnet/lanes.json
  src/config/data/ccip/testnet/tokens.json
  src/content/ccip/release-notes.mdx
  src/content/chainlink-automation/guides/streams-lookup.mdx
  src/features/data-streams/common/gettingStarted.mdx
  src/features/data/chains.ts
  src/features/feeds/components/Tables.tsx
Labels: Chainlink Data Feeds, Chainlink CCIP, Chainlink Data Streams

#1660 update ccip config
  src/config/data/ccip/mainnet/lanes.json
  src/config/data/ccip/mainnet/tokens.json
Labels: Chainlink CCIP

#1654 generic mint test tokens
  src/config/data/ccip/data.ts
  src/config/data/ccip/types.ts
  src/features/ccip/components/MintTokenButton.tsx
  src/features/ccip/components/NetworkDropdown.tsx
  src/features/ccip/components/networkDropdown.module.css
  src/features/utils/index.ts
Labels: Chainlink CCIP

#1662 CL Node 2.7.1 release
  src/content/chainlink-nodes/node-versions.mdx
Labels: Chainlink Nodes

#1655 Arbitrum Goerli to Sepolia for VRF docs
  src/content/vrf/release-notes.mdx
  src/content/vrf/v2/direct-funding/supported-networks.mdx
  src/content/vrf/v2/subscription/supported-networks.mdx
Labels: Chainlink VRF

#1631 Update Data Streams examples
  public/samples/DataStreams/StreamsUpkeep.sol
  src/features/data-streams/common/gettingStarted.mdx
  src/features/feeds/components/Tables.tsx
Labels: Chainlink Data Streams

#1672 Remove Harmony
  public/assets/chains/harmony.svg
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/content/quickstarts/historical-price-feeds-api.mdx
  src/content/resources/link-token-contracts.mdx
  src/features/data/chains.ts
  src/features/landing/data/index.ts
  src/features/redirects/redirects.json
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: ready to merge, Chainlink Data Feeds
