Repository smartcontractkit/documentation, pull requests merged in 2023-02, with the labels that each got.

#1140 Add additional redirects for older links
  src/features/redirects/redirects.json
Labels: bug

#1144 Node release/1.12.0
  src/pages/chainlink-nodes/node-versions.md
  src/pages/chainlink-nodes/v1/configuration.md
Labels: node operators

#1146 Remove duplicate TOC in NOPs config reference
  src/pages/chainlink-nodes/v1/configuration.md
Labels: node operators

#1150 Update VRF security best practices
  src/pages/vrf/v1/security.md
  src/pages/vrf/v2/direct-funding/examples/get-a-random-number.md
  src/pages/vrf/v2/security.md
  src/pages/vrf/v2/subscription/examples/get-a-random-number.md
Labels: vrf

#1157 Chainlink functions billing, concepts and architecture
  public/images/chainlink-functions/requestAndReceive.png
  public/images/chainlink-functions/subscription/addConsumer.png
  public/images/chainlink-functions/subscription/cancelSubscription.png
  public/images/chainlink-functions/subscription/createSubscription.png
  public/images/chainlink-functions/subscription/fundSubscription.png
  public/images/chainlink-functions/subscription/removeConsumer.png
  src/config/sidebar.ts
  src/features/chainlink-functions/common/ChainlinkFunctions.astro
  src/features/chainlink-functions/common/FunctionsConsumer.md
  src/pages/chainlink-functions/api-reference/Functions.md
  src/pages/chainlink-functions/api-reference/FunctionsClient.md
  src/pages/chainlink-functions/getting-started.md
  src/pages/chainlink-functions/index.md
  src/pages/chainlink-functions/resources/architecture.md
  src/pages/chainlink-functions/resources/billing.md
  src/pages/chainlink-functions/resources/concepts.md
  src/pages/chainlink-functions/resources/service-limits.md
  src/pages/chainlink-functions/resources/subscriptions.md
  src/pages/chainlink-functions/supported-networks.md
  src/pages/chainlink-functions/tutorials/api-custom-response.md
  src/pages/chainlink-functions/tutorials/api-multiple-calls.md
  src/pages/chainlink-functions/tutorials/api-post-data.md
  src/pages/chainlink-functions/tutorials/api-query-parameters.md
  src/pages/chainlink-functions/tutorials/api-use-secrets.md
  src/pages/chainlink-functions/tutorials/index.md
  src/pages/chainlink-functions/tutorials/simple-computation.md
Labels: Chainlink Functions

#1159 Chainlink Functions: Clarify tutorial requirements
  src/pages/chainlink-functions/tutorials/api-custom-response.md
  src/pages/chainlink-functions/tutorials/api-multiple-calls.md
  src/pages/chainlink-functions/tutorials/api-post-data.md
  src/pages/chainlink-functions/tutorials/api-query-parameters.md
  src/pages/chainlink-functions/tutorials/api-use-secrets.md
  src/pages/chainlink-functions/tutorials/simple-computation.md
Labels: Chainlink Functions

#1153 Removed excess whitespace after the `fulfillRandomWords` function's `requestId` param. (ISSUE#1152)
  src/pages/getting-started/intermediates-tutorial.md
Labels: vrf

#1155 bugfix: "Get Random Numbers" Docs `getHouseName()` Fails to Compile and does not match VRFD20 Contract (ISSUE #1154)
  src/pages/getting-started/intermediates-tutorial.md
Labels: vrf

#1162 Add description to service limits
  src/pages/chainlink-functions/resources/service-limits.md
Labels: Chainlink Functions

#1164 fix broken links
  src/pages/chainlink-functions/getting-started.md
  src/pages/chainlink-functions/resources/index.md
Labels: Chainlink Functions

#1065 Add feed category callout to NFT Floor Price feeds
  src/features/feeds/components/FeedPage.astro
Labels: data feeds

#1166 Update Starknet URLs for their new docs pages
  src/features/feeds/data/chains.ts
  src/pages/data-feeds/starknet/index.md
Labels: data feeds

#1168 Clarify off-chain secrets description
  src/pages/chainlink-functions/tutorials/api-use-secrets-offchain.md
Labels: Chainlink Functions

#1167 Update footer
  src/components/Footer/Footer.astro
Labels: ready to merge

#1169 Update installing frameworks page and image
  public/files/c6e99c5-Untitled_design_23.png
  public/images/starter-kit-images/starter-kits.webp
  src/pages/data-feeds/index.mdx
  src/pages/resources/create-a-chainlinked-project.md
Labels: ready to merge

#1171 Add docs for adding Chainlink Functions to projects
  .eslintignore
  public/samples/Functions/adding-functions-to-projects/FunctionsExample.sol.ignore
  public/samples/Functions/adding-functions-to-projects/deploy.js
  public/samples/Functions/adding-functions-to-projects/docs-source-example.js
  public/samples/Functions/adding-functions-to-projects/example-source.js
  public/samples/Functions/adding-functions-to-projects/functions-sub.js
  public/samples/Functions/adding-functions-to-projects/hardhat.config.js
  src/config/sidebar.ts
  src/features/chainlink-functions/common/FunctionsConsumer.md
  src/features/functions/in-progress-examples/in-progress-consumer-docs.md
  src/pages/chainlink-functions/resources/add-functions-to-projects.md
Labels: Chainlink Functions
