Repository smartcontractkit/documentation, pull requests merged in 2023-01, with the labels that each got.

#1106 Updated the Polygon Bridge URL
  .github/workflows/test.yml
  src/pages/resources/link-token-contracts.md
Labels: bug

#1108 Create running-a-chainlink-node.md fixes (2022)
  src/pages/chainlink-nodes/v1/running-a-chainlink-node.md
Labels: node operators

#1098 Add description for failOnRevert param within ethtx task
  .eleventy/docs/chainlink-nodes/oracle-jobs/task-types/task_eth_tx.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_eth_tx.md
Labels: node operators

#1118 Point Solana feeds at transmissionsAccount
  src/features/feeds/api/index.ts
  src/features/feeds/components/Tables.tsx
Labels: data feeds, solana

#1104 StarkNet Testnet Docs
  public/assets/chains/starknet.svg
  src/config/sidebar.ts
  src/features/feeds/data/chains.ts
  src/features/landing/data/index.ts
  src/pages/data-feeds/starknet/index.md
Labels: data feeds

#1122 Added header docs to bridge task
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_bridge.md
Labels: node operators

#1133 Update PriceConver.sol example with Goerli feeds.
  public/samples/PriceFeeds/PriceConverter.sol
Labels: data feeds, evm
