Repository smartcontractkit/documentation, pull requests merged in 2023-12, with the labels that each got.

#1677 Update CCIP best practices
  src/content/ccip/best-practices.mdx
Labels: ready to merge, Chainlink CCIP

#1679 Fix typo in compatible-contracts.mdx
  src/content/chainlink-automation/guides/compatible-contracts.mdx
Labels: Chainlink Automation

#1684 Enable PoR Feeds for Polygon Mumbai
  src/features/data/chains.ts
Labels: ready to merge, Chainlink Data Feeds

#1683 Add BASE to Automation
  src/content/chainlink-automation/overview/supported-networks.mdx
  src/content/resources/link-token-contracts.mdx
  src/features/ccip/CcipCommon.astro
  src/features/ccip/third-party-apps.mdx
  src/features/chainlink-automation/data/chainlink-automation-addresses.json
  src/features/chainlink-automation/data/chainlink-automation-config.json
Labels: Chainlink Automation

#1681 Clarify upkeep funding requirements for Data Streams examples
  src/features/data-streams/common/gettingStarted.mdx
Labels: ready to merge, Chainlink Data Streams

#1691 Added a section to specify buffer return type
  src/content/chainlink-functions/api-reference/javascript-source.mdx
Labels: Chainlink Functions

#1692 Add zkSync for Data Feeds
  public/assets/chains/zksync.svg
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/content/resources/link-token-contracts.mdx
  src/features/data/chains.ts
  src/features/landing/data/index.ts
  src/scripts/reference/linkNameSymbol.json
Labels: blocked, Chainlink Data Feeds

#1695 Polygon zkevm
  public/assets/chains/polygon.svg
  public/assets/chains/polygonzkevm.svg
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/content/resources/link-token-contracts.mdx
  src/features/data/chains.ts
  src/features/landing/data/index.ts
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: Chainlink Data Feeds

#1696 CCIP: Support for Arbitrum Sepolia
  src/config/data/ccip/v1_2_0/testnet/chains.json
  src/config/data/ccip/v1_2_0/testnet/lanes.json
  src/config/data/ccip/v1_2_0/testnet/tokens.json
  src/content/ccip/release-notes.mdx
  src/features/ccip/components/supported-networks/ChainConfig.astro
  src/features/utils/index.ts
Labels: Chainlink CCIP

#1694 Functions Arbitrum testnet support
  src/content/chainlink-functions/resources/release-notes.mdx
  src/content/chainlink-functions/supported-networks.mdx
  src/features/landing/data/index.ts
Labels: Chainlink Functions

#1682 Add documentation for source imported packages
  src/config/sidebar.ts
  src/content/chainlink-functions/resources/release-notes.mdx
  src/content/chainlink-functions/resources/service-limits.mdx
  src/content/chainlink-functions/tutorials/api-custom-response.mdx
  src/content/chainlink-functions/tutorials/api-multiple-calls.mdx
  src/content/chainlink-functions/tutorials/api-post-data.mdx
  src/content/chainlink-functions/tutorials/api-query-parameters.mdx
  src/content/chainlink-functions/tutorials/api-use-secrets.mdx
  src/content/chainlink-functions/tutorials/importing-packages.mdx
  src/content/chainlink-functions/tutorials/index.mdx
  src/content/chainlink-functions/tutorials/simple-computation.mdx
  src/features/chainlink-functions/common/ChainlinkFunctions.astro
  src/features/chainlink-functions/common/DenoImportNotes.mdx
Labels: Chainlink Functions
