Repository smartcontractkit/documentation, pull requests merged in 2023-04, with the labels that each got.

#1233 Update solana docs
  src/pages/data-feeds/solana/using-data-feeds-off-chain.mdx
  src/pages/data-feeds/solana/using-data-feeds-solana.mdx
Labels: data feeds

#1231 remove any-api data providers
  public/samples/DataProviders/DnsOwnership.sol
  public/samples/DataProviders/GoogleWeather.sol
  src/components/Footer/Footer.astro
  src/config/sidebar.ts
  src/features/redirects/redirects.json
  src/pages/any-api/data-providers/dns-ownership.mdx
  src/pages/any-api/data-providers/google-weather.mdx
  src/pages/any-api/data-providers/introduction.mdx
  src/pages/any-api/find-oracle.mdx
  src/pages/any-api/get-request/examples/array-response.mdx
  src/pages/any-api/get-request/examples/existing-job-request.mdx
  src/pages/any-api/get-request/examples/large-responses.mdx
  src/pages/any-api/get-request/examples/single-word-response.mdx
  src/pages/any-api/get-request/introduction.mdx
  src/pages/any-api/introduction.mdx
  src/pages/getting-started/advanced-tutorial.mdx
  vercel.json
Labels: api call

#1219 Test VRF v2 locally using a mock contract
  public/images/vrf/mock/ganache.jpg
  public/images/vrf/mock/ganacheprivatekey.jpg
  public/images/vrf/mock/ganacheremixconnect.jpg
  public/images/vrf/mock/ganacheshowkeys.jpg
  public/images/vrf/mock/injectedmetamask.jpg
  public/images/vrf/mock/metamaskcustomnetwork.jpg
  public/images/vrf/mock/metamaskganacheaccount.jpg
  public/images/vrf/mock/remixenvinjected.jpg
  public/images/vrf/mock/v2-addconsumer.jpg
  public/images/vrf/mock/v2-addconsumerdf.jpg
  public/images/vrf/mock/v2-deployaggregatormock.jpg
  public/images/vrf/mock/v2-deployconsumer.jpg
  public/images/vrf/mock/v2-deploydfconsumer.jpg
  public/images/vrf/mock/v2-deployedaggregatormock.jpg
  public/images/vrf/mock/v2-deployedconsumer.jpg
  public/images/vrf/mock/v2-deployedconsumerrequestid.jpg
  public/images/vrf/mock/v2-deployedconsumerrequestiddf.jpg
  public/images/vrf/mock/v2-deployedconsumerrequeststatusdf.jpg
  public/images/vrf/mock/v2-deployedconsumerrequeststatusresultsdf.jpg
  public/images/vrf/mock/v2-deployeddfconsumer.jpg
  public/images/vrf/mock/v2-deployedlink.jpg
  public/images/vrf/mock/v2-deployedmock.jpg
  public/images/vrf/mock/v2-deployedmockdf.jpg
  public/images/vrf/mock/v2-deployedwrapper.jpg
  public/images/vrf/mock/v2-deploylink.jpg
  public/images/vrf/mock/v2-deploymock.jpg
  public/images/vrf/mock/v2-deploymockdf.jpg
  public/images/vrf/mock/v2-deploywrapper.jpg
  public/images/vrf/mock/v2-df-remix-fileexplorer.jpg
  public/images/vrf/mock/v2-firstrandomword.jpg
  public/images/vrf/mock/v2-fulfillrandomwords.jpg
  public/images/vrf/mock/v2-fulfillrandomwordsdf.jpg
  public/images/vrf/mock/v2-linktransfer.jpg
  public/images/vrf/mock/v2-mocksubscription.jpg
  public/images/vrf/mock/v2-requestfulfilledlogsdf.jpg
  public/images/vrf/mock/v2-requestrandomwords.jpg
  public/images/vrf/mock/v2-requestrandomwordsdf.jpg
  public/images/vrf/mock/v2-requestrandomwordslogs.jpg
  public/images/vrf/mock/v2-requestrandomwordslogsdf.jpg
  public/images/vrf/mock/v2-secondrandomword.jpg
  public/images/vrf/mock/v2-subscription-remix-fileexplorer.jpg
  public/images/vrf/mock/v2-wrappersetconfig.jpg
  public/samples/VRF/mock/LinkToken.sol
  public/samples/VRF/mock/MockV3Aggregator.sol
  public/samples/VRF/mock/RandomNumberDirectFundingConsumerV2.sol
  public/samples/VRF/mock/VRFCoordinatorV2Mock.sol
  public/samples/VRF/mock/VRFV2Wrapper.sol
  public/samples/VRF/mock/VRFv2Consumer.sol
  src/config/sidebar.ts
  src/features/common/ContentCommon.astro
  src/features/common/local-testing-benefits.mdx
  src/pages/vrf/v2/direct-funding/examples/test-locally.mdx
  src/pages/vrf/v2/subscription/examples/test-locally.mdx
Labels: vrf

#1237 Update solana feed addresses
  public/samples/Solana/PriceFeeds/off-chain-read.js
  public/samples/Solana/PriceFeeds/off-chain-read.ts
Labels: ready to merge, data feeds

#1229 Update CL functions docs: removal of inline secrets
  public/images/chainlink-functions/tutorials/automation/cl-automation-home.jpg
  public/images/chainlink-functions/tutorials/automation/myupkeep-details.jpg
  src/features/chainlink-functions/common/FunctionsConsumer.mdx
  src/pages/chainlink-functions/getting-started.mdx
  src/pages/chainlink-functions/index.mdx
  src/pages/chainlink-functions/resources/add-functions-to-projects.mdx
  src/pages/chainlink-functions/resources/subscriptions.mdx
  src/pages/chainlink-functions/tutorials/api-custom-response.mdx
  src/pages/chainlink-functions/tutorials/api-multiple-calls.mdx
  src/pages/chainlink-functions/tutorials/api-post-data.mdx
  src/pages/chainlink-functions/tutorials/api-query-parameters.mdx
  src/pages/chainlink-functions/tutorials/api-use-secrets-offchain.mdx
  src/pages/chainlink-functions/tutorials/api-use-secrets.mdx
  src/pages/chainlink-functions/tutorials/automate-functions.mdx
  src/pages/chainlink-functions/tutorials/simple-computation.mdx
Labels: Chainlink Functions

#192 Reorganize Chainlink node documentation
  src/config/sidebar.ts
  src/pages/chainlink-nodes/configuring-nodes.mdx
  src/pages/chainlink-nodes/contracts/index.md
  src/pages/chainlink-nodes/proof-of-reserves-btc.md
  src/pages/chainlink-nodes/resources/best-practices-aws.mdx
  src/pages/chainlink-nodes/resources/connecting-to-a-remote-database.md
  src/pages/chainlink-nodes/resources/index.md
  src/pages/chainlink-nodes/resources/miscellaneous.md
  src/pages/chainlink-nodes/resources/requirements.md
  src/pages/chainlink-nodes/resources/requirements.mdx
  src/pages/chainlink-nodes/v1/configuration.md
  src/pages/chainlink-nodes/v1/node-config.mdx
  src/pages/chainlink-nodes/v1/roles-and-access.mdx
  src/pages/chainlink-nodes/v1/running-a-chainlink-node.md
  src/pages/chainlink-nodes/v1/secrets-config.mdx
Labels: blocked, node operators

#1243 Remove Klaytn data feeds
  src/features/feeds/data/chains.ts
  src/features/landing/data/index.ts
Labels: data feeds

#1244 Fix missing link
  src/features/feeds/components/FeedPage.astro
Labels: ready to merge, data feeds

#1242 Restructure tasks under node operators
  src/config/sidebar.ts
  src/features/redirects/redirects.json
  src/pages/any-api/testnet-oracles.mdx
  src/pages/chainlink-nodes/external-adapters/node-operators.md
  src/pages/chainlink-nodes/job-specs/direct-request-existing-job.md
  src/pages/chainlink-nodes/node-versions.md
  src/pages/chainlink-nodes/oracle-jobs/all-tasks.md
  src/pages/chainlink-nodes/oracle-jobs/jobs.md
  src/pages/chainlink-nodes/oracle-jobs/migration-v1-v2.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/pipelines.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_any.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_base64decode.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_base64encode.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_bridge.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_cborparse.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_divide.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_eth_abi_decode.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_eth_abi_decode_log.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_eth_abi_encode.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_eth_call.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_eth_tx.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_hexdecode.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_hexencode.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_http.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_jsonparse.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_length.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_lessthan.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_lowercase.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_mean.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_median.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_mode.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_multiply.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_sum.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/task_uppercase.md
  src/pages/chainlink-nodes/oracle-jobs/task-types/tasks.md
  src/pages/chainlink-nodes/oracle-jobs/tasks.md
  src/pages/chainlink-nodes/v1/fulfilling-requests.md
  src/pages/getting-started/advanced-tutorial.mdx
  src/pages/resources/glossary.mdx
Labels: node operators

#1245 Small update to Selecting Data Feeds
  src/pages/data-feeds/selecting-data-feeds.md
Labels: ready to merge, data feeds

#1247 update add functions to a project
  public/samples/Functions/adding-functions-to-projects/hardhat.config.js
  src/pages/chainlink-functions/getting-started.mdx
  src/pages/chainlink-functions/resources/add-functions-to-projects.mdx
Labels: Chainlink Functions

#1206 Migrate Data Feeds to mdx
  src/features/feeds/callouts/FeedsCommonCallout.astro
  src/features/feeds/callouts/etf-best-practices.mdx
  src/features/feeds/callouts/feed-quality.mdx
  src/features/feeds/callouts/por-verification.mdx
  src/features/feeds/callouts/por-wallet-address-manager.mdx
  src/features/feeds/components/FeedList.module.css
  src/features/feeds/components/FeedPage.astro
  src/features/feeds/data/index.ts
  src/features/feeds/shared/FeedsShared.astro
  src/features/feeds/shared/using-price-feeds.mdx
  src/pages/data-feeds/api-reference.mdx
  src/pages/data-feeds/deprecating-feeds.mdx
  src/pages/data-feeds/ens.mdx
  src/pages/data-feeds/examples.mdx
  src/pages/data-feeds/feed-registry/feed-registry-functions.mdx
  src/pages/data-feeds/feed-registry/index.mdx
  src/pages/data-feeds/historical-data.mdx
  src/pages/data-feeds/l2-sequencer-feeds.mdx
  src/pages/data-feeds/nft-floor-price/index.mdx
  src/pages/data-feeds/price-feeds/addresses.md
  src/pages/data-feeds/price-feeds/index.mdx
  src/pages/data-feeds/proof-of-reserve/index.mdx
  src/pages/data-feeds/selecting-data-feeds.mdx
  src/pages/data-feeds/solana/index.mdx
  src/pages/data-feeds/solana/using-data-feeds-off-chain.mdx
  src/pages/data-feeds/solana/using-data-feeds-solana.mdx
  src/pages/data-feeds/starknet/index.mdx
  src/pages/data-feeds/using-data-feeds.mdx
Labels: blocked

#1251 Add Rate and Volatility feeds
  src/config/sidebar.ts
  src/features/feeds/api/index.ts
  src/features/feeds/components/FeedList.tsx
  src/features/feeds/components/FeedPage.astro
  src/features/feeds/components/Tables.tsx
  src/features/feeds/data/chains.ts
  src/pages/chainlink-functions/resources/add-functions-to-projects.mdx
  src/pages/data-feeds/examples.mdx
  src/pages/data-feeds/historical-data.mdx
  src/pages/data-feeds/index.mdx
  src/pages/data-feeds/l2-sequencer-feeds.mdx
  src/pages/data-feeds/nft-floor-price/index.mdx
  src/pages/data-feeds/price-feeds/index.mdx
  src/pages/data-feeds/proof-of-reserve/index.mdx
  src/pages/data-feeds/rates-feeds/addresses.md
  src/pages/data-feeds/rates-feeds/index.md
  src/pages/data-feeds/solana/index.mdx
  src/pages/resources/acquire-link.mdx
  src/pages/vrf/v2/introduction.mdx
Labels: data feeds

#1259 Update the hackathon banner
  src/features/notifications/data/index.ts
Labels: ready to merge

#1256 Add functions to a project: secrets support
  public/samples/Functions/adding-functions-to-projects/hardhat.config.js
  src/pages/chainlink-functions/resources/add-functions-to-projects.mdx
Labels: Chainlink Functions

#1264 Add Polygon Mumbai to NFT Floor Price feeds
  src/features/feeds/data/chains.ts
Labels: ready to merge, data feeds

#1261 Migrate node ops files to mdx
  .prettierignore
  src/pages/chainlink-nodes/contracts/addresses.mdx
  src/pages/chainlink-nodes/contracts/forwarder.mdx
  src/pages/chainlink-nodes/contracts/operator.mdx
  src/pages/chainlink-nodes/contracts/operatorfactory.mdx
  src/pages/chainlink-nodes/contracts/ownership.mdx
  src/pages/chainlink-nodes/contracts/receiver.mdx
  src/pages/chainlink-nodes/external-adapters/contract-creators.mdx
  src/pages/chainlink-nodes/external-adapters/developers.mdx
  src/pages/chainlink-nodes/external-adapters/external-adapters.mdx
  src/pages/chainlink-nodes/external-adapters/node-operators.mdx
  src/pages/chainlink-nodes/external-initiators/building-external-initiators.mdx
  src/pages/chainlink-nodes/external-initiators/external-initiators-in-nodes.mdx
  src/pages/chainlink-nodes/external-initiators/external-initiators-introduction.mdx
  src/pages/chainlink-nodes/job-specs/direct-request-existing-job.mdx
  src/pages/chainlink-nodes/job-specs/direct-request-get-bool.mdx
  src/pages/chainlink-nodes/job-specs/direct-request-get-bytes.mdx
  src/pages/chainlink-nodes/job-specs/direct-request-get-int256.mdx
  src/pages/chainlink-nodes/job-specs/direct-request-get-string.mdx
  src/pages/chainlink-nodes/job-specs/direct-request-get-uint256.mdx
  src/pages/chainlink-nodes/job-specs/multi-word-job.mdx
  src/pages/chainlink-nodes/node-versions.mdx
  src/pages/chainlink-nodes/oracle-jobs/all-tasks.mdx
  src/pages/chainlink-nodes/oracle-jobs/job-types/cron.mdx
  src/pages/chainlink-nodes/oracle-jobs/job-types/direct_request.mdx
  src/pages/chainlink-nodes/oracle-jobs/job-types/flux_monitor.mdx
  src/pages/chainlink-nodes/oracle-jobs/job-types/keeper.mdx
  src/pages/chainlink-nodes/oracle-jobs/job-types/offchain_reporting.mdx
  src/pages/chainlink-nodes/oracle-jobs/job-types/webhook.mdx
  src/pages/chainlink-nodes/oracle-jobs/jobs.mdx
  src/pages/chainlink-nodes/oracle-jobs/migration-v1-v2.mdx
  src/pages/chainlink-nodes/oracle-jobs/tasks.mdx
  src/pages/chainlink-nodes/oracle-jobs/v1/adapters.mdx
  src/pages/chainlink-nodes/oracle-jobs/v1/initiators.mdx
  src/pages/chainlink-nodes/oracle-jobs/v1/job-specifications.mdx
  src/pages/chainlink-nodes/resources/best-security-practices.mdx
  src/pages/chainlink-nodes/resources/connecting-to-a-remote-database.mdx
  src/pages/chainlink-nodes/resources/enabling-https-connections.mdx
  src/pages/chainlink-nodes/resources/evm-performance-configuration.mdx
  src/pages/chainlink-nodes/resources/miscellaneous.mdx
  src/pages/chainlink-nodes/resources/performing-system-maintenance.mdx
  src/pages/chainlink-nodes/resources/run-an-ethereum-client.md
  src/pages/chainlink-nodes/resources/run-an-ethereum-client.mdx
  src/pages/chainlink-nodes/v1/configuration.mdx
  src/pages/chainlink-nodes/v1/fulfilling-requests.mdx
  src/pages/chainlink-nodes/v1/index.mdx
  src/pages/chainlink-nodes/v1/running-a-chainlink-node.mdx
  src/pages/chainlink-nodes/v1/using-forwarder.mdx
Labels: node operators

#1267 document ETH Key management
  src/pages/chainlink-nodes/resources/miscellaneous.mdx
Labels: node operators

#1270 Clean up old files and networks
  public/assets/chains/heco.svg
  public/assets/chains/klaytn.svg
  scripts/networks.ts
  scripts/process-data.ts
  scripts/reference/chains.json
  scripts/reference/linkNameSymbol.json
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/features/redirects/redirects.json
  src/pages/any-api/testnet-oracles.mdx
  src/pages/resources/link-token-contracts.mdx
  src/scripts/reference/chains.json
Labels: ready to merge

#1271 Update Hackathon banner
  src/features/notifications/data/index.ts
Labels: ready to merge

#1252 CL Nodes 2.0.0 release
  src/pages/chainlink-nodes/configuring-nodes.mdx
  src/pages/chainlink-nodes/node-versions.mdx
  src/pages/chainlink-nodes/v1/node-config.mdx
  src/pages/chainlink-nodes/v1/running-a-chainlink-node.mdx
Labels: node operators

#1268 CL functions: support ava fuji
  public/samples/Functions/adding-functions-to-projects/hardhat.config.js
  src/pages/chainlink-functions/getting-started.mdx
  src/pages/chainlink-functions/resources/add-functions-to-projects.mdx
  src/pages/chainlink-functions/resources/subscriptions.mdx
  src/pages/chainlink-functions/supported-networks.mdx
  src/pages/chainlink-functions/tutorials/api-custom-response.mdx
  src/pages/chainlink-functions/tutorials/api-multiple-calls.mdx
  src/pages/chainlink-functions/tutorials/api-post-data.mdx
  src/pages/chainlink-functions/tutorials/api-query-parameters.mdx
  src/pages/chainlink-functions/tutorials/api-use-secrets-offchain.mdx
  src/pages/chainlink-functions/tutorials/api-use-secrets.mdx
  src/pages/chainlink-functions/tutorials/automate-functions.mdx
  src/pages/chainlink-functions/tutorials/simple-computation.mdx
Labels: blocked, Chainlink Functions
