Repository smartcontractkit/documentation, pull requests merged in 2023-08, with the labels that each got.

#1428 Add ethereum mainnet -> avalanche mainnet lane
  src/pages/ccip/supported-networks.mdx
Labels: Chainlink CCIP

#1430 Update test-tokens.mdx
  src/pages/ccip/test-tokens.mdx
Labels: Chainlink CCIP

#1433 CCIP conceptual doc edits
  src/pages/ccip/architecture.mdx
  src/pages/ccip/concepts.mdx
  src/pages/ccip/index.mdx
Labels: ready to merge

#1389 Collapsible left nav bar
  src/components/LeftSidebar/LeftSidebar.astro
  src/config/sidebar.ts
  src/scripts/flatten-children.test.ts
  src/scripts/flatten-children.ts
Labels: enhancement

#1441 Risk terminology update
  src/content/resources/bridge-risks.mdx
Labels: ready to merge

#1440 Add capability for feed notices
  src/features/feeds/components/FeedList.tsx
  src/features/feeds/components/FeedPage.astro
  src/features/feeds/components/Tables.tsx
  src/features/feeds/components/index.ts
  src/features/feeds/components/pause-notice/CheckHeartbeat.tsx
  src/features/feeds/components/pause-notice/PauseNotice.module.css
  src/features/feeds/components/pause-notice/PauseNotice.tsx
  src/features/feeds/data/index.ts
Labels: Chainlink Data Feeds

#1445 Update docs banner
  src/features/notifications/data/index.ts
Labels: ready to merge

#1429 Add terminology tooltip capability
  src/components/Tooltip/Tooltip.module.css
  src/components/Tooltip/Tooltip.tsx
  src/components/index.ts
Labels: enhancement

#1450 Add L2 sequencer uptime feed info for BASE
  src/content/data-feeds/l2-sequencer-feeds.mdx
Labels: Chainlink Data Feeds

#1449 Update finality documentation for CCIP
  src/content/ccip/architecture.mdx
  src/content/ccip/concepts.mdx
Labels: Chainlink CCIP

#1454 Fix edit buttons and broken links
  README.md
  src/content/chainlink-automation/automation-release-notes.mdx
  src/content/chainlink-automation/compatible-contracts.mdx
  src/content/chainlink-automation/overview.mdx
  src/content/chainlink-automation/tutorials/eth-balance.mdx
  src/content/chainlink-functions/resources/add-functions-to-projects.mdx
  src/content/chainlink-functions/resources/architecture.mdx
  src/content/chainlink-functions/resources/concepts.mdx
  src/content/chainlink-functions/tutorials/automate-functions.mdx
  src/content/chainlink-nodes/resources/run-an-ethereum-client.mdx
  src/content/chainlink-nodes/v1/index.mdx
  src/content/data-feeds/index.mdx
  src/content/data-feeds/solana/index.mdx
  src/content/data-feeds/solana/using-data-feeds-solana.mdx
  src/content/data-feeds/starknet/index.mdx
  src/content/getting-started/intermediates-tutorial.mdx
  src/content/resources/bridge-risks.mdx
  src/content/resources/example-projects.mdx
  src/content/resources/link-token-contracts.mdx
  src/content/vrf/v1/api-reference.mdx
  src/content/vrf/v1/examples/get-a-random-number.mdx
  src/content/vrf/v1/supported-networks.mdx
  src/content/vrf/v2/direct-funding/examples/get-a-random-number.mdx
  src/content/vrf/v2/direct-funding/index.mdx
  src/content/vrf/v2/direct-funding/supported-networks.mdx
  src/content/vrf/v2/subscription/examples/get-a-random-number.mdx
  src/content/vrf/v2/subscription/index.mdx
  src/content/vrf/v2/subscription/supported-networks.mdx
  src/layouts/MainLayout.astro
Labels: ready to merge

#1448 Add type-checking and fix type errors
  .github/workflows/test.yml
  package.json
  public/samples/Solana/PriceFeeds/off-chain-read.ts
  src/components/Address.tsx
  src/components/Header/Search/SearchInput.tsx
  src/components/Header/Search/SearchModal.tsx
  src/components/Hexagon/Cube.tsx
  src/components/Modal/Modal.tsx
  src/components/PageContent/Feedback.tsx
  src/components/RightSidebar/TableOfContents/index.tsx
  src/components/RightSidebar/TableOfContents/tocStore.ts
  src/components/index.ts
  src/config/sidebar.ts
  src/content/resources/developer-communications.mdx
  src/features/ccip/components/MintTokenButton.tsx
  src/features/ccip/components/NetworkDropdown.tsx
  src/features/chainlink-automation/components/AutomationConfigList.tsx
  src/features/data/chains.ts
  src/features/ens/components/EnsLookupForm.tsx
  src/features/ens/components/EnsManualLookupForm.tsx
  src/features/notifications/components/HeaderBanner.tsx
  src/features/resources/index.ts
  src/features/utils/getInjectedProvider.ts
  src/features/utils/index.ts
  src/features/vrf/v2/components/CostTable.tsx
  src/features/vrf/v2/components/DropdownMenu.tsx
  src/scripts/flatten-children.ts
  src/scripts/link-to-wallet.ts
  src/scripts/prism-jpv2.ts
  tsconfig.json
Labels: enhancement

#1463 CCIP rate limits enhancement
  src/content/ccip/architecture.mdx
  src/content/ccip/supported-networks.mdx
Labels: ready to merge, Chainlink CCIP

#1469 Add exchange rate feed best practices
  src/content/data-feeds/selecting-data-feeds.mdx
Labels: ready to merge, Chainlink Data Feeds

#1459 Data feed deprecation notice edit
  src/features/feeds/components/FeedPage.astro
Labels: ready to merge, Chainlink Data Feeds

#1472 Add Avalanche <> Polygon Mainnet lane and new testnet networks
  src/content/ccip/supported-networks.mdx
Labels: Chainlink CCIP

#1474 Update network names for BNB Chain
  CONTRIBUTING.md
  src/content/ccip/supported-networks.mdx
Labels: ready to merge, Chainlink CCIP

#1470 Feed deprecation description update
  src/content/data-feeds/selecting-data-feeds.mdx
Labels: ready to merge, Chainlink Data Feeds

#1477 chore/GlobalExplorerConfigRemoval: removing Global.ExplorerURL config option
  src/content/chainlink-nodes/configuring-nodes.mdx
  src/content/chainlink-nodes/v1/configuration.mdx
  src/content/chainlink-nodes/v1/node-config.mdx
  src/content/chainlink-nodes/v1/secrets-config.mdx
Labels: Chainlink Nodes

#1478 Fix feed notice error
  src/features/feeds/components/pause-notice/PauseNotice.tsx
Labels: bug, ready to merge, Chainlink Data Feeds
