Repository smartcontractkit/documentation, pull requests merged in 2023-03, with the labels that each got.

#1174 Functions updates
  public/samples/Functions/adding-functions-to-projects/functions-sub.js
  src/pages/chainlink-functions/getting-started.md
  src/pages/chainlink-functions/resources/add-functions-to-projects.md
  src/pages/chainlink-functions/supported-networks.md
Labels: Chainlink Functions

#1173 Functions Beta documentation
  src/config/menu.ts
  src/features/landing/assets/functions-logo.svg
  src/features/landing/data/index.ts
  src/features/notifications/data/index.ts
  src/pages/chainlink-functions/index.md
  src/pages/chainlink-functions/resources/add-functions-to-projects.md
  src/pages/chainlink-functions/tutorials/api-custom-response.md
  src/pages/chainlink-functions/tutorials/api-multiple-calls.md
  src/pages/chainlink-functions/tutorials/api-post-data.md
  src/pages/chainlink-functions/tutorials/api-query-parameters.md
  src/pages/chainlink-functions/tutorials/api-use-secrets-offchain.md
  src/pages/chainlink-functions/tutorials/api-use-secrets.md
  src/pages/chainlink-functions/tutorials/simple-computation.md
Labels: Chainlink Functions

#1175 Aelmanaa/cl functions automation
  public/images/chainlink-functions/tutorials/automation/cl-automation-home.jpg
  public/images/chainlink-functions/tutorials/automation/myupkeep-details.jpg
  src/config/sidebar.ts
  src/pages/chainlink-functions/tutorials/automate-functions.md
  src/pages/chainlink-functions/tutorials/index.md
Labels: Chainlink Functions

#1179 Add BASE Goerli testnet for Data Feeds
  public/assets/chains/base.svg
  src/config/data/chains.json
  src/config/types.ts
  src/features/feeds/data/chains.ts
  src/features/landing/data/index.ts
  src/pages/resources/link-token-contracts.md
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: data feeds

#1101 Operator + Forwarder docs
  public/images/chainlink-nodes/node-operators/forwarder/acceptAuthorizedReceivers.jpg
  public/images/chainlink-nodes/node-operators/forwarder/deployfromfactorysuccess.jpg
  public/images/chainlink-nodes/node-operators/forwarder/factorycreatetransactions.jpg
  public/images/chainlink-nodes/node-operators/forwarder/factorytransactions.jpg
  public/images/chainlink-nodes/node-operators/forwarder/factorytransactionsconnected.jpg
  public/images/chainlink-nodes/node-operators/forwarder/factoryviewtransaction.jpg
  public/images/chainlink-nodes/node-operators/forwarder/forward-transactions.jpg
  public/images/chainlink-nodes/node-operators/forwarder/forward1-logs.jpg
  public/images/chainlink-nodes/node-operators/forwarder/forward1.jpg
  public/images/chainlink-nodes/node-operators/forwarder/forward2-logs.jpg
  public/images/chainlink-nodes/node-operators/forwarder/forward2.jpg
  public/images/chainlink-nodes/node-operators/forwarder/forwarder-directrequest-example.png
  public/images/chainlink-nodes/node-operators/forwarder/forwarder.jpg
  public/images/chainlink-nodes/node-operators/forwarder/operator.jpg
  public/images/chainlink-nodes/node-operators/forwarder/operatorsetauthorizedsenders.jpg
  public/samples/APIRequests/APIConsumerForwarder.sol
  public/samples/ChainlinkNodes/forwarder/get-string.toml
  public/samples/ChainlinkNodes/forwarder/get-uint256.toml
  src/config/sidebar.ts
  src/pages/chainlink-nodes/contracts/addresses.md
  src/pages/chainlink-nodes/contracts/forwarder.md
  src/pages/chainlink-nodes/contracts/index.md
  src/pages/chainlink-nodes/contracts/operator.md
  src/pages/chainlink-nodes/contracts/operatorfactory.md
  src/pages/chainlink-nodes/contracts/ownership.md
  src/pages/chainlink-nodes/contracts/receiver.md
  src/pages/chainlink-nodes/oracle-jobs/jobs.md
  src/pages/chainlink-nodes/v1/running-a-chainlink-node.md
  src/pages/chainlink-nodes/v1/using-forwarder.md
Labels: enhancement, node operators

#1180 Fix edit button and feed list TOC
  src/features/feeds/components/FeedPage.astro
  src/layouts/MainLayout.astro
  src/pages/any-api/data-providers/dns-ownership.mdx
  src/pages/blockchain-integrations-framework/index.md
  src/pages/chainlink-automation/supported-networks.mdx
  src/pages/chainlink-functions/index.md
  src/pages/chainlink-functions/resources/index.md
  src/pages/chainlink-functions/tutorials/index.md
  src/pages/chainlink-nodes/contracts/index.md
  src/pages/data-feeds/ens.mdx
  src/pages/data-feeds/examples.mdx
  src/pages/data-feeds/feed-registry/index.mdx
  src/pages/data-feeds/historical-data.mdx
  src/pages/data-feeds/index.mdx
  src/pages/data-feeds/nft-floor-price/index.md
  src/pages/data-feeds/price-feeds/index.md
  src/pages/data-feeds/proof-of-reserve/index.md
  src/pages/data-feeds/solana/index.md
  src/pages/data-feeds/starknet/index.md
Labels: bug

#1182 Typo fix
  src/pages/chainlink-nodes/node-versions.md
Labels: bug

#1196 Fix Solana data feeds list redirects
  src/features/redirects/redirects.json
  vercel.json
Labels: bug, data feeds

#1195 Update data feed tables
  src/features/feeds/callouts/FeedsCommonCallout.astro
  src/features/feeds/callouts/por-verification.md
  src/features/feeds/callouts/por-wallet-address-manager.md
  src/features/feeds/components/FeedPage.astro
  src/features/feeds/components/Tables.tsx
  src/pages/data-feeds/proof-of-reserve/index.md
Labels: data feeds

#1193 Docs for v1.13.0 release
  src/pages/chainlink-nodes/node-versions.md
  src/pages/chainlink-nodes/v1/configuration.md
Labels: node operators

#1211 CTA Update for VRF and Automation
  src/pages/chainlink-automation/introduction.mdx
  src/pages/vrf/v2/introduction.md
Labels: vrf, Chainlink Automation

#1216 update UpkeepIDConsumerExample to v2
  public/samples/Automation/UpkeepIDConsumerExample.sol
Labels: bug, Chainlink Automation

#1222 Update the cross-chain reserves description
  src/pages/data-feeds/proof-of-reserve/index.md
Labels: data feeds

#1220 Banner update hackathon
  src/features/notifications/data/index.ts
Labels: blocked
