Repository smartcontractkit/documentation, pull requests merged in 2023-06, with the labels that each got.

#1325 Add encode example to mode task docs
  src/pages/chainlink-nodes/oracle-jobs/all-tasks.mdx
Labels: ready to merge, node operators

#1327 Add Optimism Bedrock notices
  src/features/chainlink-automation/components/AutomationConfigList.tsx
  src/features/feeds/components/FeedList.tsx
  src/pages/chainlink-automation/introduction.mdx
  src/pages/data-feeds/index.mdx
  src/pages/data-feeds/l2-sequencer-feeds.mdx
  src/pages/resources/link-token-contracts.mdx
Labels: data feeds, Chainlink Automation

#1329 Fix Automation supported networks list notices for Bedrock
  src/features/chainlink-automation/components/AutomationConfigList.tsx
Labels: Chainlink Automation

#1328 Change Realized Volatility value for data feeds
  src/features/feeds/components/Tables.tsx
  src/features/feeds/data/chains.ts
Labels: ready to merge, data feeds

#1332 Update banner
  src/features/notifications/components/HeaderBanner.tsx
  src/features/notifications/data/index.ts
Labels: ready to merge

#1333 Add Realized Volatility feeds for Polygon
  src/features/feeds/data/chains.ts
Labels: data feeds

#1334 Remove notices for Optimism bedrock
  src/features/chainlink-automation/components/AutomationConfigList.tsx
  src/features/feeds/components/FeedList.tsx
  src/pages/chainlink-automation/introduction.mdx
  src/pages/data-feeds/index.mdx
  src/pages/data-feeds/l2-sequencer-feeds.mdx
  src/pages/resources/link-token-contracts.mdx
Labels: ready to merge

#1335 Update ETF feed notice
  src/features/feeds/callouts/etf-best-practices.mdx
  src/features/feeds/components/Tables.tsx
Labels: ready to merge, data feeds

#1337 corrected example and calculation
  public/images/automation/automation-pricing-example.png
  public/images/automation/automation-pricing.png
  src/pages/chainlink-automation/automation-economics.mdx
Labels: Chainlink Automation

#1338 Chainlink Node v2.2.0
  src/pages/chainlink-nodes/node-versions.mdx
  src/pages/chainlink-nodes/resources/requirements.mdx
  src/pages/chainlink-nodes/v1/node-config.mdx
  src/pages/chainlink-nodes/v1/secrets-config.mdx
Labels: node operators

#1324 Update VRF / Arbitrum cost estimation docs
  src/pages/vrf/v2/direct-funding/supported-networks.mdx
  src/pages/vrf/v2/estimating-costs.mdx
Labels: ready to merge, vrf

#1339 Minor misc fixes to Automation docs
  src/pages/chainlink-automation/automation-economics.mdx
  src/pages/chainlink-automation/automation-release-notes.mdx
  src/pages/chainlink-automation/compatible-contract-best-practice.mdx
  src/pages/chainlink-automation/compatible-contracts.mdx
  src/pages/chainlink-automation/faqs.mdx
  src/pages/chainlink-automation/flexible-upkeeps.mdx
  src/pages/chainlink-automation/introduction.mdx
  src/pages/chainlink-automation/job-scheduler.mdx
  src/pages/chainlink-automation/manage-upkeeps.mdx
  src/pages/chainlink-automation/overview.mdx
  src/pages/chainlink-automation/register-upkeep.mdx
  src/pages/chainlink-automation/supported-networks.mdx
  src/pages/chainlink-automation/tutorials/batch-nft.mdx
  src/pages/chainlink-automation/tutorials/counting-dnft.mdx
  src/pages/chainlink-automation/tutorials/dynamic-nft.mdx
  src/pages/chainlink-automation/tutorials/eth-balance.mdx
  src/pages/chainlink-automation/tutorials/vault-harvester.mdx
  src/pages/chainlink-automation/tutorials/vrf-sub-monitor.mdx
  src/pages/chainlink-automation/util-overview.mdx
Labels: Chainlink Automation

#1310 Add optional copy-paste links for Functions docs
  src/pages/chainlink-functions/resources/add-functions-to-projects.mdx
Labels: ready to merge, Chainlink Functions

#1346 Handle anchor after TOC loads on data feeds lists
  src/components/RightSidebar/TableOfContents/tocStore.ts
Labels: ready to merge

#1306 Temp Algolia search indexing fix
  src/pages/search-index.astro
Labels: ready to merge

#1343 Add translation selector
  src/components/HeadCommon.astro
  src/components/Header/Header.astro
  src/features/landing/sections/HeroCTA.astro
  src/features/landing/sections/NewUserCTA.astro
  src/layouts/LandingLayout.astro
Labels: ready to merge

#1351 Update hardcoded Goerli variables to Sepolia in VRF intro tutorial
  src/pages/getting-started/intermediates-tutorial.mdx
Labels: ready to merge, vrf

#1355 Update secrets config - URL
  src/pages/chainlink-nodes/v1/secrets-config.mdx
Labels: ready to merge, node operators

#1361 Celo data feeds
  public/assets/chains/celo.svg
  scripts/reference/chains.json
  scripts/reference/linkNameSymbol.json
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/features/feeds/data/chains.ts
  src/features/landing/data/index.ts
  src/pages/resources/link-token-contracts.mdx
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: data feeds

#1365 Update Celo status URL
  src/features/feeds/data/chains.ts
Labels: data feeds
