Repository smartcontractkit/documentation, pull requests merged in 2023-09, with the labels that each got.

#1403 Filter data feed table
  src/features/data/api/index.ts
  src/features/feeds/components/FeedList.module.css
  src/features/feeds/components/FeedList.tsx
  src/features/feeds/components/Tables.module.css
  src/features/feeds/components/Tables.tsx
  src/scripts/index.ts
  src/scripts/scroll-to-search.ts
Labels: enhancement

#1482 Update min-max data feeds API reference
  src/content/data-feeds/api-reference.mdx
Labels: ready to merge, Chainlink Data Feeds

#1484 Remove search shortcut
  src/components/Header/Search/Search.tsx
Labels: bug

#1483 Update supported tokens for BNB Chain and Base
  src/content/ccip/supported-networks.mdx
  src/features/ccip/data/data.ts
Labels: Chainlink CCIP

#1485 Create LICENSE
  LICENSE
Labels: ready to merge

#1473 Navigation restructure
  src/components/Footer/Footer.astro
  src/components/Header/Header.astro
  src/components/LeftSidebar/LeftSidebar.astro
  src/config/menu.ts
  src/config/sidebar.ts
  src/content/any-api/api-reference.mdx
  src/content/any-api/find-oracle.mdx
  src/content/any-api/get-request/examples/array-response.mdx
  src/content/any-api/get-request/examples/existing-job-request.mdx
  src/content/any-api/get-request/examples/large-responses.mdx
  src/content/any-api/get-request/examples/multi-variable-responses.mdx
  src/content/any-api/get-request/examples/single-word-response.mdx
  src/content/any-api/get-request/introduction.mdx
  src/content/any-api/getting-started.mdx
  src/content/any-api/introduction.mdx
  src/content/any-api/testnet-oracles.mdx
  src/content/ccip/concepts.mdx
  src/content/ccip/index.mdx
  src/content/chainlink-automation/flexible-upkeeps.mdx
  src/content/chainlink-automation/introduction.mdx
  src/content/chainlink-functions/index.mdx
  src/content/config.ts
  src/content/data-feeds/examples.mdx
  src/content/data-feeds/getting-started.mdx
  src/content/data-feeds/index.mdx
  src/content/data-feeds/using-data-feeds.mdx
  src/content/getting-started/conceptual-overview.mdx
  src/content/getting-started/consuming-data-feeds.mdx
  src/content/getting-started/deploy-your-first-contract.mdx
  src/content/vrf/v2/direct-funding/supported-networks.mdx
  src/content/vrf/v2/getting-started.mdx
  src/content/vrf/v2/introduction.mdx
  src/content/vrf/v2/subscription/supported-networks.mdx
  src/features/feeds/shared/FeedsShared.astro
  src/features/landing/data/index.ts
  src/features/redirects/redirects.json
  templates/getting-started.mdx
  templates/tutorial.mdx
Labels: enhancement

#1486 Update monitoring feeds guidance
  src/content/data-feeds/index.mdx
Labels: Chainlink Data Feeds

#1488 License correction
  LICENSE
Labels: ready to merge

#1487 Update CCIP rate limit descriptions and supported testnet tokens
  src/content/ccip/architecture.mdx
  src/content/ccip/supported-networks.mdx
Labels: Chainlink CCIP

#1492 Chainlink Node release v2.5.0
  src/content/chainlink-nodes/node-versions.mdx
  src/content/chainlink-nodes/v1/node-config.mdx
  src/content/chainlink-nodes/v1/running-a-chainlink-node.mdx
Labels: Chainlink Nodes

#1490 VRF calculator : Textboxes updated to include commas as they are completed
  src/features/vrf/v2/components/CostTable.tsx
Labels: enhancement, Chainlink VRF

#1494 QS: Web3.js example
  src/config/sidebar.ts
  src/content/config.ts
  src/content/quickstarts/web3js.mdx
  src/pages/quickstarts/[...slug].astro
Labels: Chainlink Data Feeds

#1457 QS: Add time-based upkeep
  public/images/automation/qs-time-based-upkeep/abi-fetched.png
  public/images/automation/qs-time-based-upkeep/approve-upkeep-pause.png
  public/images/automation/qs-time-based-upkeep/check-counter.png
  public/images/automation/qs-time-based-upkeep/compile-counter.png
  public/images/automation/qs-time-based-upkeep/couldnt-fetch-abi-ui.png
  public/images/automation/qs-time-based-upkeep/get-abi-remix.png
  public/images/automation/qs-time-based-upkeep/injected-provider.png
  public/images/automation/qs-time-based-upkeep/metamask-contract-deployment.png
  public/images/automation/qs-time-based-upkeep/metamask-pause-upkeep.png
  public/images/automation/qs-time-based-upkeep/remix-check-counter.png
  public/images/automation/qs-time-based-upkeep/remix-deployed-contracts.png
  public/images/automation/qs-time-based-upkeep/time-schedule.png
  public/images/automation/qs-time-based-upkeep/update-amount.png
  public/images/automation/qs-time-based-upkeep/upkeep-actions-menu.png
  public/images/automation/qs-time-based-upkeep/upkeep-details.png
  public/samples/Automation/Counter.sol
  src/config/sidebar.ts
  src/content/quickstarts/time-based-upkeep.mdx
Labels: ready to merge, Chainlink Automation

#1471 QS: Add VRF subscription balance monitor
  public/samples/Automation/tutorials/VRFSubscriptionBalanceMonitor.sol
  src/config/sidebar.ts
  src/content/chainlink-automation/tutorials/vrf-sub-monitor.mdx
  src/content/quickstarts/vrf-subscription-monitor.mdx
Labels: Chainlink VRF, Chainlink Automation

#1476 QS: ETH Balance Monitor
  src/config/sidebar.ts
  src/content/chainlink-automation/tutorials/eth-balance.mdx
  src/content/quickstarts/eth-balance-monitor.mdx
  src/features/redirects/redirects.json
Labels: Chainlink Automation

#1464 QS: Dynamic Metadata with Automation
  public/images/automation/dynnft-qs-1.png
  public/images/automation/dynnft-qs-10.png
  public/images/automation/dynnft-qs-2.png
  public/images/automation/dynnft-qs-3.png
  public/images/automation/dynnft-qs-4.png
  public/images/automation/dynnft-qs-5.png
  public/images/automation/dynnft-qs-6.png
  public/images/automation/dynnft-qs-7.png
  public/images/automation/dynnft-qs-8.png
  public/images/automation/dynnft-qs-9.png
  src/config/sidebar.ts
  src/content/chainlink-automation/tutorials/dynamic-nft.mdx
  src/content/quickstarts/dynamic-metadata.mdx
  src/features/redirects/redirects.json
Labels: Chainlink Automation

#1491 QS: Pass VRF cost to end user
  public/images/quickstarts/pass-cost-to-end-user/approve-link-spend.webp
  public/images/quickstarts/pass-cost-to-end-user/connect-to-scanner-deployed-contract.webp
  public/images/quickstarts/pass-cost-to-end-user/connect-to-scanner.webp
  public/images/quickstarts/pass-cost-to-end-user/request-randomness.webp
  public/images/quickstarts/pass-cost-to-end-user/request-status-with-answer.webp
  src/config/sidebar.ts
  src/content/quickstarts/pass-cost-to-end-user.mdx
Labels: Chainlink VRF

#1496 Update URLs for contracts
  src/content/chainlink-automation/overview.mdx
  src/content/chainlink-functions/resources/architecture.mdx
  src/content/chainlink-functions/resources/concepts.mdx
  src/content/chainlink-functions/tutorials/automate-functions.mdx
  src/features/chainlink-functions/common/FunctionsConsumer.mdx
Labels: ready to merge

#1498 Migrate QS content
  src/components/Aside.astro
  src/components/Quickstart/Quickstart.astro
  src/components/Quickstart/QuickstartOverview.astro
  src/content/quickstarts/dynamic-metadata.mdx
  src/content/quickstarts/eth-balance-monitor.mdx
  src/content/quickstarts/pass-cost-to-end-user.mdx
  src/content/quickstarts/time-based-upkeep.mdx
  src/content/quickstarts/vrf-subscription-monitor.mdx
  src/content/quickstarts/web3js.mdx
  src/styles/copy-to-clipboard.css
  src/styles/index.css
  src/styles/migrated.css
  src/styles/prism-darcula.css
Labels: blocked

#1489 Update packages and example contracts
  package-lock.json
  package.json
  public/samples/APIRequests/APIConsumer.sol
  public/samples/APIRequests/APIConsumerForwarder.sol
  public/samples/APIRequests/ATestnetConsumer.sol
  public/samples/APIRequests/FetchFromArray.sol
  public/samples/APIRequests/GenericBigWord.sol
  public/samples/APIRequests/GetGasPrice.sol
  public/samples/APIRequests/MultiWordConsumer.sol
  public/samples/Automation/AutomationCounter.sol
  public/samples/Automation/BalancerOffChain.sol
  public/samples/Automation/BalancerOnChain.sol
  public/samples/Automation/UpkeepIDConsumerExample.sol
  public/samples/Automation/UpkeepIDConsumerExamplev1.sol
  public/samples/Automation/tutorials/EthBalanceMonitor.sol
  public/samples/Automation/tutorials/VRFSubscriptionBalanceMonitor.sol
  public/samples/CCIP/Messenger.sol
  public/samples/CCIP/ProgrammableTokenTransfers.sol
  public/samples/CCIP/Sender.sol
  public/samples/CCIP/TokenTransferor.sol
  public/samples/Functions/adding-functions-to-projects/FunctionsExample.sol.ignore
  public/samples/VRF/RandomNumberConsumer.sol
  public/samples/VRF/VRFD20.sol
  public/samples/VRF/VRFv2Consumer.sol
  public/samples/VRF/VRFv2DirectFundingConsumer.sol
  public/samples/VRF/VRFv2MultiplePaths.sol
  public/samples/VRF/VRFv2SubscriptionManager.sol
  public/samples/VRF/mock/RandomNumberDirectFundingConsumerV2.sol
  public/samples/VRF/mock/VRFV2Wrapper.sol
  public/samples/VRF/mock/VRFv2Consumer.sol
  public/samples/events/avasummit/VRFv2SubscriptionManager.sol
  src/content/chainlink-automation/tutorials/batch-nft.mdx
  src/content/chainlink-functions/resources/add-functions-to-projects.mdx
  src/content/chainlink-functions/tutorials/automate-functions.mdx
  src/content/vrf/v2/direct-funding/examples/get-a-random-number.mdx
  src/content/vrf/v2/getting-started.mdx
  src/content/vrf/v2/subscription/examples/get-a-random-number.mdx
Labels: enhancement, ready to merge

#1507 Update CCIP lanes and networks support
  src/content/ccip/supported-networks.mdx
Labels: ready to merge, Chainlink CCIP

#1434 QS: Collection Batch Reveal
  public/images/automation/tutorials/batch-reveal1.png
  public/images/automation/tutorials/batch-reveal2.png
  public/images/automation/tutorials/batch-reveal3.png
  public/images/automation/tutorials/batch-reveal4.png
  public/images/automation/tutorials/batch-reveal5.png
  public/images/automation/tutorials/batch-reveal6.png
  public/images/automation/tutorials/batch-reveal7.png
  public/images/automation/tutorials/batch-reveal8.png
  src/config/sidebar.ts
  src/content/chainlink-automation/tutorials/batch-nft.mdx
  src/content/quickstarts/batch-reveal.mdx
  src/features/redirects/redirects.json
Labels: Chainlink Automation

#1497 QS: Hardhat plugin
  src/config/sidebar.ts
  src/content/quickstarts/hardhat-plugin.mdx
Labels: Chainlink Data Feeds, Chainlink VRF, Chainlink Automation

#1500 QS: Historical Price Feeds API
  src/config/sidebar.ts
  src/content/quickstarts/historical-price-feeds-api.mdx
Labels: Chainlink Data Feeds

#1501 QS: Foundry Chainlink Toolkit
  src/config/sidebar.ts
  src/content/quickstarts/foundry-chainlink-toolkit.mdx
Labels: Chainlink Nodes

#1502 QS: Solana Pricefeeds Showcase
  public/images/quickstarts/price-feeds-showcase/add_user.png
  public/images/quickstarts/price-feeds-showcase/connection-string.png
  public/images/quickstarts/price-feeds-showcase/mongo_uri.png
  public/images/quickstarts/price-feeds-showcase/mongodb_uri.png
  public/images/quickstarts/price-feeds-showcase/network_access.png
  public/images/quickstarts/price-feeds-showcase/product-screenshot.png
  public/images/quickstarts/price-feeds-showcase/sample-data-cluster.png
  public/images/quickstarts/price-feeds-showcase/users_page.png
  src/config/sidebar.ts
  src/content/quickstarts/batch-reveal.mdx
  src/content/quickstarts/deploy-your-first-contract.mdx
  src/content/quickstarts/foundry-chainlink-toolkit.mdx
  src/content/quickstarts/historical-price-feeds-api.mdx
  src/content/quickstarts/price-feeds-showcase.mdx
  src/content/quickstarts/vrf-subscription-monitor.mdx
Labels: Chainlink Data Feeds

#1515 Fix typo in vrf subscription introduction page
  src/content/vrf/v2/subscription/index.mdx
Labels: enhancement

#1517 Move CCIP early access notices
  src/content/ccip/index.mdx
  src/content/ccip/supported-networks.mdx
Labels: ready to merge, Chainlink CCIP

#1521 Add CCIP support for BNB and Base mainnets
  src/content/ccip/release-notes.mdx
  src/content/ccip/supported-networks.mdx
Labels: Chainlink CCIP

#1523 Scroll zkEVM Testnet Integration
  public/assets/chains/scroll.svg
  scripts/reference/chains.json
  scripts/reference/linkNameSymbol.json
  src/config/data/chain-to-technology.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/content/resources/link-token-contracts.mdx
  src/features/data/chains.ts
  src/features/landing/data/index.ts
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: Chainlink Data Feeds

#1526 Update Scroll SVG
  public/assets/chains/scroll.svg
Labels: Chainlink Data Feeds

#1513 QS: Circuit breaker
  public/images/quickstarts/circuit-breaker/automation-change-checkdata.png
  public/images/quickstarts/circuit-breaker/automation-edit-checkdata.png
  public/images/quickstarts/circuit-breaker/check-counter.png
  public/images/quickstarts/circuit-breaker/circuit-breaker-copy-address.png
  public/images/quickstarts/circuit-breaker/example-implementation-deploy-expanded.png
  public/images/quickstarts/circuit-breaker/example-implementation-deploy.png
  public/images/quickstarts/circuit-breaker/hashex-abi-encoder-address.png
  src/config/sidebar.ts
  src/content/quickstarts/circuit-breaker.mdx
Labels: Chainlink Automation

#1524 QS: Chainlink Demo App
  src/config/sidebar.ts
  src/content/quickstarts/chainlink-demo-app.mdx
Labels: Chainlink Data Feeds, Chainlink VRF

#1525 QS: Chainlink Functions Demo App
  src/config/sidebar.ts
  src/content/quickstarts/functions-demo-app.mdx
Labels: Chainlink Functions

#1529 QS: Giveaway
  public/images/quickstarts/giveaway/1-ui-connect-wallet.png
  public/images/quickstarts/giveaway/10-ui-select-dynamic-type.png
  public/images/quickstarts/giveaway/11-ui-create-dynamic-giveaway.png
  public/images/quickstarts/giveaway/12-ui-click-dynamic-giveaway.png
  public/images/quickstarts/giveaway/13-ui-dynamic-giveaway-options.png
  public/images/quickstarts/giveaway/14-ui-staged-status.png
  public/images/quickstarts/giveaway/15-ui-dynamic-pick-winners.png
  public/images/quickstarts/giveaway/16-ui-pick-winners-confirmation.png
  public/images/quickstarts/giveaway/17-ui-view-winners.png
  public/images/quickstarts/giveaway/2-ui-create-giveaway.png
  public/images/quickstarts/giveaway/3-ui-create-static-giveaway.png
  public/images/quickstarts/giveaway/4-ui-click-giveaway.png
  public/images/quickstarts/giveaway/5-ui-pick-winners.png
  public/images/quickstarts/giveaway/6-ui-pick-winners-confirmation.png
  public/images/quickstarts/giveaway/7-ui-upload-contestants-csv.png
  public/images/quickstarts/giveaway/8-ui-check-winners.png
  public/images/quickstarts/giveaway/9-ui-giveaway-winners.png
  src/config/sidebar.ts
  src/content/quickstarts/giveaway.mdx
Labels: Chainlink VRF, Chainlink Automation
