Repository smartcontractkit/documentation, pull requests merged in 2023-10, with the labels that each got.

#1550 Data streams list updates
  src/features/feeds/components/Tables.tsx
Labels: Data Streams

#1557 Add StreamsLookup pages for Automation docs
  src/config/sidebar.ts
  src/content/chainlink-automation/compatible-contracts.mdx
  src/content/chainlink-automation/debugging-errors.mdx
  src/content/chainlink-automation/getting-started.mdx
  src/content/chainlink-automation/streams-lookup.mdx
Labels: Chainlink Automation, Chainlink Data Streams

#1564 clarify simulate
  src/content/chainlink-functions/getting-started.mdx
  src/content/chainlink-functions/resources/service-limits.mdx
  src/content/chainlink-functions/tutorials/api-custom-response.mdx
  src/content/chainlink-functions/tutorials/api-multiple-calls.mdx
  src/content/chainlink-functions/tutorials/api-post-data.mdx
  src/content/chainlink-functions/tutorials/api-query-parameters.mdx
  src/content/chainlink-functions/tutorials/api-use-secrets-gist.mdx
  src/content/chainlink-functions/tutorials/api-use-secrets-offchain.mdx
  src/content/chainlink-functions/tutorials/api-use-secrets.mdx
  src/content/chainlink-functions/tutorials/automate-functions.mdx
  src/content/chainlink-functions/tutorials/encode-request-offchain.mdx
  src/content/chainlink-functions/tutorials/simple-computation.mdx
Labels: Chainlink Functions

#1569 Edits to LINK token recommendations on Scroll
  src/content/resources/link-token-contracts.mdx
Labels: ready to merge

#1575 CCIP lane updates
  src/content/ccip/supported-networks.mdx
Labels: Chainlink CCIP

#1581 Add missing contract variables
  src/content/vrf/v2/getting-started.mdx
Labels: ready to merge, Chainlink VRF

#1589 Nodes release 2.6.0
  src/content/chainlink-nodes/node-versions.mdx
  src/content/chainlink-nodes/v1/node-config.mdx
  src/content/chainlink-nodes/v1/secrets-config.mdx
Labels: Chainlink Nodes

#1572 defensive example
  public/images/ccip/tutorials/ccip-explorer-ccip-retry-failed-defensive.jpg
  public/images/ccip/tutorials/ccip-explorer-ccip-retry-failed-tokens-transferred-defensive.jpg
  public/images/ccip/tutorials/ccip-explorer-send-tokens-lastfailedmessageids-defensive.jpg
  public/images/ccip/tutorials/ccip-explorer-send-tokens-message-pay-link-tx-details-defensive.jpg
  public/images/ccip/tutorials/ccip-explorer-send-tokens-message-pay-link-tx-details-success-defensive.jpg
  public/samples/CCIP/ProgrammableDefensiveTokenTransfers.sol
  src/config/sidebar.ts
  src/content/ccip/tutorials/programmable-token-transfers-defensive.mdx
  src/content/ccip/tutorials/programmable-token-transfers.mdx
Labels: Chainlink CCIP

#1582 Data Feed Market Hours Description
  src/content/data-feeds/selecting-data-feeds.mdx
  src/features/feeds/callouts/etf-best-practices.mdx
  src/features/feeds/components/Tables.tsx
Labels: ready to merge, Chainlink Data Feeds, Chainlink Data Streams

#1598 Bump VRF Sepolia gas lane amount
  src/content/vrf/v2/subscription/supported-networks.mdx
Labels: ready to merge, Chainlink VRF

#1596 Functions clarifications
  public/images/chainlink-functions/tutorials/subscription/acceptTos.jpg
  public/images/chainlink-functions/tutorials/subscription/approve-create-subscription.jpg
  public/images/chainlink-functions/tutorials/subscription/create-subscription.jpg
  public/images/chainlink-functions/tutorials/subscription/sign-message-tos-metamask.jpg
  public/images/chainlink-functions/tutorials/subscription/sign-message-tos.jpg
  public/images/chainlink-functions/tutorials/subscription/subscription-created-add-consumer-2.jpg
  public/images/chainlink-functions/tutorials/subscription/subscription-created-add-consumer.jpg
  public/images/chainlink-functions/tutorials/subscription/subscription-created-add-funds.jpg
  public/images/chainlink-functions/tutorials/subscription/subscription-created.jpg
  public/images/chainlink-functions/tutorials/subscription/subscription-details-after-creation.jpg
  src/components/CopyText.tsx
  src/content/chainlink-functions/resources/service-limits.mdx
  src/content/chainlink-functions/resources/subscriptions.mdx
  src/content/chainlink-functions/supported-networks.mdx
  src/features/chainlink-functions/DonIdTooltip/DonId.tsx
  src/features/chainlink-functions/DonIdTooltip/index.ts
  src/features/chainlink-functions/index.ts
  src/features/common/Tooltip/Tooltip.tsx
  src/features/common/Tooltip/index.ts
Labels: Chainlink Functions

#1588 Automation Style and Registration Changes
  src/config/sidebar.ts
  src/content/chainlink-automation/concepts/automation-architecture.mdx
  src/content/chainlink-automation/concepts/automation-concepts.mdx
  src/content/chainlink-automation/concepts/best-practice.mdx
  src/content/chainlink-automation/guides/compatible-contracts.mdx
  src/content/chainlink-automation/guides/flexible-upkeeps.mdx
  src/content/chainlink-automation/guides/forwarder.mdx
  src/content/chainlink-automation/guides/job-scheduler.mdx
  src/content/chainlink-automation/guides/log-trigger.mdx
  src/content/chainlink-automation/guides/manage-upkeeps.mdx
  src/content/chainlink-automation/guides/register-upkeep-in-contract.mdx
  src/content/chainlink-automation/guides/register-upkeep.mdx
  src/content/chainlink-automation/guides/streams-lookup.mdx
  src/content/chainlink-automation/index.mdx
  src/content/chainlink-automation/overview/automation-economics.mdx
  src/content/chainlink-automation/overview/automation-release-notes.mdx
  src/content/chainlink-automation/overview/getting-started.mdx
  src/content/chainlink-automation/overview/supported-networks.mdx
  src/content/chainlink-automation/reference/automation-contracts.mdx
  src/content/chainlink-automation/reference/automation-interfaces.mdx
  src/content/chainlink-automation/reference/debugging-errors.mdx
Labels: Chainlink Automation

#1606 Functions: use listenForResponseFromTransaction instead of listenForResponse
  public/samples/ChainlinkFunctions/AutomatedFunctionsConsumerExample.sol
  public/samples/ChainlinkFunctions/CustomAutomatedFunctionsConsumerExample.sol
  public/samples/ChainlinkFunctions/FunctionsConsumerExample.sol
  src/content/chainlink-functions/getting-started.mdx
  src/content/chainlink-functions/tutorials/api-custom-response.mdx
  src/content/chainlink-functions/tutorials/api-multiple-calls.mdx
  src/content/chainlink-functions/tutorials/api-post-data.mdx
  src/content/chainlink-functions/tutorials/api-query-parameters.mdx
  src/content/chainlink-functions/tutorials/api-use-secrets-gist.mdx
  src/content/chainlink-functions/tutorials/api-use-secrets-offchain.mdx
  src/content/chainlink-functions/tutorials/api-use-secrets.mdx
  src/content/chainlink-functions/tutorials/encode-request-offchain.mdx
  src/content/chainlink-functions/tutorials/simple-computation.mdx
Labels: Chainlink Functions

#1611 fix contracts links
  src/content/chainlink-nodes/contracts/forwarder.mdx
  src/content/chainlink-nodes/contracts/operator.mdx
  src/content/chainlink-nodes/contracts/ownership.mdx
Labels: Chainlink Nodes

#1615 Linea Data Feeds
  public/assets/chains/linea.svg
  scripts/reference/chains.json
  scripts/reference/linkNameSymbol.json
  src/config/data/chain-to-technology.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/content/resources/link-token-contracts.mdx
  src/features/data/chains.ts
  src/features/landing/data/index.ts
  src/scripts/reference/linkNameSymbol.json
Labels: Chainlink Data Feeds

#1584 Conceptual alignment updates
  src/components/Header/Header.astro
  src/components/Quickstart/Quickstart.astro
  src/components/Quickstart/StickyHeaderObserver.tsx
  src/components/Quickstart/stickyHeaderObserver.module.css
  src/content/any-api/testnet-oracles.mdx
  src/content/chainlink-automation/guides/manage-upkeeps.mdx
  src/content/vrf/v2/subscription/supported-networks.mdx
  src/layouts/QuickstartLayout.astro
  src/scripts/fix-external-links.ts
Labels: blocked
