Repository smartcontractkit/documentation, pull requests merged in 2023-07, with the labels that each got.

#1379 Url updates
  src/config/menu.ts
Labels: ready to merge, vrf

#1375 Update astro 2.4.4->2.8.0
  package-lock.json
  package.json
Labels: ready to merge

#1380 Fix Algolia search indexing
  jest.config.js
  package-lock.json
  package.json
  scripts/update-algolia-index.ts
  src/pages/search-index.astro
  src/scripts/split-text-by-headings.test.ts
  src/scripts/split-text-by-headings.ts
Labels: ready to merge

#1391 Add CCIP example dApps
  src/pages/ccip/examples/example-cross-chain-dapps.mdx
Labels: ready to merge, Chainlink CCIP

#1392 Temp remove examples
  src/config/sidebar.ts
  src/pages/ccip/examples/example-cross-chain-dapps.mdx
  src/pages/ccip/tutorials/send-arbitrary-data.mdx
Labels: ready to merge, Chainlink CCIP

#1387 Removed Arbitrum Row
  src/pages/vrf/v2/introduction.mdx
Labels: Chainlink VRF

#1396 Clarify fee payments for CCIP
  src/pages/ccip/tutorials/cross-chain-tokens.mdx
  src/pages/ccip/tutorials/programmable-token-transfers.mdx
  src/pages/ccip/tutorials/send-arbitrary-data.mdx
Labels: ready to merge, Chainlink CCIP

#1400 Add ccip example apps
  src/config/sidebar.ts
  src/pages/ccip/examples/index.mdx
  src/pages/ccip/tutorials/cross-chain-tokens-from-eoa.mdx
  src/pages/ccip/tutorials/cross-chain-tokens.mdx
  src/pages/ccip/tutorials/programmable-token-transfers.mdx
  src/pages/ccip/tutorials/send-arbitrary-data.mdx
Labels: Chainlink CCIP

#1395 Add copy button to supported networks pages
  package.json
  src/components/Address.astro
  src/components/Address.tsx
  src/components/CopyText.astro
  src/components/CopyText.tsx
  src/components/index.ts
  src/features/chainlink-automation/components/AutomationConfig.tsx
  src/features/vrf/v2/common/ui-callout.mdx
  src/pages/any-api/testnet-oracles.mdx
  src/pages/ccip/getting-started.mdx
  src/pages/ccip/supported-networks.mdx
  src/pages/ccip/tutorials/cross-chain-tokens-from-eoa.mdx
  src/pages/ccip/tutorials/cross-chain-tokens.mdx
  src/pages/ccip/tutorials/programmable-token-transfers.mdx
  src/pages/ccip/tutorials/send-arbitrary-data.mdx
  src/pages/chainlink-functions/resources/add-functions-to-projects.mdx
  src/pages/chainlink-functions/supported-networks.mdx
  src/pages/chainlink-functions/tutorials/api-use-secrets-offchain.mdx
  src/pages/chainlink-nodes/contracts/addresses.mdx
  src/pages/chainlink-nodes/job-specs/direct-request-get-bytes.mdx
  src/pages/chainlink-nodes/oracle-jobs/all-jobs.mdx
  src/pages/chainlink-nodes/oracle-jobs/v1/initiators.mdx
  src/pages/data-feeds/api-reference.mdx
  src/pages/data-feeds/index.mdx
  src/pages/data-feeds/l2-sequencer-feeds.mdx
  src/pages/resources/link-token-contracts.mdx
  src/pages/vrf/v2/direct-funding/supported-networks.mdx
  src/pages/vrf/v2/subscription/supported-networks.mdx
  src/scripts/helper/find-nonchecksummed-addresses.ts
  src/scripts/reference/chains.json
Labels: enhancement, ready to merge

#1397 Improve node-config page performance
  src/scripts/copy-to-clipboard.ts
  src/styles/copy-to-clipboard.css
Labels: enhancement

#1401 CCIP testnet documentation updates
  src/features/notifications/data/index.ts
  src/pages/ccip/getting-started.mdx
  src/pages/ccip/index.mdx
  src/pages/ccip/release-notes.mdx
  src/pages/ccip/supported-networks.mdx
  src/pages/ccip/test-tokens.mdx
  src/pages/ccip/tutorials/cross-chain-tokens-from-eoa.mdx
  src/pages/ccip/tutorials/cross-chain-tokens.mdx
  src/pages/ccip/tutorials/programmable-token-transfers.mdx
  src/pages/ccip/tutorials/send-arbitrary-data.mdx
Labels: blocked, Chainlink CCIP

#1408 CCIP token transfer tutorial revert error fix add more LINK for fee
  src/components/CopyText.tsx
  src/pages/ccip/getting-started.mdx
  src/pages/ccip/tutorials/cross-chain-tokens.mdx
  src/pages/ccip/tutorials/programmable-token-transfers.mdx
  src/pages/ccip/tutorials/send-arbitrary-data.mdx
Labels: Chainlink CCIP

#1414 Token terminology update
  public/samples/CCIP/Messenger.sol
  scripts/reference/chains.json
  src/pages/ccip/api-reference/Client.mdx
  src/pages/ccip/architecture.mdx
  src/pages/ccip/getting-started.mdx
  src/pages/ccip/supported-networks.mdx
  src/pages/ccip/tutorials/cross-chain-tokens-from-eoa.mdx
  src/pages/ccip/tutorials/cross-chain-tokens.mdx
  src/pages/ccip/tutorials/programmable-token-transfers.mdx
  src/pages/ccip/tutorials/send-arbitrary-data.mdx
  src/pages/chainlink-functions/resources/add-functions-to-projects.mdx
  src/pages/chainlink-functions/resources/billing.mdx
  src/pages/chainlink-nodes/v1/fulfilling-requests.mdx
  src/pages/vrf/v2/direct-funding/examples/test-locally.mdx
  src/scripts/reference/chains.json
Labels: ready to merge

#1421 Remove BIF docs
  src/features/redirects/redirects.json
  src/pages/blockchain-integrations-framework/index.mdx
Labels: ready to merge

#1419 CL Node v2.3.0 docs
  src/pages/chainlink-nodes/node-versions.mdx
  src/pages/chainlink-nodes/v1/node-config.mdx
  src/pages/chainlink-nodes/v1/roles-and-access.mdx
  src/pages/chainlink-nodes/v1/running-a-chainlink-node.mdx
  src/pages/chainlink-nodes/v1/secrets-config.mdx
Labels: Chainlink Nodes

#1399 Tabs component for switching content
  src/components/Tabs/Tabs.module.css
  src/components/Tabs/TabsContent.tsx
  src/components/Tabs/index.ts
  src/components/Tabs/useTabState.ts
  src/pages/vrf/v2/estimating-costs.mdx
Labels: enhancement

#1422 fix typo ccip architecture
  src/pages/ccip/architecture.mdx
Labels: Chainlink CCIP
