Repository smartcontractkit/documentation, pull requests merged in 2024-05, with the labels that each got.

#1918 Streams Direct - Relocate code samples
  public/samples/DataStreams/StreamsDirect/client.go
  public/samples/DataStreams/StreamsDirect/decoder.go
  public/samples/DataStreams/StreamsDirect/mod.go
  public/samples/DataStreams/StreamsDirect/multipleFeeds.go
  public/samples/DataStreams/StreamsDirect/singleFeed.go
  public/samples/DataStreams/StreamsDirect/ws/clientWs.go
  public/samples/DataStreams/StreamsDirect/ws/decodeFullReportHex.go
  public/samples/DataStreams/StreamsDirect/ws/mod.go
  public/samples/DataStreams/StreamsDirect/ws/wsConnectAndListen.go
  src/content/data-streams/tutorials/streams-direct-api.mdx
  src/content/data-streams/tutorials/streams-direct-ws.mdx
  src/features/data-streams/common/gettingStartedHardhat.mdx
Labels: Chainlink Data Streams

#1925 Chainlink Node release 2-11-0 docs
  src/content/chainlink-nodes/node-versions.mdx
  src/content/chainlink-nodes/v1/node-config.mdx
Labels: ready to merge, Chainlink Nodes

#1926 Exchange rate feed clarification
  src/content/data-feeds/selecting-data-feeds.mdx
Labels: ready to merge, Chainlink Data Feeds

#1927 Enhance CopyText component mobile responsiveness
  src/components/CopyText.tsx
Labels: ready to merge

#1929 Add crosslink to errorhandler
  src/content/chainlink-automation/reference/debugging-errors.mdx
Labels: ready to merge, Chainlink Automation

#1930 CF: Correct Amoy endpoint URLs
  src/content/chainlink-functions/supported-networks.mdx
Labels: ready to merge, Chainlink Functions

#1933 Removes /feeds endpoint
  src/content/data-streams/reference/streams-direct-interface-api.mdx
Labels: ready to merge, Chainlink Data Streams

#1938 Add navigation to the General section
  src/components/Header/getNavigationProps.ts
Labels: bug, ready to merge

#1936 CCIP Amoy
  src/config/data/ccip/v1_2_0/testnet/chains.json
  src/config/data/ccip/v1_2_0/testnet/lanes.json
  src/config/data/ccip/v1_2_0/testnet/tokens.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/content/ccip/release-notes.mdx
  src/features/utils/index.ts
Labels: Chainlink CCIP

#1910 NFT Floor Price Feed Removal
  public/samples/DataFeeds/NFTFloorPriceConsumerV3.sol
  src/config/sidebar.ts
  src/content/chainlink-functions/supported-networks.mdx
  src/content/data-feeds/api-reference.mdx
  src/content/data-feeds/index.mdx
  src/content/data-feeds/nft-floor-price/addresses.mdx
  src/content/data-feeds/nft-floor-price/index.mdx
  src/content/data-feeds/using-data-feeds.mdx
  src/content/quickstarts/dev3-chainlink-sdk.mdx
  src/content/vrf/v2-5/supported-networks.mdx
  src/content/vrf/v2/security.mdx
  src/features/data/api/index.ts
  src/features/data/chains.ts
  src/features/feeds/components/FeedList.tsx
  src/features/feeds/components/FeedPage.astro
  src/features/feeds/components/Tables.tsx
  src/features/redirects/redirects.json
  src/features/vrf/v2-5/availability.mdx
  src/features/vrf/v2-5/security.mdx
  src/features/vrf/v2/components/CostTable.test.ts
  vercel.json
Labels: Chainlink Data Feeds

#1949 Bump Sepolia gas lane
  src/content/vrf/v2-5/supported-networks.mdx
  src/content/vrf/v2/subscription/supported-networks.mdx
Labels: ready to merge, Chainlink VRF

#1863 Data Feeds - Starknet update
  src/components/QuickLinks/data/productChainLinks.ts
  src/config/sidebar.ts
  src/content/data-feeds/starknet/index.mdx
  src/content/data-feeds/starknet/tutorials/snfoundry/consumer-contract.mdx
  src/content/data-feeds/starknet/tutorials/snfoundry/index.mdx
  src/content/data-feeds/starknet/tutorials/snfoundry/read-data.mdx
  src/content/data-feeds/starknet/tutorials/snfoundry/sn-devnet-rs.mdx
  src/features/data/chains.ts
  src/features/landing/data/index.ts
Labels: Chainlink Data Feeds

#1931 VRF 2.5 - Getting started
  package-lock.json
  public/images/vrf/v2-5/copy-contract-address.png
  public/images/vrf/v2-5/deploy-with-sub-id.png
  public/images/vrf/v2-5/select-vrfd20-contract.png
  public/images/vrf/v2-5/ui-add-consumer.png
  public/samples/VRF/v2-5/SubscriptionConsumer.sol
  public/samples/VRF/v2-5/SubscriptionManager.sol
  public/samples/VRF/v2-5/VRFD20.sol
  src/config/sidebar.ts
  src/content/vrf/v2-5/getting-started.mdx
Labels: Chainlink VRF

#1950 rework usdc tutorial
  public/images/ccip/tutorials/avalanche-usdc-messagedetails-pay-link.jpg
  public/images/ccip/tutorials/ccip-explorer-send-usdc-message-pay-link-tx-details-success.jpg
  public/images/ccip/tutorials/ccip-explorer-send-usdc-message-pay-link-tx-details.jpg
  public/images/ccip/tutorials/staker-redeem-tokens-success.jpg
  public/images/ccip/tutorials/staker-redeem-tokens.jpg
  public/images/ccip/tutorials/staker-tokens-balance.jpg
  public/images/ccip/tutorials/usdc-tutorial.jpg
  public/samples/CCIP/usdc/IStaker.sol
  public/samples/CCIP/usdc/Receiver.sol
  public/samples/CCIP/usdc/Sender.sol
  public/samples/CCIP/usdc/Staker.sol
  src/content/ccip/tutorials/usdc.mdx
Labels: ready to merge, Chainlink CCIP

#1953 Add Amoy to VRF V2 supported networks
  src/content/vrf/v2/direct-funding/supported-networks.mdx
  src/content/vrf/v2/subscription/supported-networks.mdx
Labels: ready to merge, Chainlink VRF

#1954 "Get a random number" V2.5 tutorials and 1.1.1 cleanup
  public/images/vrf/v2-5/contract-address-copy-button.png
  public/images/vrf/v2-5/deploy-with-sub-id-filled.png
  public/samples/VRF/v2-5/DirectFundingConsumer.sol
  public/samples/VRF/v2-5/SubscriptionConsumer.sol
  src/config/sidebar.ts
  src/content/vrf/release-notes.mdx
  src/content/vrf/v2-5/direct-funding/get-a-random-number.mdx
  src/content/vrf/v2-5/migration-from-v2.mdx
  src/content/vrf/v2-5/overview/direct-funding.mdx
  src/content/vrf/v2-5/overview/subscription.mdx
  src/content/vrf/v2-5/subscription/get-a-random-number.mdx
Labels: Chainlink VRF

#1956 fix import
  public/samples/CCIP/usdc/IStaker.sol
  public/samples/CCIP/usdc/Sender.sol
  public/samples/CCIP/usdc/Staker.sol
Labels: Chainlink CCIP

#1960 Correcting checkGasLimit to 10M
  src/features/chainlink-automation/data/chainlink-automation-config.json
Labels: ready to merge, Chainlink Automation

#1962 Clarify decimal places
  public/samples/DataStreams/ClientReportsVerifier.sol
Labels: Chainlink Data Streams

#1963 V2.5 supported networks corrections
  src/content/vrf/v2-5/supported-networks.mdx
Labels: ready to merge, Chainlink VRF
