Repository smartcontractkit/documentation, pull requests merged in 2024-07, with the labels that each got.

#1990 CL Node Release 2.13.0
  src/content/chainlink-nodes/node-versions.mdx
  src/content/chainlink-nodes/v1/running-a-chainlink-node.mdx
Labels: Chainlink Nodes

#1991 update config
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
Labels: Chainlink CCIP

#1992 update
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
Labels: Chainlink CCIP

#1996 CCIP blast
  public/assets/chains/blast.svg
  src/components/QuickLinks/data/productChainLinks.ts
  src/config/data/ccip/v1_2_0/mainnet/chains.json
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
  src/config/data/ccip/v1_2_0/testnet/chains.json
  src/config/data/ccip/v1_2_0/testnet/lanes.json
  src/config/data/ccip/v1_2_0/testnet/tokens.json
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/content/ccip/release-notes.mdx
  src/content/resources/link-token-contracts.mdx
  src/features/landing/data/index.ts
  src/features/utils/index.ts
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: Chainlink CCIP

#1993 LWBA conceptual info
  src/config/sidebar.ts
  src/content/data-streams/concepts/liquidity-weighted-prices.mdx
  src/content/data-streams/index.mdx
  src/content/data-streams/reference/report-schema.mdx
  src/features/data-streams/common/dsNotes.mdx
Labels: Chainlink Data Streams

#1999 Update Metis LINK token contract addresses
  src/content/resources/link-token-contracts.mdx
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: ready to merge

#2002 Starknet Data Feeds
  src/components/QuickLinks/data/productChainLinks.ts
  src/features/data/chains.ts
  src/features/landing/data/index.ts
Labels: Chainlink Data Feeds

#2003 Update Faucet URLs
  src/content/ccip/tutorials/cross-chain-tokens-from-eoa.mdx
  src/content/chainlink-automation/guides/log-trigger.mdx
  src/content/chainlink-automation/guides/manage-upkeeps.mdx
  src/content/chainlink-automation/guides/register-upkeep-in-contract.mdx
  src/content/chainlink-automation/guides/register-upkeep.mdx
  src/content/chainlink-automation/overview/automation-economics.mdx
  src/content/quickstarts/vrf-mystery-box.mdx
  src/content/resources/acquire-link.mdx
  src/content/resources/link-token-contracts.mdx
  src/content/vrf/v2-5/subscription/get-a-random-number.mdx
  src/content/vrf/v2-5/supported-networks.mdx
  src/features/data-streams/common/gettingStarted.mdx
  src/features/data-streams/common/gettingStartedHardhat.mdx
  src/features/data/chains.ts
Labels: ready to merge

#1920 VRF: Move V2 docs to legacy section
  src/config/sidebar.ts
  src/content/chainlink-nodes/external-adapters/contract-creators.mdx
  src/content/chainlink-nodes/external-adapters/developers.mdx
  src/content/chainlink-nodes/external-adapters/external-adapters.mdx
  src/content/chainlink-nodes/external-adapters/node-operators.mdx
  src/content/chainlink-nodes/oracle-jobs/v1/adapters.mdx
  src/content/chainlink-nodes/oracle-jobs/v1/initiators.mdx
  src/content/chainlink-nodes/oracle-jobs/v1/job-specifications.mdx
  src/content/vrf/release-notes.mdx
  src/content/vrf/v2-5/getting-started.mdx
  src/content/vrf/v2/best-practices.mdx
  src/content/vrf/v2/direct-funding/examples/get-a-random-number.mdx
  src/content/vrf/v2/direct-funding/examples/test-locally.mdx
  src/content/vrf/v2/direct-funding/index.mdx
  src/content/vrf/v2/direct-funding/migration-from-v1.mdx
  src/content/vrf/v2/direct-funding/supported-networks.mdx
  src/content/vrf/v2/estimating-costs.mdx
  src/content/vrf/v2/getting-started.mdx
  src/content/vrf/v2/security.mdx
  src/content/vrf/v2/subscription/examples/get-a-random-number.mdx
  src/content/vrf/v2/subscription/examples/programmatic-subscription.mdx
  src/content/vrf/v2/subscription/examples/test-locally.mdx
  src/content/vrf/v2/subscription/index.mdx
  src/content/vrf/v2/subscription/migration-from-v1.mdx
  src/content/vrf/v2/subscription/supported-networks.mdx
  src/content/vrf/v2/subscription/ui.mdx
  src/features/redirects/redirects.json
Labels: enhancement, Chainlink VRF

#2007 Streams - Active-active conceptual info
  src/content/data-streams/architecture.mdx
  src/content/data-streams/index.mdx
Labels: Chainlink Data Streams

#2009 Contracts v1.2.0
  package-lock.json
  package.json
Labels: ready to merge

#2006 VRF: Migration from V1 guide
  src/config/sidebar.ts
  src/content/vrf/v2-5/migration-from-v1.mdx
Labels: Chainlink VRF

#2014 Delete / redirect old VRF migration guides
  src/config/sidebar.ts
  src/content/vrf/v1/api-reference.mdx
  src/content/vrf/v1/best-practices.mdx
  src/content/vrf/v1/examples/get-a-random-number.mdx
  src/content/vrf/v1/introduction.mdx
  src/content/vrf/v1/security.mdx
  src/content/vrf/v1/supported-networks.mdx
  src/content/vrf/v2/direct-funding/migration-from-v1.mdx
  src/content/vrf/v2/subscription/migration-from-v1.mdx
  src/features/redirects/redirects.json
Labels: Chainlink VRF

#2016 Discuss new UI 'deprecated' label on upkeeps
  public/images/automation/v2-migration/ui-deprecation-label.png
  src/content/chainlink-automation/guides/migrate-to-v2.mdx
  src/content/chainlink-automation/overview/automation-release-notes.mdx
Labels: ready to merge, Chainlink Automation

#2017 Analytics - Quick links data layer events
  src/components/QuickLinks/sections/ProductChainTable.tsx
Labels: enhancement
