Repository smartcontractkit/documentation, pull requests merged in 2024-08, with the labels that each got.

#2018 Functions: all networks use USD-denominated premium fees
  src/content/chainlink-functions/resources/billing.mdx
  src/content/chainlink-functions/resources/release-notes.mdx
  src/content/chainlink-functions/supported-networks.mdx
Labels: ready to merge, Chainlink Functions

#2019 New starknet testnet feeds
  src/features/data/chains.ts
Labels: Chainlink Data Feeds

#2013 Data Streams SDK
  public/images/data-streams/data-streams-on-demand-offchain-workflows-v3.webp
  public/images/data-streams/data-streams-on-demand-offchain-workflows.webp
  public/images/data-streams/streams-direct-offchain-price-updates-v3.webp
  public/images/data-streams/streams-direct-offchain-price-updates.webp
  src/config/sidebar.ts
  src/content/data-streams/architecture.mdx
  src/content/data-streams/index.mdx
  src/content/data-streams/reference/streams-direct/streams-direct-go-sdk.mdx
  src/content/data-streams/reference/streams-direct/streams-direct-interface-ws.mdx
  src/content/data-streams/release-notes.mdx
  src/content/data-streams/tutorials/streams-direct/index.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-api.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-ws.mdx
Labels: blocked, Chainlink Data Streams

#2024 Node release 2.14.0
  src/content/chainlink-nodes/node-versions.mdx
  src/content/chainlink-nodes/v1/node-config.mdx
  src/content/chainlink-nodes/v1/running-a-chainlink-node.mdx
Labels: ready to merge, Chainlink Nodes

#2023 Update highlighting logic in Left Sidebar for current pages
  src/components/LeftSidebar/LeftSidebar.astro
  src/config/sidebar.ts
Labels: enhancement

#1789 Update feedback component
  global.d.ts
  src/components/PageContent/Assets/ThumbDownIcon.tsx
  src/components/PageContent/Assets/ThumbIcon.module.css
  src/components/PageContent/Assets/ThumbUpIcon.tsx
  src/components/PageContent/Feedback.module.css
  src/components/PageContent/Feedback.tsx
  src/components/QuickLinks/sections/ProductChainTable.tsx
Labels: enhancement

#1995 Update DataConsumerWithSequencerCheck.sol
  src/content/data-feeds/l2-sequencer-feeds.mdx
Labels: Chainlink Data Feeds

#2025 Ccip/metis
  src/components/QuickLinks/data/productChainLinks.ts
  src/config/data/ccip/v1_2_0/mainnet/chains.json
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
  src/config/data/ccip/v1_2_0/testnet/chains.json
  src/config/data/ccip/v1_2_0/testnet/lanes.json
  src/config/data/ccip/v1_2_0/testnet/tokens.json
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/features/ccip/components/supported-networks/ChainConfig.astro
  src/features/ccip/components/supported-networks/LaneConfig.astro
  src/features/ccip/components/supported-networks/Main.astro
  src/features/landing/data/index.ts
  src/features/utils/index.ts
Labels: Chainlink CCIP

#2028 metis release notes ccip
  src/content/ccip/release-notes.mdx
Labels: Chainlink CCIP

#2031 Clarify title of CCIP guide
  src/config/sidebar.ts
  src/content/ccip/tutorials/index.mdx
  src/content/ccip/tutorials/send-arbitrary-data-receipt-acknowledgment.mdx
  src/content/ccip/tutorials/send-arbitrary-data.mdx
Labels: Chainlink CCIP

#2032 CCIP Supported network page: add chain id
  src/features/ccip/components/supported-networks/ChainConfig.astro
Labels: Chainlink CCIP

#2034 CCIP: update fees
  src/config/data/ccip/data.ts
Labels: Chainlink CCIP

#2036 Data Streams Developer Responsibilities Documentation
  src/config/sidebar.ts
  src/content/data-streams/developer-responsibilities.mdx
Labels: ready to merge, Chainlink Data Streams

#2037 Data Streams on Base
  src/components/QuickLinks/data/productChainLinks.ts
  src/content/data-streams/release-notes.mdx
  src/features/feeds/components/Tables.tsx
  src/features/landing/data/index.ts
Labels: blocked, Chainlink Data Streams

#1997 VRF: Add BASE
  src/content/vrf/release-notes.mdx
  src/content/vrf/v2-5/supported-networks.mdx
Labels: blocked, Chainlink VRF

#2039 CLA supported networks bugfix
  src/features/chainlink-automation/data/chainlink-automation-config.json
Labels: bug, ready to merge, Chainlink Automation

#2041 Functions: Add UI request timeout instructions
  public/images/chainlink-functions/tutorials/request-timeout/1-request-eligible-for-timeout.png
  public/images/chainlink-functions/tutorials/request-timeout/2-approve-timeout-transaction.png
  public/images/chainlink-functions/tutorials/request-timeout/3-timeout-successful-confirmation.png
  public/images/chainlink-functions/tutorials/request-timeout/4-subscription-page-updates.png
  public/images/chainlink-functions/tutorials/request-timeout/5-failed-fulfillments.png
  public/images/chainlink-functions/tutorials/request-timeout/individual-request-timeout.png
  src/content/chainlink-functions/resources/release-notes.mdx
  src/content/chainlink-functions/resources/subscriptions.mdx
Labels: ready to merge, Chainlink Functions

#2042 new tokens
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
  src/features/ccip/components/supported-networks/LaneConfig.astro
  src/features/ccip/components/supported-networks/TokenSearch.tsx
  src/features/ccip/components/supported-networks/types.ts
Labels: Chainlink CCIP

#2043 Add BASE logo to VRF landing page card
  src/features/landing/data/index.ts
Labels: ready to merge, Chainlink VRF

#2038 CL node release 2.15.0
  src/content/chainlink-nodes/node-versions.mdx
  src/content/chainlink-nodes/v1/node-config.mdx
  src/content/chainlink-nodes/v1/running-a-chainlink-node.mdx
Labels: Chainlink Nodes

#2045 Refactor copyToClipboard to support dynamic and static elements
  src/scripts/copyToClipboard/copyToClipboard.ts
Labels: enhancement

#2029 Add CCIP metrics
  src/components/Address.tsx
  src/components/CopyText.tsx
  src/features/ccip/components/NetworkDropdown.tsx
  src/features/ccip/components/supported-networks/ChainConfig.astro
  src/features/ccip/components/supported-networks/LaneConfig.astro
  src/features/ccip/components/supported-networks/Main.astro
  src/features/ccip/components/supported-networks/TokenSearch.tsx
Labels: enhancement

#2049 Add Astro View Transitions API
  src/layouts/BaseLayout.astro
Labels: enhancement

#2051 Update Chainlink Local diagrams
  public/images/chainlink-local/chainlink-local-fork.jpg
  public/images/chainlink-local/chainlink-local-fork.png
  public/images/chainlink-local/chainlink-local-no-fork.jpg
  public/images/chainlink-local/chainlink-local-no-fork.png
  src/content/chainlink-local/learn/architecture.mdx
Labels: ready to merge, Chainlink Local

#2020 Log trigger limits
  src/content/chainlink-automation/concepts/automation-concepts.mdx
  src/content/chainlink-automation/guides/log-trigger.mdx
  src/content/chainlink-automation/overview/automation-release-notes.mdx
Labels: ready to merge, Chainlink Automation

#1983 QS: Automation station
  public/images/quickstarts/feature/QuickStarts-FlashLiquidity-Automation-Station.png
  src/content/quickstarts/automation-station.mdx
Labels: Chainlink Automation

#2050 CLA: Add flat fee info
  src/content/chainlink-automation/overview/automation-economics.mdx
Labels: ready to merge, Chainlink Automation
