Repository smartcontractkit/documentation, pull requests merged in 2024-04, with the labels that each got.

#1859 Sunset CCIP 1.0.0
  src/config/data/ccip/data.ts
  src/config/data/ccip/types.ts
  src/config/data/ccip/v1_0_0/mainnet/chains.json
  src/config/data/ccip/v1_0_0/mainnet/lanes.json
  src/config/data/ccip/v1_0_0/mainnet/tokens.json
  src/config/sidebar.ts
  src/content/ccip/index.mdx
  src/content/ccip/release-notes.mdx
  src/content/ccip/service-limits.mdx
  src/content/ccip/supported-networks/index.mdx
  src/content/ccip/supported-networks/v1_0_0/mainnet.mdx
  src/content/ccip/supported-networks/v1_2_0/mainnet.mdx
  src/content/ccip/supported-networks/v1_2_0/testnet.mdx
Labels: Chainlink CCIP

#1848 Clarify porSource labels
  src/features/feeds/components/Tables.tsx
Labels: Chainlink Data Feeds

#1861 CCIP xdai chiado testnet
  src/config/data/ccip/v1_2_0/testnet/chains.json
  src/config/data/ccip/v1_2_0/testnet/lanes.json
  src/config/data/ccip/v1_2_0/testnet/tokens.json
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/content/resources/link-token-contracts.mdx
  src/features/utils/index.ts
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: Chainlink CCIP

#1862 ccip batch5
  src/config/data/ccip/v1_2_0/mainnet/chains.json
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
  src/features/utils/index.ts
Labels: Chainlink CCIP

#1864 VRF Security Considerations Update
  src/content/vrf/v1/security.mdx
  src/content/vrf/v2/direct-funding/examples/get-a-random-number.mdx
  src/content/vrf/v2/security.mdx
  src/content/vrf/v2/subscription/examples/get-a-random-number.mdx
  src/features/data/chains.ts
Labels: ready to merge, Chainlink VRF

#1865 unlist gnosis mainnet
  src/config/data/ccip/v1_2_0/mainnet/chains.json
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
Labels: Chainlink CCIP

#1860 Update PoR Wallet Address cross-chain reserves description
  src/content/data-feeds/proof-of-reserve/index.mdx
  src/features/feeds/callouts/por-wallet-address-manager.mdx
  src/features/feeds/components/Tables.tsx
  src/features/feeds/components/pause-notice/PauseNotice.tsx
Labels: Chainlink Data Feeds

#1855 CLA Fantom support update
  public/images/info-icon.svg
  src/features/chainlink-automation/components/AutomationConfigList.tsx
Labels: Chainlink Automation

#1843 Node release v2.10.0
  src/content/chainlink-nodes/node-versions.mdx
  src/content/chainlink-nodes/resources/requirements.mdx
  src/content/chainlink-nodes/v1/node-config.mdx
  src/content/chainlink-nodes/v1/running-a-chainlink-node.mdx
Labels: Chainlink Nodes

#1867 Functions - Base Mainnet support
  src/content/chainlink-functions/resources/release-notes.mdx
  src/content/chainlink-functions/supported-networks.mdx
Labels: Chainlink Functions

#1870 Remove Linea Goerli testnet from Data Feeds
  src/config/data/chain-to-technology.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/content/data-feeds/ens.mdx
  src/features/data/chains.ts
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: Chainlink Data Feeds

#1875 Update Scroll l2-sequencer address
  src/content/data-feeds/l2-sequencer-feeds.mdx
Labels: Chainlink Data Feeds

#1877 Amoy updates
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/content/chainlink-automation/overview/supported-networks.mdx
  src/content/resources/link-token-contracts.mdx
  src/features/chainlink-automation/components/AutomationConfigList.tsx
  src/features/data/chains.ts
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: Chainlink Data Feeds, Chainlink Automation

#1885 Fix the text on Functions req resp architecture diagram
  public/images/chainlink-functions/requestAndReceive.png
Labels: Chainlink Functions

#1882 Move up Best Practices page
  src/config/sidebar.ts
Labels: ready to merge, Chainlink Automation

#1887 sunset matic
  src/config/data/ccip/v1_2_0/testnet/chains.json
  src/config/data/ccip/v1_2_0/testnet/lanes.json
  src/config/data/ccip/v1_2_0/testnet/tokens.json
  src/features/ccip/Supported-networks-concepts.mdx
Labels: Chainlink CCIP

#1874 Edits
  src/content/any-api/get-request/examples/existing-job-request.mdx
  src/content/ccip/architecture.mdx
  src/content/ccip/tutorials/ccipreceive-gaslimit.mdx
  src/content/chainlink-nodes/external-adapters/developers.mdx
  src/content/resources/network-integration.mdx
Labels: ready to merge

#1888 Remove Polygon Mumbai
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/content/chainlink-automation/overview/automation-release-notes.mdx
  src/content/chainlink-functions/resources/release-notes.mdx
  src/content/chainlink-functions/supported-networks.mdx
  src/content/resources/link-token-contracts.mdx
  src/content/vrf/release-notes.mdx
  src/content/vrf/v1/supported-networks.mdx
  src/content/vrf/v2/direct-funding/supported-networks.mdx
  src/content/vrf/v2/subscription/supported-networks.mdx
  src/features/chainlink-automation/components/AutomationConfigList.tsx
  src/features/chainlink-automation/data/chainlink-automation-addresses.json
  src/features/chainlink-automation/data/chainlink-automation-config.json
  src/features/data/chains.ts
  src/features/utils/index.ts
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: Chainlink Data Feeds, Chainlink VRF, Chainlink Automation, Chainlink Functions

#1889 Clarify flickering upkeeps
  src/content/chainlink-automation/concepts/best-practice.mdx
Labels: ready to merge, Chainlink Automation

#1890 CCP: list DIP and stTAO
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
Labels: Chainlink CCIP

#1886 Ccip/add hex error messages
  package-lock.json
  package.json
  src/config/data/ccip/data.ts
  src/config/data/ccip/errors/erc20.json
  src/config/data/ccip/errors/onramp.json
  src/config/data/ccip/errors/priceregistry.json
  src/config/data/ccip/errors/ratelimiter.json
  src/config/data/ccip/errors/router.json
  src/config/data/ccip/types.ts
  src/content/ccip/api-reference/errors.mdx
  src/features/ccip/components/api-reference/Errors.astro
  src/features/ccip/components/api-reference/index.ts
Labels: Chainlink CCIP

#1893 Update a chain selector
  src/content/ccip/tutorials/send-arbitrary-data.mdx
Labels: bug, ready to merge, Chainlink CCIP

#1895 Data Feeds - Polygon zkEVM Cardona testnet
  src/content/resources/link-token-contracts.mdx
  src/features/data/chains.ts
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: ready to merge, Chainlink Data Feeds

#1896 CCIP: mention transporter
  src/content/resources/link-token-contracts.mdx
Labels: Chainlink CCIP

#1899 Update Source Chain Name
  src/content/ccip/tutorials/get-status-offchain.mdx
Labels: Chainlink CCIP

#1900 Restore Gnosis feeds list
  src/features/data/chains.ts
Labels: ready to merge, Chainlink Data Feeds

#1902 add link to onboarding-new-tokens
  src/content/ccip/architecture.mdx
Labels: Chainlink CCIP

#1897 Update Exchange Rate Feed Docs
  src/content/data-feeds/selecting-data-feeds.mdx
Labels: Chainlink Data Feeds

#1903 CLA on Amoy
  src/content/chainlink-automation/overview/automation-release-notes.mdx
  src/features/chainlink-automation/data/chainlink-automation-addresses.json
  src/features/chainlink-automation/data/chainlink-automation-config.json
Labels: Chainlink Automation

#1905 CCIP mainnet
  public/images/ccip/support-manual-exec.gif
  src/content/ccip/best-practices.mdx
  src/content/ccip/concepts/manual-execution.mdx
  src/content/ccip/examples/index.mdx
  src/content/ccip/getting-started.mdx
  src/content/ccip/index.mdx
  src/content/ccip/release-notes.mdx
  src/content/ccip/service-limits.mdx
  src/content/ccip/service-responsibility.mdx
  src/content/ccip/supported-networks/v1_2_0/mainnet.mdx
  src/content/ccip/supported-networks/v1_2_0/testnet.mdx
  src/content/ccip/tutorials/cross-chain-tokens.mdx
  src/content/ccip/tutorials/programmable-token-transfers-defensive.mdx
  src/content/ccip/tutorials/programmable-token-transfers.mdx
  src/content/ccip/tutorials/send-arbitrary-data-receipt-acknowledgment.mdx
  src/content/ccip/tutorials/send-arbitrary-data.mdx
  src/features/ccip/CcipCommon.astro
  src/features/ccip/Talk-Expert.mdx
  src/features/ccip/Use-Simulator.mdx
Labels: Chainlink CCIP

#1906 ccip ga banner
  src/features/notifications/data/index.ts
Labels: Chainlink CCIP

#1908 TRUF
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
Labels: Chainlink CCIP

#1911 CCIP tutorial: correct name of destination chain
  src/content/ccip/tutorials/cross-chain-tokens.mdx
Labels: Chainlink CCIP

#1907 Data Streams - Streams Direct
  public/images/data-streams/data-streams-on-demand-offchain-workflows-v3.webp
  public/images/data-streams/data-streams-trade-architecture-v2.webp
  public/images/data-streams/onchain-verification/deploy-clientReportsVerifier.webp
  public/images/data-streams/onchain-verification/deployed-clientReportsVerifier-1.webp
  public/images/data-streams/onchain-verification/deployed-clientReportsVerifier-2.webp
  public/images/data-streams/onchain-verification/injected-provider.webp
  public/images/data-streams/onchain-verification/price-from-verified-report.webp
  public/images/data-streams/onchain-verification/solidity-compiler.webp
  public/images/data-streams/push-based-vs-pull-based-oracles.webp
  public/images/data-streams/streams-direct-offchain-price-updates-v3.webp
  public/images/data-streams/streams-trade-sequence-diagram.webp
  public/samples/DataStreams/ClientReportsVerifier.sol
  public/samples/DataStreams/StreamsDirect/client.go
  public/samples/DataStreams/StreamsDirect/decoder.go
  public/samples/DataStreams/StreamsDirect/mod.go
  public/samples/DataStreams/StreamsDirect/multipleFeeds.go
  public/samples/DataStreams/StreamsDirect/singleFeed.go
  public/samples/DataStreams/StreamsDirect/ws/clientWs.go
  public/samples/DataStreams/StreamsDirect/ws/decodeFullReportHex.go
  public/samples/DataStreams/StreamsDirect/ws/mod.go
  public/samples/DataStreams/StreamsDirect/ws/wsConnectAndListen.go
  src/config/sidebar.ts
  src/content/data-streams/architecture.mdx
  src/content/data-streams/billing.mdx
  src/content/data-streams/getting-started.mdx
  src/content/data-streams/index.mdx
  src/content/data-streams/reference/report-schema.mdx
  src/content/data-streams/reference/streams-direct-interface-api.mdx
  src/content/data-streams/reference/streams-direct-interface-ws.mdx
  src/content/data-streams/reference/streams-direct-onchain-verification.mdx
  src/content/data-streams/reference/streams-trade-interface.mdx
  src/content/data-streams/release-notes.mdx
  src/content/data-streams/stream-ids.mdx
  src/content/data-streams/tutorials/streams-direct-api.mdx
  src/content/data-streams/tutorials/streams-direct-onchain-verification.mdx
  src/content/data-streams/tutorials/streams-direct-ws.mdx
  src/features/data-streams/common/DataStreams.astro
  src/features/data-streams/common/asideDisclaimer.mdx
  src/features/data-streams/common/asideOnChainVerification.mdx
  src/features/data-streams/common/gettingStarted.mdx
  src/features/data-streams/common/gettingStartedHardhat.mdx
Labels: Chainlink Data Streams

#1914 Add Data Streams link to footer
  src/components/Footer/Footer.astro
Labels: ready to merge

#1915 CF: Add Polygon Amoy
  src/content/chainlink-functions/resources/release-notes.mdx
  src/content/chainlink-functions/supported-networks.mdx
Labels: ready to merge, Chainlink Functions

#1919 BETS
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
Labels: Chainlink CCIP
