Repository smartcontractkit/documentation, pull requests merged in 2024-02, with the labels that each got.

#1742 Redirect Hackathon Winners page to the Blog
  src/content/getting-started/other-tutorials.mdx
  src/content/resources/example-projects.mdx
  src/content/resources/hackathon-resources.mdx
  src/features/redirects/redirects.json
  vercel.json
Labels: enhancement, ready to merge

#1743 Ccip/sepolia optimism
  src/config/data/ccip/v1_2_0/testnet/chains.json
  src/config/data/ccip/v1_2_0/testnet/lanes.json
  src/config/data/ccip/v1_2_0/testnet/tokens.json
  src/features/utils/index.ts
Labels: Chainlink CCIP

#1739 Chainlink Functions Edits
  public/images/chainlink-functions/tutorials/subscription/accept-CL-foundation-tos.jpg
  public/images/chainlink-functions/tutorials/subscription/frontend-landing-wallet-connected.jpg
  public/images/chainlink-functions/tutorials/subscription/frontend-landing.jpg
  public/images/chainlink-functions/tutorials/subscription/subscription-created-add-consumer-2.jpg
  public/images/chainlink-functions/tutorials/subscription/subscription-created-add-consumer.jpg
  public/images/chainlink-functions/tutorials/subscription/subscription-created-add-funds.jpg
  public/images/chainlink-functions/tutorials/subscription/subscription-created.jpg
  public/images/chainlink-functions/tutorials/subscription/subscription-details-after-creation.jpg
  public/images/chainlink-functions/tutorials/subscription/wallet-connected-polygon-mumbai.jpg
  src/content/chainlink-functions/getting-started.mdx
  src/content/chainlink-functions/resources/subscriptions.mdx
Labels: ready to merge, Chainlink Functions

#1745 Automation 2.0 migration doc
  public/images/automation/v2-migration/approve-migration.png
  public/images/automation/v2-migration/details-with-forwarder.png
  public/images/automation/v2-migration/landing-page.png
  public/images/automation/v2-migration/migrated.png
  public/images/automation/v2-migration/migration-txn.png
  public/images/automation/v2-migration/upkeep-details.png
  src/config/sidebar.ts
  src/content/chainlink-automation/guides/migrate-to-v2.mdx
Labels: Chainlink Automation

#1748 Correct old addresses and minor edits in Automation Getting Started
  src/content/chainlink-automation/overview/getting-started.mdx
Labels: Chainlink Automation

#1746 Show abi.encoding/decoding example
  public/samples/ChainlinkFunctions/FunctionsConsumerDecoder.sol
  src/config/sidebar.ts
  src/content/chainlink-functions/tutorials/abi-decoding.mdx
  src/content/chainlink-functions/tutorials/api-custom-response.mdx
  src/content/chainlink-functions/tutorials/api-post-data.mdx
  src/content/chainlink-functions/tutorials/api-query-parameters.mdx
  src/content/chainlink-functions/tutorials/automate-functions-custom-logic.mdx
  src/content/chainlink-functions/tutorials/automate-functions.mdx
  src/content/chainlink-functions/tutorials/importing-packages.mdx
  src/content/chainlink-functions/tutorials/index.mdx
  src/content/chainlink-functions/tutorials/simple-computation.mdx
  src/features/chainlink-functions/common/GuidesPrerequisites.mdx
Labels: Chainlink Functions

#1752 remove 1.0.0 testnet
  src/config/data/ccip/data.ts
  src/config/data/ccip/v1_0_0/testnet/chains.json
  src/config/data/ccip/v1_0_0/testnet/lanes.json
  src/config/data/ccip/v1_0_0/testnet/tokens.json
  src/config/sidebar.ts
  src/content/ccip/index.mdx
  src/content/ccip/release-notes.mdx
  src/content/ccip/service-limits.mdx
  src/content/ccip/supported-networks/index.mdx
  src/content/ccip/supported-networks/v1_0_0/mainnet.mdx
  src/content/ccip/supported-networks/v1_0_0/testnet.mdx
  src/content/ccip/supported-networks/v1_2_0/mainnet.mdx
  src/content/ccip/supported-networks/v1_2_0/testnet.mdx
  src/features/ccip/components/NetworkDropdown.tsx
Labels: Chainlink CCIP

#1741 Add Base Sepolia
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/content/resources/link-token-contracts.mdx
  src/features/data/chains.ts
  src/features/feeds/components/Tables.tsx
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: ready to merge, Chainlink Data Feeds

#1753 Update to programming language and runtime support
  src/content/chainlink-functions/resources/service-limits.mdx
Labels: Chainlink Functions

#1738 Update external links (403 & 404 errors)
  src/content/any-api/api-reference.mdx
  src/content/any-api/testnet-oracles.mdx
  src/content/architecture-overview/architecture-decentralized-model.mdx
  src/content/ccip/supported-networks/index.mdx
  src/content/chainlink-automation/guides/log-trigger.mdx
  src/content/chainlink-automation/reference/automation-contracts.mdx
  src/content/chainlink-automation/reference/automation-interfaces.mdx
  src/content/chainlink-functions/getting-started.mdx
  src/content/chainlink-nodes/contracts/forwarder.mdx
  src/content/chainlink-nodes/contracts/operator.mdx
  src/content/chainlink-nodes/contracts/ownership.mdx
  src/content/chainlink-nodes/contracts/receiver.mdx
  src/content/chainlink-nodes/job-specs/direct-request-existing-job.mdx
  src/content/chainlink-nodes/job-specs/direct-request-get-bool.mdx
  src/content/chainlink-nodes/job-specs/direct-request-get-bytes.mdx
  src/content/chainlink-nodes/job-specs/direct-request-get-int256.mdx
  src/content/chainlink-nodes/job-specs/direct-request-get-string.mdx
  src/content/chainlink-nodes/job-specs/direct-request-get-uint256.mdx
  src/content/chainlink-nodes/job-specs/multi-word-job.mdx
  src/content/chainlink-nodes/resources/run-an-ethereum-client.mdx
  src/content/chainlink-nodes/v1/node-config.mdx
  src/content/data-feeds/feed-registry/index.mdx
  src/content/data-feeds/getting-started.mdx
  src/content/data-feeds/historical-data.mdx
  src/content/data-feeds/index.mdx
  src/content/data-feeds/l2-sequencer-feeds.mdx
  src/content/data-feeds/proof-of-reserve/index.mdx
  src/content/data-feeds/solana/using-data-feeds-off-chain.mdx
  src/content/data-feeds/solana/using-data-feeds-solana.mdx
  src/content/getting-started/conceptual-overview.mdx
  src/content/getting-started/other-tutorials.mdx
  src/content/quickstarts/eth-balance-monitor.mdx
  src/content/quickstarts/foundry-chainlink-toolkit.mdx
  src/content/quickstarts/price-feeds-showcase.mdx
  src/content/quickstarts/vrf-mystery-box.mdx
  src/content/quickstarts/web3js.mdx
  src/content/resources/hackathon-resources.mdx
  src/content/vrf/index.mdx
  src/content/vrf/v2/direct-funding/examples/get-a-random-number.mdx
  src/content/vrf/v2/direct-funding/examples/test-locally.mdx
  src/content/vrf/v2/direct-funding/index.mdx
  src/content/vrf/v2/direct-funding/migration-from-v1.mdx
  src/content/vrf/v2/getting-started.mdx
  src/content/vrf/v2/subscription/examples/get-a-random-number.mdx
  src/content/vrf/v2/subscription/examples/programmatic-subscription.mdx
  src/content/vrf/v2/subscription/examples/test-locally.mdx
  src/content/vrf/v2/subscription/index.mdx
  src/content/vrf/v2/subscription/migration-from-v1.mdx
  src/features/chainlink-automation/common/iLogAutomation.mdx
  src/features/chainlink-functions/common/AutomatedFunctionsConsumer.mdx
  src/features/chainlink-functions/common/CustomAutomatedFunctionsConsumer.mdx
  src/features/chainlink-functions/common/FunctionsConsumer.mdx
  src/scripts/link-check/ignoredfiles-external.txt
Labels: ready to merge

#1749 CCIP Defensive example - add pagination
  .vscode/settings.json
  public/images/ccip/tutorials/ccip-explorer-ccip-retry-failed-defensive.jpg
  public/images/ccip/tutorials/ccip-explorer-ccip-retry-failed-tokens-transferred-defensive.jpg
  public/images/ccip/tutorials/ccip-explorer-send-tokens-lastfailedmessageids-defensive-recovered.jpg
  public/images/ccip/tutorials/ccip-explorer-send-tokens-lastfailedmessageids-defensive.jpg
  public/images/ccip/tutorials/ccip-explorer-send-tokens-message-pay-link-tx-details-defensive.jpg
  public/images/ccip/tutorials/ccip-explorer-send-tokens-message-pay-link-tx-details-success-defensive.jpg
  public/samples/CCIP/Messenger.sol
  public/samples/CCIP/ProgrammableDefensiveTokenTransfers.sol
  public/samples/CCIP/ProgrammableTokenTransfers.sol
  public/samples/CCIP/TokenTransferor.sol
  src/content/ccip/tutorials/programmable-token-transfers-defensive.mdx
Labels: ready to merge, Chainlink CCIP

#1754 Fix "Edit this page" links for astro pages
  src/content/config.ts
  src/layouts/DocsLayout.astro
  src/pages/chainlink-nodes.astro
Labels: bug

#1756 Data Streams - report schemas update
  src/content/data-streams/reference/interfaces.mdx
  src/content/data-streams/reference/report-schema.mdx
  src/features/data-streams/common/gettingStarted.mdx
Labels: Chainlink Data Streams

#1760 remove 1.0.0 testnet deprec notice from 1.2.0
  src/content/ccip/supported-networks/v1_2_0/testnet.mdx
Labels: Chainlink CCIP

#1758 CCIP mainnet 1.2 batch1
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
Labels: Chainlink CCIP

#1747 CCIP onboarding of new tokens process
  src/content/ccip/architecture.mdx
  src/content/ccip/index.mdx
  src/content/ccip/supported-networks/index.mdx
  src/content/ccip/supported-networks/v1_0_0/mainnet.mdx
  src/content/ccip/supported-networks/v1_2_0/mainnet.mdx
  src/content/ccip/supported-networks/v1_2_0/testnet.mdx
  src/features/ccip/CcipCommon.astro
  src/features/ccip/Supported-networks-concepts.mdx
Labels: Chainlink CCIP

#1767 Add forwarder callout
  src/content/chainlink-automation/guides/migrate-to-v2.mdx
Labels: Chainlink Automation

#1669 manual execution guide
  .vscode/settings.json
  public/images/ccip/manual-execution-status.jpg
  public/images/ccip/manual-execution.png
  public/images/ccip/tutorials/ccip-explorer-send-tokens-message-manual-execution-confirmation.jpg
  public/images/ccip/tutorials/ccip-explorer-send-tokens-message-manual-execution-success.jpg
  public/images/ccip/tutorials/ccip-explorer-send-tokens-message-manual-execution-tenderl1.jpg
  public/images/ccip/tutorials/ccip-explorer-send-tokens-message-manual-execution-tenderly2.jpg
  public/images/ccip/tutorials/ccip-explorer-send-tokens-message-pay-link-low-gaslimit-tx-details.jpg
  public/images/ccip/tutorials/ccip-explorer-send-tokens-message-pay-link-tx-details-ready-manual-execution.jpg
  public/images/ccip/tutorials/mumbai-token-messagedetails-pay-link-failed.jpg
  public/images/ccip/tutorials/mumbai-token-messagedetails-pay-link-manual-success.jpg
  public/images/ccip/tutorials/mumbai-token-override-gas-limit.jpg
  public/samples/CCIP/ProgrammableTokenTransfersLowGasLimit.sol
  src/config/sidebar.ts
  src/content/ccip/architecture.mdx
  src/content/ccip/best-practices.mdx
  src/content/ccip/concepts/index.mdx
  src/content/ccip/concepts/manual-execution.mdx
  src/content/ccip/getting-started.mdx
  src/content/ccip/service-limits.mdx
  src/content/ccip/tutorials/cross-chain-tokens-from-eoa.mdx
  src/content/ccip/tutorials/cross-chain-tokens.mdx
  src/content/ccip/tutorials/manual-execution.mdx
  src/content/ccip/tutorials/programmable-token-transfers-defensive.mdx
  src/content/ccip/tutorials/programmable-token-transfers.mdx
  src/content/ccip/tutorials/send-arbitrary-data.mdx
  src/content/ccip/tutorials/usdc.mdx
Labels: Chainlink CCIP

#1770 remove base, optimism goerli
  src/config/data/ccip/v1_2_0/testnet/chains.json
  src/config/data/ccip/v1_2_0/testnet/lanes.json
  src/config/data/ccip/v1_2_0/testnet/tokens.json
  src/content/ccip/supported-networks/v1_2_0/testnet.mdx
Labels: Chainlink CCIP

#1771 CCIP: Show onramp addresses
  src/config/data/ccip/types.ts
  src/config/data/ccip/v1_0_0/mainnet/lanes.json
  src/config/data/ccip/v1_0_0/mainnet/tokens.json
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/testnet/lanes.json
  src/features/ccip/components/supported-networks/LaneConfig.astro
Labels: Chainlink CCIP

#1773 CCIP: update config mainnet
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
Labels: Chainlink CCIP

#1772 Fix empty proxy entries in Data Feeds list
  src/features/data/api/backend.ts
  src/features/data/api/index.ts
  src/features/feeds/components/Tables.tsx
Labels: Chainlink Data Feeds

#1774 Ccip/contracts 1 4
  package-lock.json
  package.json
  public/samples/CCIP/Acknowledger.sol
  public/samples/CCIP/MessageTracker.sol
  public/samples/CCIP/Messenger.sol
  public/samples/CCIP/ProgrammableDefensiveTokenTransfers.sol
  public/samples/CCIP/ProgrammableTokenTransfers.sol
  public/samples/CCIP/ProgrammableTokenTransfersLowGasLimit.sol
  public/samples/CCIP/TokenTransferor.sol
  src/scripts/helper/pin-solver-dist.ts
Labels: Chainlink CCIP

#1776 Update migration page and small fixes
  public/images/automation/v2-migration/1-bulk-migration-ui.png
  public/images/automation/v2-migration/forwarder-address.png
  src/content/chainlink-automation/guides/migrate-to-v2.mdx
  src/content/chainlink-automation/overview/getting-started.mdx
Labels: Chainlink Automation

#1777 add base sepolia
  src/config/data/ccip/v1_2_0/testnet/chains.json
  src/config/data/ccip/v1_2_0/testnet/lanes.json
  src/config/data/ccip/v1_2_0/testnet/tokens.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/features/utils/index.ts
Labels: Chainlink CCIP

#1778 Add Automation debugging script
  src/content/chainlink-automation/reference/debugging-errors.mdx
Labels: Chainlink Automation

#1779 Exclude Data Streams from Data Feeds lists
  src/features/feeds/components/FeedList.tsx
  src/features/feeds/components/Tables.tsx
Labels: Chainlink Data Feeds, Chainlink Data Streams

#1769 Functions billing example
  src/content/chainlink-functions/resources/billing.mdx
Labels: Chainlink Functions

#1783 Update Automation debugging script link
  src/content/chainlink-automation/reference/debugging-errors.mdx
Labels: Chainlink Automation

#1784 Add diagram clarifying contract flow by upkeep type
  public/images/automation/v2-migration/v2-upkeeps-by-type.png
  src/content/chainlink-automation/guides/migrate-to-v2.mdx
Labels: Chainlink Automation

#1786 CLA on Optimism Sepolia
  src/content/chainlink-automation/overview/automation-release-notes.mdx
  src/content/chainlink-automation/overview/supported-networks.mdx
  src/features/chainlink-automation/data/chainlink-automation-addresses.json
  src/features/chainlink-automation/data/chainlink-automation-config.json
Labels: ready to merge, Chainlink Automation

#1787 Data Feeds filters
  src/features/data/api/backend.ts
  src/features/data/api/index.ts
  src/features/feeds/components/FeedList.tsx
Labels: Chainlink Data Feeds

#1788 Data Feeds filters update and small fixes
  LICENSE
  src/components/Footer/Footer.astro
  src/content/chainlink-automation/guides/migrate-to-v2.mdx
  src/content/data-streams/release-notes.mdx
  src/features/data/api/backend.ts
  src/features/data/api/index.ts
Labels: Chainlink Data Feeds

#1765 Update LINK token faucet and bridge info
  src/content/chainlink-automation/overview/supported-networks.mdx
  src/content/data-feeds/l2-sequencer-feeds.mdx
  src/content/resources/link-token-contracts.mdx
  src/content/vrf/v2/subscription/supported-networks.mdx
  src/features/chainlink-automation/data/chainlink-automation-addresses.json
  src/features/chainlink-automation/data/chainlink-automation-config.json
  src/features/data/chains.ts
Labels: ready to merge
