Repository smartcontractkit/documentation, pull requests merged in 2024-06, with the labels that each got.

#1964 Add note on old registrar deprecations
  src/content/chainlink-automation/overview/automation-release-notes.mdx
Labels: ready to merge, Chainlink Automation

#1965 Add Arbitrum PoR Data Feeds
  src/features/data/chains.ts
Labels: ready to merge, Chainlink Data Feeds

#1966 Clarify a v2 link
  src/content/vrf/v2-5/overview/subscription.mdx
Labels: Chainlink VRF

#1968 Ccip/gnosis mainnet
  src/components/QuickLinks/data/productChainLinks.ts
  src/config/data/ccip/v1_2_0/mainnet/chains.json
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
  src/content/ccip/release-notes.mdx
  src/features/landing/data/index.ts
Labels: Chainlink CCIP

#1967 CL Node Release 2.12.0
  src/content/chainlink-nodes/node-versions.mdx
  src/content/chainlink-nodes/v1/node-config.mdx
  src/content/chainlink-nodes/v1/running-a-chainlink-node.mdx
Labels: Chainlink Nodes

#1839 CLA on Gnosis
  src/content/chainlink-automation/overview/automation-release-notes.mdx
  src/features/chainlink-automation/data/chainlink-automation-addresses.json
  src/features/chainlink-automation/data/chainlink-automation-config.json
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: blocked, Chainlink Automation

#1923 Update quickstarts to VRF 2.5
  src/content/quickstarts/pass-cost-to-end-user.mdx
  src/content/quickstarts/vrf-mystery-box.mdx
Labels: Chainlink VRF

#1969 Add search for transferable tokens table
  src/features/ccip/components/supported-networks/LaneConfig.astro
  src/features/ccip/components/supported-networks/TokenSearch.tsx
  src/features/common/Tooltip/SimplePreactTooltip.tsx
  src/features/common/Tooltip/index.ts
Labels: enhancement, Chainlink CCIP

#1972 Add V2.5 architecture diagrams
  public/images/vrf/v2-5/direct-funding-architecture-diagram.png
  public/images/vrf/v2-5/subscription-architecture-diagram.png
  src/content/vrf/v2-5/overview/direct-funding.mdx
  src/content/vrf/v2-5/overview/subscription.mdx
Labels: ready to merge, Chainlink VRF

#1803 Update Streamslookup ErrorHandler & DS nav
  public/images/data-streams/data-streams-trade-architecture-v2.webp
  public/images/data-streams/data-streams-trade-architecture-v3.webp
  public/samples/Automation/StreamsWithError.sol
  public/samples/DataStreams/StreamsUpkeepWithErrorHandler.sol
  src/config/sidebar.ts
  src/content/chainlink-automation/guides/streams-lookup-error-handler.mdx
  src/content/data-streams/architecture.mdx
  src/content/data-streams/index.mdx
  src/content/data-streams/reference/streams-direct/index.mdx
  src/content/data-streams/reference/streams-direct/streams-direct-interface-api.mdx
  src/content/data-streams/reference/streams-direct/streams-direct-interface-ws.mdx
  src/content/data-streams/reference/streams-direct/streams-direct-onchain-verification.mdx
  src/content/data-streams/tutorials/streams-direct/index.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-api.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-onchain-verification.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-ws.mdx
  src/content/data-streams/tutorials/streams-trade/index.mdx
  src/content/data-streams/tutorials/streams-trade/streams-trade-lookup-error-handler.mdx
  src/features/data-streams/common/DataStreams.astro
  src/features/data-streams/common/asideOnChainVerification.mdx
  src/features/data-streams/common/gettingStarted.mdx
  src/features/data-streams/common/gettingStartedHardhat.mdx
  src/features/data-streams/common/streamsLookupErrorHandler.mdx
  src/features/redirects/redirects.json
Labels: Chainlink Automation, Chainlink Data Streams

#1973 Add nested links to mobile nav
  src/components/Header/Nav/ProductNavigation/Mobile/Category.tsx
  src/components/Header/Nav/ProductNavigation/Mobile/ProductContent.tsx
  src/components/Header/Nav/ProductNavigation/Mobile/ProductNavigation.tsx
  src/components/Header/Nav/ProductNavigation/Mobile/SubProductContent.tsx
  src/components/Header/Nav/config.tsx
  src/components/Header/getNavigationProps.ts
  src/features/ccip/components/billing/TokenCalculator.tsx
Labels: enhancement

#1939 Condense conceptual information on Data Feed lists
  src/content/data-feeds/selecting-data-feeds.mdx
  src/features/feeds/callouts/FeedsCommonCallout.astro
  src/features/feeds/callouts/etf-best-practices.mdx
  src/features/feeds/callouts/feed-quality.mdx
  src/features/feeds/components/FeedPage.astro
  src/features/feeds/components/Tables.tsx
Labels: Chainlink Data Feeds

#1976 Hide SN feeds
  src/components/QuickLinks/data/productChainLinks.ts
  src/features/data/chains.ts
  src/features/landing/data/index.ts
Labels: Chainlink Data Feeds

#1978 Remove SeaLevel repo URL
  src/content/data-feeds/solana/index.mdx
Labels: ready to merge

#1979 Update LINK token for Celo
  src/content/resources/link-token-contracts.mdx
Labels: ready to merge, Chainlink Data Feeds, Chainlink CCIP

#1981 CCIP Mode
  public/assets/chains/mode.svg
  script.sh
  src/components/QuickLinks/data/productChainLinks.ts
  src/config/data/ccip/data.ts
  src/config/data/ccip/v1_2_0/mainnet/chains.json
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
  src/config/data/ccip/v1_2_0/testnet/chains.json
  src/config/data/ccip/v1_2_0/testnet/lanes.json
  src/config/data/ccip/v1_2_0/testnet/tokens.json
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/content/ccip/release-notes.mdx
  src/content/resources/link-token-contracts.mdx
  src/features/landing/data/index.ts
  src/features/utils/index.ts
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: blocked, Chainlink CCIP

#1980 Gas price thresholds
  src/config/sidebar.ts
  src/content/chainlink-automation/guides/gas-price-threshold.mdx
Labels: ready to merge, Chainlink Automation

#1982 Announce deprecation date for older upkeeps
  src/content/chainlink-automation/concepts/best-practice.mdx
  src/content/chainlink-automation/overview/automation-release-notes.mdx
Labels: ready to merge, Chainlink Automation

#1948 Update DS Feeds page
  src/content/data-streams/reference/streams-direct/streams-direct-interface-api.mdx
  src/features/feeds/components/FeedList.tsx
  src/features/feeds/components/Tables.tsx
Labels: ready to merge, Chainlink Data Streams

#1984 CLA deprecation banner
  src/config/sidebar.ts
  src/content/chainlink-automation/concepts/best-practice.mdx
  src/content/chainlink-automation/guides/forwarder.mdx
  src/content/chainlink-automation/guides/manage-upkeeps.mdx
  src/content/chainlink-automation/guides/migrate-to-v2.mdx
  src/content/chainlink-automation/index.mdx
  src/content/chainlink-automation/overview/automation-economics.mdx
  src/content/chainlink-automation/overview/supported-networks.mdx
  src/features/chainlink-automation/common/ChainlinkAutomation.astro
  src/features/chainlink-automation/common/deprecation.mdx
Labels: Chainlink Automation

#1986 Add CCIP refill rate animation
  public/images/ccip/ccip-refill-rate-v03.webp
  src/content/ccip/architecture.mdx
Labels: enhancement, Chainlink CCIP

#1985 CLA on Base Sepolia
  src/content/chainlink-automation/overview/automation-release-notes.mdx
  src/features/chainlink-automation/data/chainlink-automation-addresses.json
  src/features/chainlink-automation/data/chainlink-automation-config.json
Labels: blocked, Chainlink Automation
