Repository smartcontractkit/documentation, pull requests merged in 2024-11, with the labels that each got.

#2174 Fix Functions sidebar
  src/config/sidebar.ts
Labels: bug

#2177 Streams Trade - Feed ID type clarification
  src/content/data-streams/reference/streams-direct/streams-direct-onchain-verification.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-api.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-onchain-verification.mdx
  src/features/data-streams/common/gettingStarted.mdx
  src/features/data-streams/common/gettingStartedHardhat.mdx
Labels: Chainlink Data Streams

#2112 Custom & New Token categories & Dev Resp update
  src/content/data-streams/developer-responsibilities.mdx
  src/features/feeds/components/Tables.tsx
Labels: Chainlink Data Streams

#2179 Data tables small improvements
  src/config/sidebar.ts
  src/content/data-streams/market-hours.mdx
  src/content/data-streams/reference/report-schema-v4.mdx
  src/features/data/chains.ts
  src/features/feeds/components/FeedList.tsx
  src/features/feeds/components/Tables.module.css
  src/features/feeds/components/Tables.tsx
Labels: Chainlink Data Feeds, Chainlink Data Streams
