Repository smartcontractkit/documentation, pull requests merged in 2024-09, with the labels that each got.

#2053 Fix VRF network config tab redirection issue
  src/content/vrf/v2-5/supported-networks.mdx
Labels: enhancement, ready to merge

#2054 Add VRF v2.5 notice to V2 migration page
  src/content/vrf/v2-5/migration-from-v2.mdx
Labels: ready to merge, Chainlink VRF

#2055 remove chainid
  src/features/ccip/components/supported-networks/ChainConfig.astro
Labels: Chainlink CCIP

#2056 Temp remove Astro ViewTransitions API
  src/layouts/BaseLayout.astro
Labels: ready to merge

#2065 active weth base lanes
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/features/ccip/components/supported-networks/ChainConfig.astro
  src/features/ccip/components/supported-networks/TokenSearch.tsx
  src/features/utils/index.ts
Labels: Chainlink CCIP

#2069 Revert "Add Celo on Functions"
  src/components/QuickLinks/data/productChainLinks.ts
  src/content/chainlink-functions/resources/release-notes.mdx
  src/content/chainlink-functions/supported-networks.mdx
  src/features/landing/data/index.ts
Labels: Chainlink Functions

#2063 Automation native billing
  src/content/chainlink-automation/guides/register-upkeep-in-contract.mdx
  src/content/chainlink-automation/overview/automation-economics.mdx
  src/content/chainlink-automation/overview/automation-release-notes.mdx
  src/features/chainlink-automation/data/chainlink-automation-config.json
Labels: Chainlink Automation

#2072 Data Feeds on Soneium Minato Testnet
  public/assets/chains/soneium.svg
  src/components/QuickLinks/data/productChainLinks.ts
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/content/resources/link-token-contracts.mdx
  src/features/data/chains.ts
  src/features/landing/data/index.ts
  src/scripts/reference/linkNameSymbol.json
Labels: Chainlink Data Feeds

#1934 Changelog JSON and single-sourced release notes
  public/changelog.json
  src/components/ReleaseNotes.astro
  src/components/index.ts
  src/content/ccip/release-notes.mdx
  src/content/chainlink-automation/overview/automation-release-notes.mdx
  src/content/chainlink-functions/resources/release-notes.mdx
  src/content/chainlink-nodes/node-versions.mdx
  src/content/data-streams/release-notes.mdx
  src/content/vrf/release-notes.mdx
Labels: enhancement, ready to merge

#2073 zksync
  public/changelog.json
  src/components/QuickLinks/data/productChainLinks.ts
  src/config/data/ccip/v1_2_0/mainnet/chains.json
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
  src/config/data/ccip/v1_2_0/testnet/chains.json
  src/config/data/ccip/v1_2_0/testnet/lanes.json
  src/config/data/ccip/v1_2_0/testnet/tokens.json
  src/config/data/chains.json
  src/config/sidebar.ts
  src/config/types.ts
  src/content/ccip/architecture.mdx
  src/content/ccip/concepts/ccip-execution-latency.mdx
  src/content/ccip/concepts/index.mdx
  src/content/ccip/service-responsibility.mdx
  src/content/resources/link-token-contracts.mdx
  src/features/data/chains.ts
  src/features/landing/data/index.ts
  src/features/utils/index.ts
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: Chainlink CCIP, Do not merge

#2078 Fix links in CLA log triggers note
  public/changelog.json
Labels: bug, ready to merge

#2081 Update Streams Developer Responsibilities
  src/content/data-streams/developer-responsibilities.mdx
Labels: Chainlink Data Streams

#2083 Feed tables update
  src/features/feeds/components/Tables.tsx
Labels: Chainlink Data Streams

#2090 Display PoR Base Mainnet
  src/features/data/chains.ts
Labels: ready to merge, Chainlink Data Feeds

#2089 Add product metrics
  src/content/chainlink-functions/supported-networks.mdx
  src/content/vrf/v2-5/supported-networks.mdx
  src/features/feeds/components/Tables.tsx
Labels: enhancement

#2091 Simplify selected network button style
  src/features/feeds/components/FeedList.module.css
Labels: enhancement

#2085 Node release 2.16.0
  public/changelog.json
  src/content/chainlink-nodes/v1/node-config.mdx
  src/content/chainlink-nodes/v1/running-a-chainlink-node.mdx
Labels: ready to merge, Chainlink Nodes

#2094 Quickstart side menu - GH & page edit links
  src/components/Quickstart/QuickstartPanel.astro
  src/content/config.ts
  src/content/quickstarts/automated-portfolio-manager.mdx
  src/content/quickstarts/automation-station.mdx
  src/content/quickstarts/batch-reveal.mdx
  src/content/quickstarts/chainlink-demo-app.mdx
  src/content/quickstarts/chainlink-hardhat-starter-kit.mdx
  src/content/quickstarts/circuit-breaker.mdx
  src/content/quickstarts/dev3-chainlink-sdk.mdx
  src/content/quickstarts/eth-balance-monitor.mdx
  src/content/quickstarts/foundry-chainlink-toolkit.mdx
  src/content/quickstarts/functions-demo-app.mdx
  src/content/quickstarts/giveaway.mdx
  src/content/quickstarts/hardhat-plugin.mdx
  src/content/quickstarts/historical-price-feeds-api.mdx
  src/content/quickstarts/pass-cost-to-end-user.mdx
  src/content/quickstarts/price-feeds-showcase.mdx
  src/content/quickstarts/vrf-enabled-lootbox-pack.mdx
  src/content/quickstarts/vrf-mystery-box.mdx
  src/content/quickstarts/vrf-subscription-monitor.mdx
  src/content/quickstarts/web3js.mdx
Labels: enhancement

#2096 CLA Base mainnet
  public/changelog.json
  src/features/chainlink-automation/data/chainlink-automation-addresses.json
  src/features/chainlink-automation/data/chainlink-automation-config.json
Labels: ready to merge, Chainlink Automation
