Repository smartcontractkit/documentation, pull requests merged in 2024-10, with the labels that each got.

#2102 Developer Responsibilities update
  src/content/data-streams/developer-responsibilities.mdx
Labels: Chainlink Data Streams

#2101 Streams onboarding clarification
  src/content/data-streams/tutorials/streams-direct/streams-direct-api.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-ws.mdx
  src/features/data-streams/common/dsNotes.mdx
  src/features/data-streams/common/gettingStarted.mdx
  src/features/data-streams/common/gettingStartedHardhat.mdx
Labels: Chainlink Data Streams

#2103 Adjust VRF Sepolia lane and CLA deprecation notice
  src/content/vrf/v2-5/supported-networks.mdx
  src/features/chainlink-automation/common/deprecation.mdx
Labels: ready to merge, Chainlink VRF, Chainlink Automation

#2104 CCIP 1.5
  hardhat.config.ts
  package-lock.json
  package.json
  public/changelog.json
  public/samples/CCIP/Acknowledger.sol
  public/samples/CCIP/MessageTracker.sol
  public/samples/CCIP/Messenger.sol
  public/samples/CCIP/ProgrammableDefensiveTokenTransfers.sol
  public/samples/CCIP/ProgrammableTokenTransfers.sol
  public/samples/CCIP/ProgrammableTokenTransfersLowGasLimit.sol
  public/samples/CCIP/Receiver.sol
  public/samples/CCIP/Sender.sol
  public/samples/CCIP/TestCCIPLocalSimulator.sol
  public/samples/CCIP/TokenTransferor.sol
  public/samples/CCIP/usdc/Receiver.sol
  public/samples/CCIP/usdc/Sender.sol
  public/samples/CCIP/usdc/Staker.sol
  src/config/data/ccip/types.ts
  src/config/data/ccip/v1_2_0/testnet/chains.json
  src/config/data/ccip/v1_2_0/testnet/lanes.json
  src/config/data/ccip/v1_2_0/testnet/tokens.json
  src/config/sidebar.ts
  src/content/ccip/api-reference/ccip-receiver.mdx
  src/content/ccip/api-reference/client.mdx
  src/content/ccip/api-reference/i-router-client.mdx
  src/content/ccip/architecture.mdx
  src/content/ccip/best-practices.mdx
  src/content/ccip/concepts/ccip-execution-latency.mdx
  src/content/ccip/concepts/index.mdx
  src/content/ccip/getting-started.mdx
  src/content/ccip/service-responsibility.mdx
  src/content/ccip/supported-networks/index.mdx
  src/content/ccip/tutorials/cross-chain-tokens.mdx
  src/content/ccip/tutorials/manual-execution.mdx
  src/content/ccip/tutorials/programmable-token-transfers-defensive.mdx
  src/content/ccip/tutorials/programmable-token-transfers.mdx
  src/content/ccip/tutorials/send-arbitrary-data-receipt-acknowledgment.mdx
  src/content/ccip/tutorials/send-arbitrary-data.mdx
  src/content/ccip/tutorials/usdc.mdx
  src/features/ccip/CcipCommon.astro
  src/features/ccip/ExtraArgsCallout.mdx
  src/features/ccip/ImportCCIPPackage.mdx
  src/features/ccip/RMNCaution.mdx
  src/features/ccip/SenderContractCallout.mdx
  src/features/ccip/components/supported-networks/LaneConfig.astro
Labels: Chainlink CCIP

#2105 Add gas spikes note
  src/content/ccip/getting-started.mdx
  src/content/ccip/tutorials/cross-chain-tokens.mdx
  src/content/ccip/tutorials/manual-execution.mdx
  src/content/ccip/tutorials/programmable-token-transfers-defensive.mdx
  src/content/ccip/tutorials/programmable-token-transfers.mdx
  src/content/ccip/tutorials/send-arbitrary-data-receipt-acknowledgment.mdx
  src/content/ccip/tutorials/send-arbitrary-data.mdx
  src/content/ccip/tutorials/usdc.mdx
  src/features/ccip/CcipCommon.astro
  src/features/ccip/GasSpike.mdx
Labels: Chainlink CCIP

#2119 Add Issuer PoR field
  src/features/feeds/components/Tables.tsx
Labels: Chainlink Data Feeds

#2121 Node release 2.17.0
  public/changelog.json
  src/content/chainlink-nodes/v1/node-config.mdx
  src/content/chainlink-nodes/v1/running-a-chainlink-node.mdx
Labels: ready to merge, Chainlink Nodes

#2130 EOA clarification
  src/content/vrf/v2-5/overview/direct-funding.mdx
  src/content/vrf/v2-5/overview/subscription.mdx
Labels: ready to merge, Chainlink VRF

#2134 Forwarder for time-based upkeep
  public/images/automation/cron-upkeep-address.png
  public/images/automation/forwarder-address-ui.png
  src/content/chainlink-automation/guides/forwarder.mdx
Labels: Chainlink Automation

#2131 Move log trigger limits to dedicated service limits page
  src/config/sidebar.ts
  src/content/chainlink-automation/concepts/automation-concepts.mdx
  src/content/chainlink-automation/guides/log-trigger.mdx
  src/content/chainlink-automation/overview/service-limits.mdx
Labels: Chainlink Automation

#2135 Add Streams Trade implementation notes
  src/components/QuickLinks/data/productChainLinks.ts
  src/content/data-streams/architecture.mdx
  src/content/data-streams/index.mdx
  src/content/data-streams/reference/streams-trade-interface.mdx
  src/content/data-streams/tutorials/streams-trade/index.mdx
  src/content/data-streams/tutorials/streams-trade/streams-trade-lookup-error-handler.mdx
Labels: Chainlink Data Streams

#2139 Data Streams on opBNB
  public/assets/chains/opbnb.svg
  public/changelog.json
  src/components/QuickLinks/data/productChainLinks.ts
  src/features/feeds/components/Tables.tsx
Labels: Chainlink Data Streams

#2145 Data Streams - Solana
  public/changelog.json
  src/components/QuickLinks/data/productChainLinks.ts
  src/features/feeds/components/Tables.module.css
  src/features/feeds/components/Tables.tsx
Labels: Chainlink Data Streams

#2147 New Vercel build
  src/features/feeds/components/FeedList.tsx
Labels: blocked

#2154 Data Streams - RWAs
  public/changelog.json
  public/samples/DataStreams/ClientReportsVerifier.sol
  public/samples/DataStreams/StreamsUpkeep.sol
  public/samples/DataStreams/StreamsUpkeepRegistrar.sol
  public/samples/DataStreams/StreamsUpkeepWithErrorHandler.sol
  src/components/LeftSidebar/LeftSidebar.astro
  src/components/PageTabs.astro
  src/components/QuickLinks/data/productChainLinks.ts
  src/config/sidebar.ts
  src/content/data-streams/architecture.mdx
  src/content/data-streams/billing.mdx
  src/content/data-streams/concepts/liquidity-weighted-prices.mdx
  src/content/data-streams/crypto-streams/index.mdx
  src/content/data-streams/developer-responsibilities.mdx
  src/content/data-streams/getting-started-hardhat.mdx
  src/content/data-streams/getting-started.mdx
  src/content/data-streams/index.mdx
  src/content/data-streams/reference/report-schema-v4.mdx
  src/content/data-streams/reference/report-schema.mdx
  src/content/data-streams/reference/streams-direct/streams-direct-go-sdk.mdx
  src/content/data-streams/reference/streams-direct/streams-direct-interface-api.mdx
  src/content/data-streams/reference/streams-direct/streams-direct-interface-ws.mdx
  src/content/data-streams/reference/streams-direct/streams-direct-onchain-verification.mdx
  src/content/data-streams/release-notes.mdx
  src/content/data-streams/rwa-streams/index.mdx
  src/content/data-streams/stream-ids.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-api-rwa.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-api.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-onchain-verification.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-ws-rwa.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-ws.mdx
  src/content/data-streams/tutorials/streams-trade/index.mdx
  src/content/data-streams/tutorials/streams-trade/streams-trade-lookup-error-handler.mdx
  src/features/data-streams/common/gettingStarted.mdx
  src/features/data-streams/common/gettingStartedHardhat.mdx
  src/features/feeds/components/FeedList.tsx
  src/features/feeds/components/FeedPage.astro
  src/features/feeds/components/Tables.module.css
  src/features/feeds/components/Tables.tsx
  src/features/redirects/redirects.json
  src/pages/index.astro
  vercel.json
Labels: Chainlink Data Streams

#2159 Data Feeds - SmartData Feeds
  public/changelog.json
  src/config/sidebar.ts
  src/content/data-feeds/index.mdx
  src/content/data-feeds/proof-of-reserve/addresses.mdx
  src/content/data-feeds/smartdata/addresses.mdx
  src/content/data-feeds/smartdata/index.mdx
  src/content/data-feeds/using-data-feeds.mdx
  src/features/data/chains.ts
  src/features/feeds/components/FeedList.tsx
  src/features/feeds/components/FeedPage.astro
  src/features/feeds/components/Tables.tsx
  src/features/feeds/components/pause-notice/PauseNotice.tsx
  src/features/redirects/redirects.json
  src/features/vrf/v2/components/CostTable.test.ts
  src/pages/index.astro
  vercel.json
Labels: Chainlink Data Feeds

#2162 SD table, small fix
  src/features/feeds/components/Tables.tsx
Labels: ready to merge
