Repository smartcontractkit/documentation, pull requests merged in 2024-03, with the labels that each got.

#1792 External link quick fix (404 error)
  src/content/ccip/concepts/index.mdx
Labels: Chainlink CCIP

#1796 Update RDD URLs for zkEVM and zkSync
  src/features/data/chains.ts
Labels: ready to merge, Chainlink Data Feeds

#1795 CLA StreamsLookup ErrorHandler
  public/images/automation/streamslookup-errorhandler-horizontal.png
  public/samples/Automation/StreamsWithError.sol
  src/config/sidebar.ts
  src/content/chainlink-automation/guides/streams-lookup-error-handler.mdx
  src/features/chainlink-automation/common/StreamsLookupInterface.mdx
Labels: Chainlink Automation

#1799 Add new Data Feed categories
  public/images/developer-responsibilities.webp
  src/config/sidebar.ts
  src/content/data-feeds/developer-responsibilities.mdx
  src/content/data-feeds/selecting-data-feeds.mdx
  src/features/data/chains.ts
  src/features/feeds/callouts/etf-best-practices.mdx
  src/features/feeds/callouts/feed-quality.mdx
  src/features/feeds/components/FeedList.tsx
  src/features/feeds/components/Tables.tsx
  src/features/feeds/types/index.ts
Labels: Chainlink Data Feeds

#1800 Update Automation release notes
  src/content/chainlink-automation/overview/automation-release-notes.mdx
Labels: ready to merge, Chainlink Automation

#1801 Fix an error code
  public/samples/Automation/StreamsWithError.sol
  src/content/chainlink-automation/guides/streams-lookup-error-handler.mdx
Labels: ready to merge, Chainlink Automation

#1804 Add V1 revalidation to best practices
  src/content/chainlink-automation/concepts/best-practice.mdx
Labels: ready to merge, Chainlink Automation

#1806 CCIP Service Responsibility
  src/config/sidebar.ts
  src/content/ccip/service-responsibility.mdx
  src/content/data-feeds/developer-responsibilities.mdx
Labels: Chainlink CCIP

#1802 Add Wemix and Kroma support to the docs
  public/assets/chains/kroma.svg
  public/assets/chains/wemix.svg
  src/config/data/ccip/v1_2_0/mainnet/chains.json
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
  src/config/data/ccip/v1_2_0/testnet/chains.json
  src/config/data/ccip/v1_2_0/testnet/lanes.json
  src/config/data/ccip/v1_2_0/testnet/tokens.json
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/content/resources/link-token-contracts.mdx
  src/features/landing/data/index.ts
  src/features/utils/index.ts
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: blocked, Chainlink CCIP

#1810 Update get-uint256.toml evmChainID
  public/samples/ChainlinkNodes/forwarder/get-string.toml
  public/samples/ChainlinkNodes/forwarder/get-uint256.toml
  public/samples/ChainlinkNodes/jobs/get-bytes32.toml
  public/samples/ChainlinkNodes/jobs/get-string.toml
  public/samples/ChainlinkNodes/jobs/get-uint256.toml
Labels: Chainlink Nodes

#1707 Package updates
  package-lock.json
  package.json
  src/content/quickstarts/hardhat-plugin.mdx
Labels: enhancement

#1812 Minor consistency edits
  src/content/ccip/index.mdx
  src/content/chainlink-automation/concepts/automation-architecture.mdx
Labels: ready to merge

#1813 Guides section update + ABI encoding/decoding clarifications
  src/config/sidebar.ts
  src/content/chainlink-functions/tutorials/abi-decoding.mdx
  src/content/chainlink-functions/tutorials/api-custom-response.mdx
  src/content/chainlink-functions/tutorials/importing-packages.mdx
  src/content/chainlink-functions/tutorials/index.mdx
Labels: Chainlink Functions

#1819 Functions docs small fixes
  src/config/sidebar.ts
  src/content/chainlink-functions/api-reference/javascript-source.mdx
Labels: ready to merge, Chainlink Functions

#1821 Quick fix - Refine ABI Data Encoding
  src/content/chainlink-functions/tutorials/abi-decoding.mdx
Labels: Chainlink Functions

#1823 CCIP: explain packages import
  src/content/ccip/api-reference/ccip-receiver.mdx
  src/content/ccip/api-reference/client.mdx
  src/content/ccip/api-reference/errors.mdx
  src/content/ccip/api-reference/i-router-client.mdx
  src/content/ccip/tutorials/cross-chain-tokens.mdx
  src/content/ccip/tutorials/manual-execution.mdx
  src/content/ccip/tutorials/programmable-token-transfers-defensive.mdx
  src/content/ccip/tutorials/programmable-token-transfers.mdx
  src/content/ccip/tutorials/send-arbitrary-data-receipt-acknowledgment.mdx
  src/content/ccip/tutorials/send-arbitrary-data.mdx
  src/content/ccip/tutorials/usdc.mdx
  src/features/ccip/CcipCommon.astro
  src/features/ccip/ImportCCIPPackage.mdx
Labels: Chainlink CCIP

#1820 Display proper names for Data Feed categories in filtering list
  src/features/feeds/components/FeedList.tsx
Labels: Chainlink Data Feeds

#1825 CCIP: get status offchain
  src/config/sidebar.ts
  src/content/ccip/tutorials/cross-chain-tokens-from-eoa.mdx
  src/content/ccip/tutorials/get-status-offchain.mdx
  src/content/ccip/tutorials/index.mdx
  src/content/ccip/tutorials/offchain.mdx
Labels: Chainlink CCIP

#1824 Hardhat Getting Started Guide
  public/samples/DataStreams/StreamsUpkeepRegistrar.sol
  src/config/sidebar.ts
  src/content/data-streams/getting-started-hardhat.mdx
  src/features/data-streams/common/DataStreams.astro
  src/features/data-streams/common/gettingStarted.mdx
  src/features/data-streams/common/gettingStartedHardhat.mdx
Labels: Chainlink Data Streams

#1826 Goerli deprecation
  public/samples/DataFeeds/NFTFloorPriceConsumerV3.sol
  public/samples/VRF/RandomNumberConsumer.sol
  src/components/Tabs/NetworkTabs.astro
  src/components/index.ts
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/config/markdown-variables.ts
  src/config/types.ts
  src/config/web3Providers.ts
  src/content/any-api/testnet-oracles.mdx
  src/content/chainlink-automation/overview/supported-networks.mdx
  src/content/chainlink-nodes/contracts/addresses.mdx
  src/content/chainlink-nodes/resources/enabling-https-connections.mdx
  src/content/chainlink-nodes/resources/performing-system-maintenance.mdx
  src/content/chainlink-nodes/resources/run-an-ethereum-client.mdx
  src/content/chainlink-nodes/v1/fulfilling-requests.mdx
  src/content/chainlink-nodes/v1/running-a-chainlink-node.mdx
  src/content/quickstarts/giveaway.mdx
  src/content/quickstarts/historical-price-feeds-api.mdx
  src/content/quickstarts/vrf-enabled-lootbox-pack.mdx
  src/content/resources/link-token-contracts.mdx
  src/content/vrf/v1/supported-networks.mdx
  src/content/vrf/v2/direct-funding/supported-networks.mdx
  src/content/vrf/v2/subscription/supported-networks.mdx
  src/features/chainlink-automation/data/chainlink-automation-addresses.json
  src/features/chainlink-automation/data/chainlink-automation-config.json
  src/features/data/chains.ts
  src/features/utils/index.ts
  src/features/vrf/v2/components/CostTable.test.ts
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: ready to merge, Chainlink Data Feeds, Chainlink Nodes, Chainlink VRF, Chainlink Automation

#1827 remove AMO
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
Labels: Chainlink CCIP

#1829 Update Streams for beta.1 contracts
  public/images/data-streams/getting-started/solidity-compiler.webp
  public/samples/DataStreams/StreamsUpkeep.sol
  public/samples/DataStreams/StreamsUpkeepRegistrar.sol
  src/features/data-streams/common/gettingStarted.mdx
  src/features/data-streams/common/gettingStartedHardhat.mdx
Labels: Chainlink Data Streams

#1835 use ccip v1.2.1
  package-lock.json
  package.json
  public/samples/CCIP/Acknowledger.sol
  public/samples/CCIP/MessageTracker.sol
  public/samples/CCIP/Messenger.sol
  public/samples/CCIP/ProgrammableDefensiveTokenTransfers.sol
  public/samples/CCIP/ProgrammableTokenTransfers.sol
  public/samples/CCIP/ProgrammableTokenTransfersLowGasLimit.sol
  public/samples/CCIP/TokenTransferor.sol
  src/features/ccip/ImportCCIPPackage.mdx
Labels: Chainlink CCIP

#1837 use ccip v1.4.0
  package-lock.json
  package.json
  public/samples/CCIP/Acknowledger.sol
  public/samples/CCIP/MessageTracker.sol
  public/samples/CCIP/Messenger.sol
  public/samples/CCIP/ProgrammableDefensiveTokenTransfers.sol
  public/samples/CCIP/ProgrammableTokenTransfers.sol
  public/samples/CCIP/ProgrammableTokenTransfersLowGasLimit.sol
  public/samples/CCIP/TokenTransferor.sol
  src/features/ccip/ImportCCIPPackage.mdx
Labels: Chainlink CCIP

#1832 batch3 mainnet
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
Labels: Chainlink CCIP

#1831 Optimism and BASE testnets; USD premiums
  src/content/chainlink-functions/resources/billing.mdx
  src/content/chainlink-functions/resources/release-notes.mdx
  src/content/chainlink-functions/supported-networks.mdx
  src/features/landing/data/index.ts
Labels: Chainlink Functions

#1838 Update pauce notice check
  src/features/feeds/components/pause-notice/PauseNotice.tsx
Labels: ready to merge, Chainlink Data Feeds

#1816 CCIP: tutorial on estimating the gas limit
  src/config/sidebar.ts
  src/content/ccip/tutorials/ccipreceive-gaslimit.mdx
  src/content/ccip/tutorials/index.mdx
Labels: Chainlink CCIP

#1840 CLA - StreamsLookup error handler quick fix
  src/features/chainlink-automation/common/StreamsLookupInterface.mdx
Labels: Chainlink Automation, Chainlink Data Streams

#1842 Add zkSync Sepolia testnet to Data Feeds lists and remove zkSync Goerli
  src/config/data/chain-to-technology.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/content/resources/link-token-contracts.mdx
  src/features/data/chains.ts
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: ready to merge, Chainlink Data Feeds

#1845 Add examples to best practices
  package-lock.json
  src/content/ccip/best-practices.mdx
Labels: Chainlink CCIP

#1846 Use safeTransfer in all examples
  public/samples/CCIP/Messenger.sol
  public/samples/CCIP/ProgrammableTokenTransfers.sol
  public/samples/CCIP/ProgrammableTokenTransfersLowGasLimit.sol
  public/samples/CCIP/TokenTransferor.sol
Labels: Chainlink CCIP

#1852 tokens transfer reco
  .vscode/settings.json
  src/content/ccip/index.mdx
Labels: Chainlink CCIP

#1856 VRF Fantom support change
  src/content/vrf/release-notes.mdx
  src/content/vrf/v2/subscription/supported-networks.mdx
Labels: ready to merge, Chainlink VRF
