Repository smartcontractkit/documentation, pull requests merged in 2024-01, with the labels that each got.

#1712 fix USDC mumbai polygon address
  src/config/data/ccip/v1_2_0/testnet/tokens.json
Labels: Chainlink CCIP

#1718 fixes typo: replaces incorrect function name
  src/content/ccip/tutorials/cross-chain-tokens.mdx
Labels: Chainlink CCIP

#1711 improve simulation guide
  .vscode/settings.json
  src/config/sidebar.ts
  src/content/chainlink-functions/resources/playground.mdx
  src/content/chainlink-functions/resources/simulation.mdx
  src/features/redirects/redirects.json
Labels: Chainlink Functions

#1719 CCIP testnet: fix ethereum addreses
  src/config/data/ccip/v1_2_0/testnet/chains.json
  src/config/data/ccip/v1_2_0/testnet/tokens.json
Labels: Chainlink CCIP

#1721 fixes typo: replaces incorrect function name
  src/content/ccip/tutorials/programmable-token-transfers.mdx
Labels: Chainlink CCIP

#1713 Chainlink Functions NPM import: mainnet support and explain _send override in the tutorial
  src/content/chainlink-functions/resources/release-notes.mdx
  src/content/chainlink-functions/tutorials/importing-packages.mdx
  src/features/chainlink-functions/common/DenoImportNotes.mdx
Labels: Chainlink Functions

#1720 CCIP: USDC guide
  .vscode/settings.json
  public/images/ccip/tutorials/ccip-explorer-send-usdc-message-pay-link-tx-details-success.jpg
  public/images/ccip/tutorials/ccip-explorer-send-usdc-message-pay-link-tx-details.jpg
  public/images/ccip/tutorials/mumbai-usdc-messagedetails-pay-link.jpg
  public/images/ccip/usdc-diagram.png
  src/config/sidebar.ts
  src/content/ccip/test-tokens.mdx
  src/content/ccip/tutorials/cross-chain-tokens-from-eoa.mdx
  src/content/ccip/tutorials/cross-chain-tokens.mdx
  src/content/ccip/tutorials/programmable-token-transfers-defensive.mdx
  src/content/ccip/tutorials/programmable-token-transfers.mdx
  src/content/ccip/tutorials/send-arbitrary-data.mdx
  src/content/ccip/tutorials/usdc.mdx
Labels: Chainlink CCIP

#1724 fix: incorrect function description
  src/content/ccip/api-reference/client.mdx
Labels: Chainlink CCIP

#1729 Update codeowners
  CODEOWNERS
Labels: ready to merge

#1717 Metis bridge notice
  src/content/resources/link-token-contracts.mdx
Labels: ready to merge

#1730 Optimism Sepolia for Data Feeds
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/content/resources/link-token-contracts.mdx
  src/features/data/chains.ts
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: blocked, Chainlink Data Feeds

#1732 Minor edits to Data Streams docs
  public/images/data-streams/getting-started/compile-logemitter.webp
  public/images/data-streams/getting-started/deploy-logemitter.webp
  public/images/data-streams/getting-started/deploy-upkeep.webp
  public/images/data-streams/getting-started/deployed-logemitter.webp
  public/images/data-streams/getting-started/deployed-upkeep-1.webp
  public/images/data-streams/getting-started/deployed-upkeep-2.webp
  public/images/data-streams/getting-started/emitter-emitlog.webp
  public/images/data-streams/getting-started/fund-deployed-upkeep.webp
  public/images/data-streams/getting-started/injected-provider.webp
  public/images/data-streams/getting-started/remix-copy-abi.webp
  public/images/data-streams/getting-started/request-fulfilled.webp
  public/images/data-streams/getting-started/solidity-compiler.webp
  src/content/data-streams/getting-started.mdx
  src/content/data-streams/index.mdx
  src/content/data-streams/reference/interfaces.mdx
  src/content/data-streams/reference/report-schema.mdx
  src/content/data-streams/release-notes.mdx
  src/features/data-streams/common/gettingStarted.mdx
  src/features/feeds/components/FeedList.tsx
  src/features/feeds/components/FeedPage.astro
  src/features/feeds/components/Tables.tsx
Labels: Chainlink Data Streams

#1736 CL Node release 2.8.0
  src/config/sidebar.ts
  src/content/chainlink-nodes/external-initiators/external-initiators-in-nodes.mdx
  src/content/chainlink-nodes/external-initiators/external-initiators-introduction.mdx
  src/content/chainlink-nodes/node-versions.mdx
  src/content/chainlink-nodes/resources/best-practices-aws.mdx
  src/content/chainlink-nodes/resources/best-security-practices.mdx
  src/content/chainlink-nodes/resources/evm-performance-configuration.mdx
  src/content/chainlink-nodes/resources/performing-system-maintenance.mdx
  src/content/chainlink-nodes/resources/run-an-ethereum-client.mdx
  src/content/chainlink-nodes/v1/configuration.mdx
  src/content/chainlink-nodes/v1/node-config.mdx
  src/content/chainlink-nodes/v1/running-a-chainlink-node.mdx
  src/content/chainlink-nodes/v1/secrets-config.mdx
  src/features/redirects/redirects.json
Labels: Chainlink Nodes

#1737 Fix CL Node release headers
  src/content/chainlink-nodes/node-versions.mdx
Labels: Chainlink Nodes

#1710 Add Arbitrum mainnet for Data Streams
  src/content/data-streams/getting-started.mdx
  src/content/data-streams/index.mdx
  src/content/data-streams/release-notes.mdx
  src/features/data-streams/common/gettingStarted.mdx
  src/features/data/chains.ts
  src/features/feeds/components/FeedList.tsx
  src/features/feeds/components/Tables.tsx
Labels: Chainlink Data Streams
