Repository smartcontractkit/documentation, pull requests merged in 2025-04, with the labels that each got.

#2482 Soneium vrf
  public/changelog.json
  src/content/vrf/v2-5/supported-networks.mdx
Labels: Do not merge

#2517 Update DS notes
  src/content/chainlink-automation/guides/streams-lookup-error-handler.mdx
  src/content/chainlink-automation/guides/streams-lookup.mdx
  src/content/data-streams/tutorials/streams-direct/evm-onchain-report-verification.mdx
  src/content/data-streams/tutorials/streams-direct/solana-offchain-report-verification.mdx
  src/content/data-streams/tutorials/streams-direct/solana-onchain-report-verification.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-api-go.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-api-rust.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-api-rwa-go.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-api-rwa-rust.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-ws-go.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-ws-rust.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-ws-rwa-go.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-ws-rwa-rust.mdx
  src/features/data-streams/common/dsNotes.mdx
  src/features/data-streams/common/gettingStarted.mdx
  src/features/data-streams/common/gettingStartedHardhat.mdx
Labels: Chainlink Data Streams

#2507 Add Finality for ApeChain, Cronos, Cronos zkEVM, Mind
  src/content/ccip/concepts/ccip-execution-latency.mdx
Labels: Chainlink CCIP

#2532 update
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
  src/config/data/ccip/v1_2_0/testnet/tokens.json
  src/content/chainlink-nodes/v1/node-config.mdx
  src/content/resources/link-token-contracts.mdx
Labels: Chainlink CCIP

#2536 Weglot removal
  src/components/HeadCommon.astro
  src/components/Header/Nav/NavBar.tsx
  src/components/Header/Nav/navBar.module.css
Labels: Do not merge

#2563 DS - Gnosis integration
  .github/scripts/data/detect-data.sh
  public/changelog.json
  src/components/QuickLinks/data/productChainLinks.ts
  src/features/feeds/data/StreamsNetworksData.ts
Labels: Chainlink Data Streams
