Repository smartcontractkit/documentation, pull requests merged in 2025-01, with the labels that each got.

#2250 update
  src/components/CCIP/Drawer/LaneDrawer.tsx
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
Labels: Chainlink CCIP

#2241 DS - Rust SDK
  public/images/tutorial-icons/go_logo_black.png
  public/images/tutorial-icons/rust_logo_blk.svg
  src/config/sidebar.ts
  src/content/data-streams/index.mdx
  src/content/data-streams/reference/report-schema-v4.mdx
  src/content/data-streams/reference/report-schema.mdx
  src/content/data-streams/reference/streams-direct/index.mdx
  src/content/data-streams/reference/streams-direct/streams-direct-go-sdk.mdx
  src/content/data-streams/reference/streams-direct/streams-direct-onchain-verification.mdx
  src/content/data-streams/reference/streams-direct/streams-direct-rust-sdk.mdx
  src/content/data-streams/streams-direct/index.mdx
  src/content/data-streams/streams-trade/index.mdx
  src/content/data-streams/tutorials/streams-direct/evm-onchain-report-verification.mdx
  src/content/data-streams/tutorials/streams-direct/index.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-api-go.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-api-rust.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-api-rwa-go.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-api-rwa-rust.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-api-rwa.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-api.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-ws-go.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-ws-rust.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-ws-rwa-go.mdx
  src/content/data-streams/tutorials/streams-direct/streams-direct-ws-rwa-rust.mdx
  src/content/data-streams/tutorials/streams-trade/index.mdx
  src/features/data-streams/common/gettingStarted.mdx
  src/features/data-streams/common/gettingStartedHardhat.mdx
  src/features/redirects/redirects.json
  vercel.json
Labels: Chainlink Data Streams

#2258 DF - Sonic integration
  public/assets/chains/sonic.svg
  public/changelog.json
  src/components/QuickLinks/data/productChainLinks.ts
  src/features/data/chains.ts
Labels: Chainlink Data Feeds

#2259 Updated copyright to 2025
  src/components/Footer/Footer.astro
Labels: ready to merge

#2275 Stronger Functions banners in Any API pages
  src/content/any-api/api-reference.mdx
  src/content/any-api/find-oracle.mdx
  src/content/any-api/get-request/examples/array-response.mdx
  src/content/any-api/get-request/examples/existing-job-request.mdx
  src/content/any-api/get-request/examples/large-responses.mdx
  src/content/any-api/get-request/examples/multi-variable-responses.mdx
  src/content/any-api/get-request/examples/single-word-response.mdx
  src/content/any-api/get-request/introduction.mdx
  src/content/any-api/getting-started.mdx
  src/content/any-api/introduction.mdx
  src/content/any-api/testnet-oracles.mdx
  src/features/any-api/common/AnyApiCallout.astro
  src/features/any-api/common/UseFunctions.mdx
Labels: ready to merge

#2278 update
  public/assets/chains/bitlayer.svg
  public/assets/chains/botanix.svg
  public/assets/chains/corn.svg
  public/assets/chains/hashkey.png
  public/assets/chains/hashkey.svg
  public/assets/chains/ink.svg
  public/assets/chains/worldchain.svg
  public/assets/chains/xlayer.svg
  public/changelog.json
  src/components/QuickLinks/data/productChainLinks.ts
  src/config/data/ccip/v1_2_0/mainnet/chains.json
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
  src/config/data/ccip/v1_2_0/testnet/chains.json
  src/config/data/ccip/v1_2_0/testnet/lanes.json
  src/config/data/ccip/v1_2_0/testnet/tokens.json
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/content/resources/link-token-contracts.mdx
  src/features/utils/index.ts
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: Chainlink CCIP

#2279 update service responsibility DOC678
  src/content/ccip/service-responsibility.mdx
Labels: Chainlink CCIP

#2288 Sei CCIP
  package-lock.json
  package.json
  public/assets/chains/sei.svg
  src/components/CCIP/Chain/Chain.astro
  src/components/CCIP/Chain/ChainTokenGrid.tsx
  src/components/CCIP/ChainHero/ChainHero.tsx
  src/components/CCIP/ChainHero/LaneDetailsHero.tsx
  src/components/CCIP/ChainHero/TokenDetailsHero.tsx
  src/components/CCIP/Drawer/LaneDrawer.tsx
  src/components/CCIP/Drawer/TokenDrawer.tsx
  src/components/CCIP/Hero/Hero.tsx
  src/components/CCIP/Search/Search.tsx
  src/components/CCIP/Tables/ChainTable.tsx
  src/components/CCIP/Tables/TokenChainsTable.tsx
  src/components/CCIP/Token/Token.astro
  src/components/CCIP/TutorialBlockchainSelector/ContractVerificationStep.tsx
  src/components/QuickLinks/data/productChainLinks.ts
  src/config/data/ccip/data.ts
  src/config/data/ccip/types.ts
  src/config/data/ccip/v1_2_0/mainnet/chains.json
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
  src/config/data/ccip/v1_2_0/testnet/chains.json
  src/config/data/ccip/v1_2_0/testnet/lanes.json
  src/config/data/ccip/v1_2_0/testnet/tokens.json
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/content/resources/link-token-contracts.mdx
  src/features/utils/index.ts
  src/scripts/chains-metadata.ts
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: Chainlink CCIP

#2289 Update changelog.json
  public/changelog.json
Labels: Chainlink CCIP

#2292 Node release v2.20.0
  public/changelog.json
  src/content/chainlink-nodes/v1/node-config.mdx
  src/content/chainlink-nodes/v1/running-a-chainlink-node.mdx
Labels: Chainlink Nodes

#2296 DF-DS - Soneium integrations
  src/features/data/chains.ts
  src/features/feeds/components/Tables.tsx
Labels: Chainlink Data Feeds, Chainlink Data Streams
