Repository smartcontractkit/documentation, pull requests merged in 2025-05, with the labels that each got.

#2607 update code owners
  CODEOWNERS
Labels: blocked

#2615 DF - Monad Testnet
  public/changelog.json
  src/components/QuickLinks/data/productChainLinks.ts
  src/features/data/chains.ts
Labels: Chainlink Data Feeds

#2616 update
  src/config/data/ccip/v1_2_0/mainnet/chains.json
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
Labels: Chainlink CCIP

#2635 NXPC
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
Labels: Chainlink CCIP

#2610 solana link token
  src/content/resources/link-token-contracts.mdx
Labels: Do not merge

#2639 rootstock mainnet ccip
  public/changelog.json
  src/components/QuickLinks/data/productChainLinks.ts
  src/config/data/ccip/v1_2_0/mainnet/chains.json
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
  src/config/data/chains.json
Labels: Chainlink CCIP

#2646 Update algolia search package - To be deployed Mon 19th May
  package-lock.json
  package.json
Labels: Do not merge

#2694 Add Aptos platform pkg addresses
  src/content/data-feeds/aptos/index.mdx
  src/features/feeds/components/FeedList.tsx
Labels: Chainlink Data Feeds
