Repository smartcontractkit/documentation, pull requests merged in 2025-02, with the labels that each got.

#2305 CCIP Directory: fix links
  src/components/CCIP/ChainHero/ChainHero.tsx
  src/components/CCIP/ChainHero/TokenDetailsHero.tsx
Labels: Chainlink CCIP

#2306 Remove network name from URL params
  src/features/feeds/components/FeedList.tsx
Labels: Chainlink Data Streams

#2307 Misc chain integrations
  src/content/chainlink-functions/supported-networks.mdx
  src/features/chainlink-automation/data/chainlink-automation-addresses.json
  src/features/chainlink-automation/data/chainlink-automation-config.json
Labels: Chainlink Automation, Chainlink Functions

#2315 update config
  src/config/data/ccip/v1_2_0/testnet/chains.json
  src/config/data/ccip/v1_2_0/testnet/lanes.json
  src/config/data/ccip/v1_2_0/testnet/tokens.json
  src/config/data/chains.json
Labels: Chainlink CCIP

#2142 Add new L2 sequencer feed address
  src/content/data-feeds/l2-sequencer-feeds.mdx
Labels: Chainlink Data Feeds

#2319 Update LaneDrawer & TokenDrawer
  src/components/CCIP/Drawer/LaneDrawer.tsx
  src/components/CCIP/Drawer/TokenDrawer.tsx
Labels: Chainlink CCIP

#2320 update gho pools
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
Labels: Chainlink CCIP

#2317 new chains on CCIP, DS, DF, Functions & Automation
  public/changelog.json
Labels: Chainlink Data Feeds, Chainlink Automation, Chainlink Functions, Chainlink CCIP, Chainlink Data Streams

#2329 Remove zkSync from Automation docs
  src/features/chainlink-automation/data/chainlink-automation-addresses.json
  src/features/chainlink-automation/data/chainlink-automation-config.json
Labels: Chainlink Automation

#2335 DS square logos
  src/features/feeds/components/Tables.module.css
Labels: Chainlink Data Streams

#2336 treasure mainnet
  public/changelog.json
  src/components/QuickLinks/data/productChainLinks.ts
  src/config/data/ccip/v1_2_0/mainnet/chains.json
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
  src/content/resources/link-token-contracts.mdx
Labels: Chainlink CCIP

#2331 Disclaimer component
  src/content/ccip/ccip-javascript-sdk.mdx
  src/content/ccip/test-tokens.mdx
  src/content/ccip/tutorials/ccipreceive-gaslimit.mdx
  src/content/ccip/tutorials/cross-chain-tokens/index.mdx
  src/content/ccip/tutorials/cross-chain-tokens/register-from-eoa-burn-mint-foundry.mdx
  src/content/ccip/tutorials/cross-chain-tokens/register-from-eoa-burn-mint-hardhat.mdx
  src/content/ccip/tutorials/cross-chain-tokens/register-from-eoa-lock-mint-foundry.mdx
  src/content/ccip/tutorials/cross-chain-tokens/register-from-eoa-lock-mint-hardhat.mdx
  src/content/ccip/tutorials/cross-chain-tokens/register-from-eoa-remix.mdx
  src/content/ccip/tutorials/cross-chain-tokens/register-from-safe-burn-mint-hardhat.mdx
  src/content/ccip/tutorials/cross-chain-tokens/update-rate-limiters-foundry.mdx
  src/content/ccip/tutorials/cross-chain-tokens/update-rate-limiters-hardhat.mdx
  src/content/ccip/tutorials/get-status-offchain.mdx
  src/content/ccip/tutorials/manual-execution.mdx
  src/content/ccip/tutorials/programmable-token-transfers-defensive.mdx
  src/content/ccip/tutorials/programmable-token-transfers.mdx
  src/content/ccip/tutorials/send-arbitrary-data-receipt-acknowledgment.mdx
  src/content/ccip/tutorials/send-arbitrary-data.mdx
  src/content/ccip/tutorials/token-manager.mdx
  src/content/ccip/tutorials/transfer-tokens-from-contract.mdx
  src/content/ccip/tutorials/transfer-tokens-from-eoa.mdx
  src/content/ccip/tutorials/usdc.mdx
  src/features/ccip/CcipCommon.astro
  src/features/ccip/EducationalDisclaimer.mdx
Labels: Chainlink CCIP

#2337 DF - Unichain Sepolia integration
  public/assets/chains/unichain.svg
  public/changelog.json
  src/components/QuickLinks/data/productChainLinks.ts
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/content/resources/link-token-contracts.mdx
  src/features/data/chains.ts
  src/features/utils/index.ts
  src/scripts/reference/chains.json
  src/scripts/reference/linkNameSymbol.json
Labels: Chainlink Data Feeds

#2339 DS - Hashkey, Ink, Ronin integrations
  public/changelog.json
  src/components/QuickLinks/data/productChainLinks.ts
  src/features/feeds/components/Tables.tsx
Labels: Chainlink Data Streams

#2346 DS - Berachain, Blast integrations
  public/assets/chains/berachain.svg
  public/changelog.json
  src/components/QuickLinks/data/productChainLinks.ts
  src/features/feeds/components/Tables.tsx
Labels: Chainlink Data Streams

#2345 updated optimism to op mainnet
  public/samples/DataFeeds/DataConsumerWithSequencerCheck.sol
  src/components/QuickLinks/data/productChainLinks.ts
  src/config/data/chains.json
  src/content/ccip/architecture.mdx
  src/content/ccip/concepts/ccip-execution-latency.mdx
  src/content/chainlink-automation/overview/automation-economics.mdx
  src/content/chainlink-automation/overview/service-limits.mdx
  src/content/chainlink-automation/overview/supported-networks.mdx
  src/content/chainlink-functions/supported-networks.mdx
  src/content/chainlink-local/api-reference/v0.2.1/register.mdx
  src/content/chainlink-local/api-reference/v0.2.2/register.mdx
  src/content/chainlink-local/api-reference/v0.2.3/register.mdx
  src/content/data-feeds/getting-started.mdx
  src/content/data-feeds/l2-sequencer-feeds.mdx
  src/content/resources/link-token-contracts.mdx
  src/content/vrf/v2-5/supported-networks.mdx
  src/features/data/chains.ts
  src/features/feeds/components/Tables.tsx
Labels: Chainlink Data Feeds, Chainlink VRF, Chainlink Automation, Chainlink CCIP, Chainlink Data Streams

#2347 DS - Ink, Monad, World Chain integrations
  public/changelog.json
  src/components/QuickLinks/data/productChainLinks.ts
  src/features/feeds/components/Tables.tsx
Labels: Chainlink Data Streams

#2392 DS - Bob, Linea, Unichain integrations
  public/changelog.json
  src/components/QuickLinks/data/productChainLinks.ts
  src/features/feeds/components/Tables.tsx
  src/features/feeds/data/StreamsNetworksData.ts
Labels: Chainlink Data Streams

#2412 CCIP: SAS token
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
Labels: Chainlink CCIP
