Repository smartcontractkit/documentation, pull requests merged in 2025-06, with the labels that each got.

#2711 Tron data feeds
  src/config/sidebar.ts
  src/content/data-feeds/tron/index.mdx
  src/content/data-feeds/using-data-feeds.mdx
Labels: Chainlink Data Feeds

#2731 lido qs
  .prettierignore
  public/images/quickstarts/ccip-direct-staking/fast-stake.png
  public/images/quickstarts/ccip-direct-staking/slow-stake.png
  public/images/quickstarts/feature/QuickStarts-CCIP-Liquid-Staking.webp
  src/config/sidebar.ts
  src/content.config.ts
  src/content/ccip/examples/index.mdx
  src/content/quickstarts/automated-portfolio-manager.mdx
  src/content/quickstarts/automation-station.mdx
  src/content/quickstarts/ccip-direct-staking.mdx
  src/content/quickstarts/chainlink-hardhat-starter-kit.mdx
  src/content/quickstarts/deploy-your-first-contract.mdx
  src/content/quickstarts/eth-balance-monitor.mdx
  src/content/quickstarts/functions-demo-app.mdx
  src/content/quickstarts/giveaway.mdx
  src/content/quickstarts/hardhat-plugin.mdx
  src/content/quickstarts/historical-price-feeds-api.mdx
  src/content/quickstarts/pass-cost-to-end-user.mdx
  src/content/quickstarts/vrf-enabled-lootbox-pack.mdx
  src/content/quickstarts/vrf-mystery-box.mdx
  src/content/quickstarts/vrf-subscription-monitor.mdx
  src/content/quickstarts/web3js.mdx
  src/layouts/QuickstartLayout.astro
Labels: Chainlink CCIP

#2753 new tokens
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
Labels: Chainlink CCIP

#2774 liquid mainnet
  public/changelog.json
  src/components/QuickLinks/data/productChainLinks.ts
  src/config/data/ccip/v1_2_0/mainnet/chains.json
  src/config/data/ccip/v1_2_0/mainnet/lanes.json
  src/config/data/ccip/v1_2_0/mainnet/tokens.json
  src/content/resources/link-token-contracts.mdx
Labels: Do not merge

#2789 DF-DS - Katana & Botanix integrations
  .github/scripts/data/detect-data.sh
  public/changelog.json
  src/components/QuickLinks/data/productChainLinks.ts
  src/config/data/chain-to-technology.json
  src/config/data/chains.json
  src/config/types.ts
  src/config/web3Providers.ts
  src/features/data/chains.ts
  src/features/feeds/data/StreamsNetworksData.ts
  src/features/utils/index.ts
  src/scripts/reference/chains.json
Labels: Chainlink Data Feeds, Chainlink Data Streams
